In [1]:
# Import descrepancies
import pandas as pd 
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
# Load the file data into the path
file_path = "/Users/linghoang/UCBBootcamp/DataClass/GroupProject/Resources/Lake_Sammamish_0611.csv"

# Load the file_path data into dataframe
WQ0611_df = pd.read_csv(file_path, skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

# Show the WQ dataframe 
WQ0611_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
1,01/06/1994,L2704-19,5.0,NaN,NaN,NaN,104.0,NaN,NaN,8.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-20,10.0,0.02,<MDL,0.02,102.0,NaN,NaN,9.00,...,0.44,NaN,0.05,0.019,NaN,0.005,42.0,NaN,0.2,NaN
3,01/06/1994,L2704-21,15.0,NaN,NaN,NaN,105.0,NaN,NaN,9.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/06/1994,L2704-22,20.0,NaN,NaN,NaN,104.0,NaN,NaN,9.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01/06/1994,L2704-23,22.5,0.02,<MDL,0.02,103.0,NaN,NaN,9.19,...,0.40,NaN,0.05,0.023,NaN,0.005,42.0,NaN,0.2,NaN
6,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
7,02/14/1994,L2938-18,1.0,0.02,<MDL,0.02,102.5,NaN,NaN,10.81,...,0.47,NaN,0.05,0.030,NaN,0.005,NaN,NaN,NaN,NaN
8,02/14/1994,L2938-19,5.0,NaN,NaN,NaN,103.9,NaN,NaN,10.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,02/14/1994,L2938-20,10.0,0.02,<MDL,0.02,105.0,NaN,NaN,10.71,...,0.53,NaN,0.05,0.049,NaN,0.005,NaN,NaN,NaN,NaN

In [3]:
WQ0611_df.count()

CollectDate                        10033
SampleNum                          10033
Depth (m)                          10010
Ammmonia Nitrogen (mg/L)            2538
Ammmonia Nitrogen Qualifier*        2199
AN MDL (mg/L)                       2653
Conductivity (µmhos/cm)             8133
Cond Qualifier*                      445
Cond MDL (µmhos/cm)                 6020
Dissolved Oxygen (mg/L)             8052
DO Qualifier*                        809
DO MDL (mg/L)                       6014
Ecoli                                170
Ecoli Qualifier*                       5
Fecal Coliform (CFU/100ml)           316
Fecal Coliform Qualifier*              3
Nitrate Nitrite (mg/L)              2566
Nitrate Nitrite Qualifier*           575
Nitrate Nitrite MDL (mg/L)          2654
Orthophosphate Phosphate (mg/L)     2473
OP Qualifier*                       1790
OP MDL (mg/L)                       2651
pH                                  8139
pH Qualifier*                        433
Temperature (°C)                    8155
Temperature Qualifier*               433
Total Nitrogen (mg/L)               2647
TN Qualifier*                        136
TN MDL (mg/L)                       2647
Total Phosphorus (mg/L)             2746
TP Qualifier*                       1060
TP MDL (mg/L)                       2763
Total Alkalinity (mg/L)              384
Total Alkalinity Qualifier*            4
Total Alkalinity MDL (mg/L)          388
Unnamed: 35                            0
dtype: int64

In [4]:
WQ0611_df.columns

Index(['CollectDate', 'SampleNum', 'Depth (m)', 'Ammmonia Nitrogen (mg/L)',
       'Ammmonia Nitrogen Qualifier*', 'AN MDL (mg/L)',
       'Conductivity (µmhos/cm)', 'Cond Qualifier*', 'Cond MDL (µmhos/cm)',
       'Dissolved Oxygen (mg/L)', 'DO Qualifier*', 'DO MDL (mg/L)', 'Ecoli',
       'Ecoli Qualifier*', 'Fecal Coliform (CFU/100ml)',
       'Fecal Coliform Qualifier*', 'Nitrate Nitrite (mg/L)',
       'Nitrate Nitrite Qualifier*', 'Nitrate Nitrite MDL (mg/L)',
       'Orthophosphate Phosphate (mg/L)', 'OP Qualifier*', 'OP MDL (mg/L)',
       'pH', 'pH Qualifier*', 'Temperature (°C)', 'Temperature Qualifier*',
       'Total Nitrogen (mg/L)', 'TN Qualifier*', 'TN MDL (mg/L)',
       'Total Phosphorus (mg/L)', 'TP Qualifier*', 'TP MDL (mg/L)',
       'Total Alkalinity (mg/L)', 'Total Alkalinity Qualifier*',
       'Total Alkalinity MDL (mg/L)', 'Unnamed: 35'],
      dtype='object')

In [5]:
# columns = [
#     "CollectDate", "SampleNum", "Depth (m)", "Ammmonia Nitrogen (mg/L)", "Ammmonia Nitrogen Qualifier*",
#     "AN MDL (mg/L)", "Conductivity (µmhos/cm)", "Cond Qualifier*", "Cond MDL (µmhos/cm)",
#     "Dissolved Oxygen (mg/L)", "DO Qualifier*", "DO MDL (mg/L)", "Ecoli", "Ecoli Qualifier*", 
#     "Fecal Coliform (CFU/100ml)", "Fecal Coliform Qualifier*", "Nitrate Nitrite (mg/L)", 
#     "Nitrate Nitrite Qualifier*", "Nitrate Nitrite MDL (mg/L)", "Orthophosphate Phosphate (mg/L)", 
#     "OP Qualifier*", "OP MDL (mg/L)", "pH", "pH Qualifier*", "Temperature (°C)", "Temperature Qualifier*", 
#     "Total Nitrogen (mg/L)", "TN Qualifier*", "TN MDL (mg/L)", "Total Phosphorus (mg/L)", "TP Qualifier*", 
#     "TP MDL (mg/L)", "Total Alkalinity (mg/L)", "Total Alkalinity Qualifier*", "Total Alkalinity MDL (mg/L)", 
#     "Unnamed: 35"
# ]

# columns_qualifier = [
#     "Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
#     "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
#     "pH Qualifier*", "Temperature Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*"
# ]
# columns_MDL = [
#     "AN MDL (mg/L)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)", "OP MDL (mg/L)", 
#     "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)"
# ]

In [6]:
# print(columns)
# print(columns_qualifier)
# print(columns_MDL)

In [7]:
# Drop all the qualidiers 
WQ0611_df = WQ0611_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
    "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
    "pH Qualifier*", "Temperature Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*"])

In [8]:
WQ0611_df

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),AN MDL (mg/L),Conductivity (µmhos/cm),Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),DO MDL (mg/L),Ecoli,Fecal Coliform (CFU/100ml),...,OP MDL (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),TN MDL (mg/L),Total Phosphorus (mg/L),TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-18,0.02,0.020,103.0,NaN,9.15,NaN,NaN,1.0,...,0.0020,7.4,7.4,0.410,0.05,0.017,0.005,42.0,0.2,NaN
1,01/06/1994,L2704-19,NaN,NaN,104.0,NaN,8.98,NaN,NaN,NaN,...,NaN,7.4,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-20,0.02,0.020,102.0,NaN,9.00,NaN,NaN,NaN,...,0.0020,7.4,7.3,0.440,0.05,0.019,0.005,42.0,0.2,NaN
3,01/06/1994,L2704-21,NaN,NaN,105.0,NaN,9.21,NaN,NaN,NaN,...,NaN,7.4,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/06/1994,L2704-22,NaN,NaN,104.0,NaN,9.20,NaN,NaN,NaN,...,NaN,7.4,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10028,09/13/2022,L80241-37,NaN,NaN,105.7,0.5,3.27,0.5,NaN,NaN,...,NaN,6.6,9.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10029,09/13/2022,L80241-38,NaN,NaN,106.3,0.5,2.12,0.5,NaN,NaN,...,NaN,6.5,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10030,09/13/2022,L80241-39,NaN,NaN,107.3,0.5,1.02,0.5,NaN,NaN,...,NaN,6.4,9.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10031,09/13/2022,L80241-40,NaN,NaN,107.5,0.5,0.79,0.5,NaN,NaN,...,NaN,6.4,9.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10032,09/13/2022,L80059-47,NaN,0.002,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0005,NaN,NaN,0.184,0.05,NaN,0.005,NaN,NaN,NaN

In [9]:
# Drop all the MDL columns
WQ0611_df = WQ0611_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
"OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)"])

In [10]:
WQ0611_df

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L),Unnamed: 35
0,01/06/1994,L2704-18,0.02,103.0,9.15,NaN,1.0,0.27,0.011,7.4,7.4,0.410,0.017,42.0,NaN
1,01/06/1994,L2704-19,NaN,104.0,8.98,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-20,0.02,102.0,9.00,NaN,NaN,0.29,0.012,7.4,7.3,0.440,0.019,42.0,NaN
3,01/06/1994,L2704-21,NaN,105.0,9.21,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN,NaN
4,01/06/1994,L2704-22,NaN,104.0,9.20,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10028,09/13/2022,L80241-37,NaN,105.7,3.27,NaN,NaN,NaN,NaN,6.6,9.8,NaN,NaN,NaN,NaN
10029,09/13/2022,L80241-38,NaN,106.3,2.12,NaN,NaN,NaN,NaN,6.5,9.4,NaN,NaN,NaN,NaN
10030,09/13/2022,L80241-39,NaN,107.3,1.02,NaN,NaN,NaN,NaN,6.4,9.2,NaN,NaN,NaN,NaN
10031,09/13/2022,L80241-40,NaN,107.5,0.79,NaN,NaN,NaN,NaN,6.4,9.2,NaN,NaN,NaN,NaN
10032,09/13/2022,L80059-47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.184,NaN,NaN,NaN

In [11]:
WQ0611_df.count()

CollectDate                        10033
SampleNum                          10033
Ammmonia Nitrogen (mg/L)            2538
Conductivity (µmhos/cm)             8133
Dissolved Oxygen (mg/L)             8052
Ecoli                                170
Fecal Coliform (CFU/100ml)           316
Nitrate Nitrite (mg/L)              2566
Orthophosphate Phosphate (mg/L)     2473
pH                                  8139
Temperature (°C)                    8155
Total Nitrogen (mg/L)               2647
Total Phosphorus (mg/L)             2746
Total Alkalinity (mg/L)              384
Unnamed: 35                            0
dtype: int64

In [12]:
# Drop unnamed columns 
WQ0611_df = WQ0611_df.drop(columns=["Unnamed: 35"])

In [13]:
WQ0611_df.count()

CollectDate                        10033
SampleNum                          10033
Ammmonia Nitrogen (mg/L)            2538
Conductivity (µmhos/cm)             8133
Dissolved Oxygen (mg/L)             8052
Ecoli                                170
Fecal Coliform (CFU/100ml)           316
Nitrate Nitrite (mg/L)              2566
Orthophosphate Phosphate (mg/L)     2473
pH                                  8139
Temperature (°C)                    8155
Total Nitrogen (mg/L)               2647
Total Phosphorus (mg/L)             2746
Total Alkalinity (mg/L)              384
dtype: int64

In [14]:
WQ0611_df = WQ0611_df.drop(columns=["Total Alkalinity (mg/L)"])

In [15]:
WQ0611_df.count()

CollectDate                        10033
SampleNum                          10033
Ammmonia Nitrogen (mg/L)            2538
Conductivity (µmhos/cm)             8133
Dissolved Oxygen (mg/L)             8052
Ecoli                                170
Fecal Coliform (CFU/100ml)           316
Nitrate Nitrite (mg/L)              2566
Orthophosphate Phosphate (mg/L)     2473
pH                                  8139
Temperature (°C)                    8155
Total Nitrogen (mg/L)               2647
Total Phosphorus (mg/L)             2746
dtype: int64

In [20]:
# Checking unique values for columns. 
print(WQ0611_df["Ammmonia Nitrogen (mg/L)"].unique())
print(WQ0611_df["Nitrate Nitrite (mg/L)"].unique())
print(WQ0611_df["Orthophosphate Phosphate (mg/L)"].unique())
print(WQ0611_df["Total Nitrogen (mg/L)"].unique())
print(WQ0611_df["Total Phosphorus (mg/L)"].unique())
print(WQ0611_df["Ecoli"].unique())
print(WQ0611_df["Fecal Coliform (CFU/100ml)"].unique())

[0.02    nan 0.06  0.054 0.05  0.107 0.144 0.179 0.191 0.238 0.03  0.028
 0.125 0.135 0.033 0.031 0.217 0.232 0.025 0.024 0.023 0.029 0.035 0.027
 0.026 0.022 0.034 0.037 0.063 0.032 0.081 0.101 0.047 0.039 0.042 0.021
 0.077 0.117 0.036 0.013 0.014 0.01  0.016 0.041 0.076 0.123 0.018 0.055
 0.178 0.112 0.2   0.015 0.017 0.045 0.012 0.053 0.044 0.058 0.011 0.061
 0.113 0.019 0.046 0.085 0.084 0.057 0.048 0.052 0.174 0.195 0.202 0.056
 0.321 0.227 0.082 0.067 0.043 0.114 0.088 0.104 0.169 0.04  0.072 0.096
 0.105 0.134 0.066 0.11  0.078 0.129 0.064 0.116 0.143 0.005 0.007 0.006
 0.008 0.038 0.009 0.079 0.093 0.188 0.185 0.068 0.051 0.106 0.002 0.003
 0.07  0.004 0.187 0.201 0.211 0.172 0.182 0.189 0.109 0.204 0.12  0.205
 0.221 0.254 0.294 0.142 0.062 0.049 0.073 0.253 0.148 0.094]
[0.27    nan 0.29  0.28  0.31  0.26  0.32  0.38  0.223 0.276 0.36  0.241
 0.252 0.341 0.251 0.326 0.264 0.312 0.247 0.266 0.214 0.14  0.233 0.221
 0.05  0.129 0.205 0.22  0.199 0.147 0.15  0.151 0.319 0.356 0.375 0.373
 0.449 0.435 0.41  0.484 0.471 0.483 0.536 0.506 0.537 0.411 0.335 0.366
 0.486 0.432 0.285 0.293 0.301 0.42  0.292 0.303 0.371 0.396 0.219 0.299
 0.316 0.362 0.397 0.225 0.218 0.394 0.072 0.357 0.321 0.123 0.192 0.074
 0.118 0.121 0.126 0.122 0.254 0.256 0.255 0.257 0.441 0.444 0.43  0.412
 0.527 0.513 0.516 0.493 0.489 0.595 0.572 0.609 0.587 0.603 0.51  0.508
 0.533 0.545 0.616 0.472 0.481 0.467 0.523 0.576 0.553 0.509 0.542 0.57
 0.571 0.574 0.442 0.446 0.455 0.512 0.519 0.477 0.551 0.578 0.525 0.414
 0.423 0.448 0.534 0.463 0.391 0.378 0.498 0.46  0.44  0.262 0.272 0.387
 0.451 0.367 0.338 0.436 0.524 0.473 0.429 0.207 0.386 0.494 0.419 0.35
 0.176 0.162 0.369 0.165 0.389 0.298 0.09  0.097 0.224 0.505 0.297 0.065
 0.067 0.062 0.474 0.365 0.354 0.091 0.469 0.237 0.194 0.154 0.153 0.164
 0.271 0.306 0.308 0.304 0.3   0.495 0.502 0.476 0.529 0.541 0.52  0.532
 0.563 0.641 0.582 0.632 0.606 0.581 0.548 0.558 0.56  0.566 0.466 0.421
 0.485 0.568 0.596 0.311 0.329 0.552 0.382 0.37  0.34  0.143 0.428 0.092
 0.094 0.325 0.054 0.134 0.128 0.18  0.187 0.203 0.268 0.343 0.309 0.307
 0.286 0.314 0.294 0.344 0.337 0.336 0.333 0.405 0.361 0.372 0.364 0.342
 0.358 0.288 0.291 0.317 0.398 0.404 0.302 0.399 0.4   0.161 0.385 0.454
 0.021 0.026 0.345 0.243 0.02  0.189 0.384 0.049 0.066 0.058 0.06  0.315
 0.406 0.422 0.416 0.538 0.535 0.564 0.561 0.573 0.577 0.491 0.492 0.53
 0.543 0.45  0.459 0.457 0.468 0.488 0.11  0.111 0.377 0.458 0.339 0.106
 0.351 0.318 0.037 0.033 0.425 0.487 0.331 0.048 0.063 0.453 0.051 0.158
 0.159 0.269 0.278 0.413 0.417 0.415 0.452 0.439 0.443 0.475 0.497 0.363
 0.305 0.313 0.465 0.068 0.246 0.368 0.024 0.025 0.323 0.105 0.138 0.029
 0.124 0.125 0.182 0.177 0.179 0.178 0.265 0.267 0.222 0.226 0.229 0.258
 0.253 0.17  0.197 0.248 0.227 0.135 0.173 0.188 0.216 0.21  0.193 0.041
 0.149 0.115 0.103 0.044 0.198 0.346 0.381 0.379 0.374 0.296 0.332 0.273
 0.168 0.163 0.261 0.117 0.235 0.347 0.281 0.274 0.23  0.213 0.245 0.064
 0.061 0.059 0.191 0.183 0.186 0.174 0.234 0.238 0.242 0.244 0.322 0.078
 0.076 0.095 0.119 0.289 0.096 0.181 0.166 0.16  0.327 0.334 0.33  0.324
 0.407 0.349 0.295 0.353 0.348 0.392 0.283 0.461 0.031 0.088 0.056 0.282
 0.104 0.042 0.175 0.259 0.328 0.249 0.209 0.263 0.052 0.12  0.032 0.19
 0.07  0.069 0.277 0.482 0.49  0.383 0.479 0.401 0.156 0.355 0.215 0.108
 0.055 0.053 0.057 0.239 0.232 0.359 0.034 0.208 0.395 0.25  0.217 0.093
 0.047 0.2   0.195 0.196 0.287 0.228 0.284 0.185 0.039 0.04  0.127 0.133
 0.212 0.352 0.167 0.169 0.148 0.077 0.155 0.01  0.015 0.275 0.079 0.083
 0.087 0.086 0.202 0.184 0.201 0.211 0.204 0.1   0.206 0.016 0.036 0.13
 0.014 0.279 0.157 0.131 0.013 0.011 0.03  0.022 0.023 0.171 0.132 0.142
 0.172 0.144 0.099 0.136 0.114 0.113 0.082 0.146 0.102 0.141 0.098 0.018
 0.038 0.101 0.236 0.152 0.046 0.045 0.084 0.116 0.071 0.24  0.231 0.012
 0.08  0.027 0.085 0.109 0.035 0.107 0.145 0.073 0.089 0.139 0.075]
[0.011     nan 0.012  0.013  0.009  0.003  0.002  0.0047 0.0051 0.0031
 0.004  0.0036 0.048  0.0815 0.0115 0.0112 0.01   0.0097 0.0089 0.0095
 0.0111 0.0059 0.0066 0.007  0.0037 0.0032 0.0082 0.0025 0.0043 0.0078
 0.0021 0.0101 0.0034 0.0033 0.0086 0.0023 0.0117 0.017  0.008  0.005
 0.006  0.0065 0.0053 0.0055 0.0143 0.0142 0.0122 0.016  0.0141 0.0135
 0.0125 0.0106 0.0119 0.0105 0.0116 0.0121 0.0127 0.0129 0.0227 0.0229
 0.0231 0.0232 0.0224 0.0236 0.0167 0.015  0.0169 0.0228 0.0175 0.0166
 0.0075 0.0048 0.0179 0.0088 0.0063 0.0079 0.0098 0.0103 0.0083 0.0084
 0.0114 0.0076 0.0056 0.0071 0.0042 0.0038 0.0041 0.0045 0.0067 0.0243
 0.0035 0.0057 0.0233 0.0147 0.0213 0.0309 0.0118 0.0123 0.0151 0.0137
 0.0113 0.0146 0.0172 0.0148 0.0144 0.0099 0.0087 0.0022 0.0029 0.0027
 0.0026 0.0128 0.0046 0.0091 0.0085 0.0081 0.0092 0.0093 0.0094 0.0102
 0.0074 0.0073 0.018  0.0134 0.0096 0.0077 0.0062 0.0028 0.0039 0.0058
 0.0061 0.0443 0.0044 0.0054 0.0171 0.0145 0.0149 0.0109 0.0104 0.0369
 0.0024 0.0108 0.0133 0.0124 0.0152 0.0069 0.0072 0.0154 0.0192 0.0126
 0.0223 0.0177 0.0183 0.0068 0.0138 0.0587 0.0693 0.0282 0.0635 0.056
 0.022  0.0049 0.0545 0.0132 0.0139 0.0064 0.0006 0.0005 0.0007 0.0014
 0.0017 0.0009 0.001  0.0015 0.0013 0.0242 0.0107 0.0012 0.0011 0.0008
 0.0018 0.0176 0.0401 0.0251 0.0219 0.026  0.0302 0.0257 0.0215 0.0606
 0.0767 0.0878 0.112  0.0019 0.0016 0.138  0.0131 0.0052 0.0202 0.0432]
[0.41    nan 0.44  0.4   0.47  0.53  0.5   0.55  0.54  0.439 0.454 0.525
 0.427 0.469 0.527 0.416 0.51  0.428 0.489 0.397 0.348 0.385 0.302 0.441
 0.417 0.275 0.443 0.248 0.272 0.227 0.377 0.304 0.374 0.26  0.283 0.239
 0.391 0.419 0.32  0.361 0.529 0.536 0.528 0.58  0.549 0.577 0.644 0.67
 0.634 0.706 0.593 0.69  0.624 0.596 0.497 0.555 0.559 0.578 0.462 0.563
 0.505 0.517 0.657 0.64  0.506 0.52  0.538 0.68  0.459 0.476 0.564 0.566
 0.551 0.329 0.34  0.558 0.554 0.453 0.413 0.315 0.347 0.495 0.651 0.481
 0.446 0.205 0.121 0.249 0.621 0.652 0.408 0.201 0.256 0.246 0.522 0.451
 0.354 0.376 0.359 0.356 0.405 0.373 0.504 0.463 0.607 0.599 0.583 0.572
 0.571 0.542 0.723 0.697 0.819 0.712 0.683 0.664 0.769 0.764 0.779 0.775
 0.791 0.786 0.754 0.752 0.738 0.758 0.672 0.639 0.736 0.733 0.757 0.603
 0.625 0.638 0.674 0.695 0.641 0.633 0.632 0.671 0.659 0.643 0.649 0.611
 0.661 0.66  0.586 0.616 0.584 0.6   0.654 0.679 0.514 0.511 0.65  0.7
 0.617 0.595 0.415 0.548 0.589 0.545 0.412 0.576 0.613 0.404 0.389 0.475
 0.366 0.622 0.464 0.333 0.392 0.332 0.604 0.531 0.533 0.254 0.219 0.465
 0.379 0.437 0.515 0.541 0.438 0.582 0.592 0.637 0.628 0.788 0.717 0.668
 0.72  0.05  0.719 0.675 0.677 0.708 0.687 0.71  0.709 0.721 0.741 0.751
 0.694 0.726 0.767 0.673 0.561 1.12  0.562 0.552 0.724 0.594 0.35  0.375
 0.588 0.658 0.48  0.273 0.534 0.627 0.537 0.29  0.358 0.28  0.322 0.326
 0.395 0.402 0.421 0.488 0.492 0.429 0.423 0.411 0.499 0.512 0.472 0.46
 0.696 0.526 0.543 0.581 0.606 0.539 0.468 0.493 0.485 0.494 0.519 0.516
 0.546 0.491 0.535 0.521 0.367 0.518 0.229 0.233 0.509 0.484 0.2   0.19
 0.237 0.236 0.258 0.473 0.382 0.455 0.422 0.556 0.575 0.568 0.716 0.665
 0.655 0.76  0.737 0.765 0.74  0.681 0.734 0.704 0.619 0.693 0.612 0.61
 0.365 0.629 0.503 0.334 0.343 0.614 0.483 0.274 0.325 0.653 0.287 0.635
 0.498 0.56  0.314 0.299 0.278 0.39  0.502 0.466 0.532 0.477 0.62  0.587
 0.569 0.656 0.666 0.642 0.645 0.663 0.689 0.508 0.306 0.567 0.301 0.605
 0.277 0.316 0.27  0.378 0.318 0.323 0.371 0.353 0.383 0.37  0.364 0.401
 0.457 0.435 0.43  0.431 0.418 0.352 0.414 0.295 0.312 0.342 0.172 0.202
 0.262 0.355 0.346 0.167 0.206 0.33  0.309 0.351 0.209 0.259 0.187 0.163
 0.137 0.296 0.212 0.224 0.218 0.243 0.425 0.349 0.344 0.487 0.496 0.478
 0.544 0.486 0.479 0.471 0.432 0.319 0.434 0.242 0.282 0.513 0.452 0.213
 0.22  0.23  0.447 0.241 0.293 0.261 0.255 0.338 0.335 0.409 0.42  0.399
 0.467 0.456 0.3   0.49  0.194 0.204 0.345 0.38  0.507 0.215 0.24  0.211
 0.269 0.271 0.276 0.369 0.482 0.565 0.574 0.386 0.207 0.189 0.234 0.341
 0.199 0.216 0.217 0.433 0.388 0.339 0.436 0.406 0.501 0.524 0.448 0.623
 0.381 0.235 0.307 0.523 0.17  0.178 0.284 0.45  0.15  0.166 0.372 0.331
 0.703 0.773 0.701 0.715 0.831 0.699 0.707 0.553 0.601 0.279 0.186 0.281
 0.291 0.442 0.474 0.57  0.547 0.317 0.222 0.198 0.292 0.426 0.298 0.297
 0.303 0.305 0.407 0.444 0.424 0.461 0.396 0.445 0.244 0.214 0.384 0.193
 0.36  0.357 0.449 0.398 0.294 0.264 0.221 0.836 0.191 0.196 0.203 0.18
 0.403 0.321 0.245 0.252 0.25  0.362 0.266 0.285 0.393 0.231 0.21  0.188
 0.181 0.313 0.458 0.225 0.208 0.195 0.265 0.336 0.368 0.394 0.311 0.288
 0.247 0.324 0.251 0.253 0.168 0.232 0.337 0.228 0.185 0.327 0.328 0.263
 0.197 0.257 0.226 0.308 0.615 0.289 0.174 0.182 0.183 0.177 0.165 0.173
 0.31  0.267 0.192 0.268 0.363 0.179 0.148 0.117 0.12  0.387 0.579 0.223
 0.154 0.184 0.238 0.286 0.119 0.16  0.161 0.151 0.144 0.164 0.159 0.131
 0.175 0.155 0.176]
[0.017     nan 0.019  0.023  0.03   0.049  0.029  0.013  0.015  0.016
 0.014  0.009  0.011  0.018  0.008  0.012  0.01   0.032  0.007  0.067
 0.105  0.058  0.037  0.021  0.027  0.022  0.031  0.128  0.14   0.026
 0.036  0.025  0.028  0.0139 0.0215 0.0146 0.0258 0.0306 0.006  0.005
 0.0127 0.0083 0.0282 0.0337 0.0069 0.0062 0.0061 0.0371 0.0055 0.0096
 0.0272 0.0868 0.0169 0.0072 0.0088 0.0848 0.1    0.024  0.057  0.02
 0.059  0.062  0.045  0.039  0.034  0.046  0.044  0.0214 0.0164 0.0154
 0.0134 0.0186 0.0281 0.0319 0.0271 0.0217 0.0193 0.0302 0.0292 0.0346
 0.0269 0.0333 0.0315 0.0377 0.0341 0.0374 0.0343 0.0289 0.0365 0.0296
 0.0195 0.0184 0.0183 0.0152 0.0235 0.0267 0.0278 0.0125 0.0115 0.0254
 0.0097 0.0106 0.0126 0.0173 0.0076 0.0082 0.0077 0.0073 0.0192 0.0866
 0.0091 0.0104 0.0107 0.0123 0.0156 0.0159 0.0131 0.0437 0.0229 0.0148
 0.0322 0.0066 0.0251 0.0392 0.0177 0.0163 0.0194 0.0158 0.0145 0.0234
 0.0176 0.0165 0.0168 0.0178 0.0138 0.0151 0.0167 0.0132 0.0137 0.0058
 0.0064 0.0179 0.0143 0.0081 0.0052 0.0054 0.0161 0.0079 0.0089 0.0071
 0.0207 0.0252 0.0074 0.0116 0.0059 0.0068 0.0063 0.0084 0.0056 0.0191
 0.102  0.0065 0.0474 0.0202 0.0149 0.0155 0.0141 0.0153 0.0114 0.0182
 0.0113 0.0067 0.0101 0.0092 0.0087 0.0078 0.0112 0.123  0.0094 0.0109
 0.0949 0.0181 0.0321 0.0086 0.0057 0.0673 0.0545 0.0432 0.0099 0.0188
 0.0105 0.0232 0.0401 0.0162 0.0237 0.0198 0.0166 0.0172 0.0157 0.0211
 0.0189 0.0122 0.0119 0.0121 0.0075 0.0136 0.0102 0.0093 0.0257 0.0256
 0.0277 0.0246 0.0685 0.0368 0.0196 0.0313 0.0175 0.0144 0.0187 0.0108
 0.0294 0.0098 0.0516 0.0711 0.0585 0.0212 0.0174 0.0185 0.0133 0.0118
 0.0129 0.0053 0.0227 0.0095 0.0085 0.0208 0.0221 0.0135 0.0243 0.0575
 0.0142 0.0147 0.0111 0.0117 0.0199 0.0103 0.0259 0.0231 0.0241 0.0219
 0.0239 0.0244 0.0209 0.0213 0.0205 0.0402 0.0203 0.0128 0.0124 0.043
 0.0216 0.0238 0.0395 0.0508 0.0502 0.038  0.0469 0.0501 0.0399 0.041
 0.0472 0.0597 0.0286 0.0253 0.0245 0.0226 0.0171 0.0523 0.0201 0.0225
 0.0242 0.0247 0.0223 0.0607 0.0204 0.0363 0.0426 0.0834 0.145  0.0291
 0.0236 0.0249 0.0222 0.0334 0.0499 0.0051 0.0462 0.0366 0.0562 0.0623
 0.0311 0.259  0.0228 0.0453 0.0326 0.0266 0.0362 0.0347 0.0812 0.0922
 0.0746 0.0696 0.0506 0.0794 0.0693 0.0436 0.0224 0.0233 0.0206 0.0312
 0.0307 0.0435 0.0275 0.0524 0.0274 0.0262 0.0596 0.0331 0.0452 0.0447
 0.192  0.149  0.226  0.107  0.11   0.0907 0.0408 0.0566 0.0762 0.112
 0.129  0.194  0.228  0.0489 0.0628 0.0303 0.0554 0.0544 0.0387 0.0735
 0.0197 0.0418 0.064  0.0666 0.207  0.0741 0.0691 0.0874 0.0884 0.0909
 0.0284 0.143  0.0361 0.0314 0.0584 0.0351 0.0984 0.0593 0.0318 0.0355
 0.165  0.0276 0.0273 0.0385 0.0419]
[nan 14. 11.  2.  0.  1. 10.  7.  3. 13. 25.  4.  5.  6.  8.  9. 15.]
[ 1. nan  7.  0.  4.  2.  3. 14. 15. 17. 19.  5. 18. 12.  8. 10. 13. 16.
 23.]

In [21]:
# convert string to datetime
WQ0611_df["CollectDate"] = pd.to_datetime(WQ0611_df["CollectDate"])

In [22]:
WQ0611_df.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Ecoli                                     float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [23]:
df_1 = WQ0611_df

In [24]:
df_2 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_2.head(10)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-18,0.02,103.0,9.15,NaN,1.0,0.2700,0.01100,7.4,7.4,0.4100,0.0170
1,1994-01-06,L2704-19,0.02,104.0,8.98,NaN,1.0,0.2775,0.01175,7.4,7.3,0.4150,0.0190
2,1994-01-06,L2704-20,0.02,102.0,9.00,NaN,1.0,0.2900,0.01200,7.4,7.3,0.4400,0.0190
3,1994-01-06,L2704-21,0.02,105.0,9.21,NaN,1.0,0.2775,0.01175,7.4,7.3,0.4150,0.0190
4,1994-01-06,L2704-22,0.02,104.0,9.20,NaN,1.0,0.2775,0.01175,7.4,7.3,0.4150,0.0190
5,1994-01-06,L2704-23,0.02,103.0,9.19,NaN,1.0,0.2800,0.01300,7.4,7.3,0.4000,0.0230
6,1994-01-06,L2704-18,0.02,103.0,9.15,NaN,1.0,0.2700,0.01100,7.4,7.4,0.4100,0.0170
7,1994-02-14,L2938-18,0.02,102.5,10.81,NaN,7.0,0.3100,0.00900,7.4,6.5,0.4700,0.0300
8,1994-02-14,L2938-19,0.02,103.9,10.71,NaN,7.0,0.3000,0.00900,7.4,6.5,0.4925,0.0345
9,1994-02-14,L2938-20,0.02,105.0,10.71,NaN,7.0,0.2600,0.00900,7.4,6.5,0.5300,0.0490

In [5]:
# Load the file data into the path
file_path_02 = "/Users/linghoang/UCBBootcamp/DataClass/GroupProject/Resources/Lake_Sammamish_0614.csv"

# Load the file_path data into dataframe
WQ0614_df = pd.read_csv(file_path, skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

# Show the WQ dataframe 

WQ0614_df.head(20)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
1,01/06/1994,L2704-19,5.0,NaN,NaN,NaN,104.0,NaN,NaN,8.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-20,10.0,0.02,<MDL,0.02,102.0,NaN,NaN,9.00,...,0.44,NaN,0.05,0.019,NaN,0.005,42.0,NaN,0.2,NaN
3,01/06/1994,L2704-21,15.0,NaN,NaN,NaN,105.0,NaN,NaN,9.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/06/1994,L2704-22,20.0,NaN,NaN,NaN,104.0,NaN,NaN,9.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01/06/1994,L2704-23,22.5,0.02,<MDL,0.02,103.0,NaN,NaN,9.19,...,0.40,NaN,0.05,0.023,NaN,0.005,42.0,NaN,0.2,NaN
6,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
7,02/14/1994,L2938-18,1.0,0.02,<MDL,0.02,102.5,NaN,NaN,10.81,...,0.47,NaN,0.05,0.030,NaN,0.005,NaN,NaN,NaN,NaN
8,02/14/1994,L2938-19,5.0,NaN,NaN,NaN,103.9,NaN,NaN,10.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,02/14/1994,L2938-20,10.0,0.02,<MDL,0.02,105.0,NaN,NaN,10.71,...,0.53,NaN,0.05,0.049,NaN,0.005,NaN,NaN,NaN,NaN
10,02/14/1994,L2938-21,15.0,NaN,NaN,NaN,105.2,NaN,NaN,10.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,02/14/1994,L2938-22,20.0,NaN,NaN,NaN,105.2,NaN,NaN,10.62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,02/14/1994,L2938-23,22.0,0.02,<MDL,0.02,105.5,NaN,NaN,10.62,...,0.50,NaN,0.05,0.029,NaN,0.005,NaN,NaN,NaN,NaN
13,02/14/1994,L2938-18,1.0,0.02,<MDL,0.02,102.5,NaN,NaN,10.81,...,0.47,NaN,0.05,0.030,NaN,0.005,NaN,NaN,NaN,NaN
14,03/08/1994,L3136-18,1.0,0.02,<MDL,0.02,103.4,NaN,NaN,11.50,...,0.53,NaN,0.05,0.013,NaN,0.005,NaN,NaN,NaN,NaN
15,03/08/1994,L3136-19,5.0,NaN,NaN,NaN,104.0,NaN,NaN,11.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,03/08/1994,L3136-20,10.0,0.02,<MDL,0.02,105.1,NaN,NaN,10.97,...,0.55,NaN,0.05,0.013,NaN,0.005,NaN,NaN,NaN,NaN
17,03/08/1994,L3136-21,15.0,NaN,NaN,NaN,105.3,NaN,NaN,10.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,03/08/1994,L3136-22,20.0,NaN,NaN,NaN,105.9,NaN,NaN,10.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,03/08/1994,L3136-23,22.0,0.02,<MDL,0.02,105.3,NaN,NaN,9.69,...,0.54,NaN,0.05,0.015,NaN,0.005,NaN,NaN,NaN,NaN

In [80]:
WQ0614_df.count()

CollectDate                        10033
SampleNum                          10033
Depth (m)                          10010
Ammmonia Nitrogen (mg/L)            2538
Ammmonia Nitrogen Qualifier*        2199
AN MDL (mg/L)                       2653
Conductivity (µmhos/cm)             8133
Cond Qualifier*                      445
Cond MDL (µmhos/cm)                 6020
Dissolved Oxygen (mg/L)             8052
DO Qualifier*                        809
DO MDL (mg/L)                       6014
Ecoli                                170
Ecoli Qualifier*                       5
Fecal Coliform (CFU/100ml)           316
Fecal Coliform Qualifier*              3
Nitrate Nitrite (mg/L)              2566
Nitrate Nitrite Qualifier*           575
Nitrate Nitrite MDL (mg/L)          2654
Orthophosphate Phosphate (mg/L)     2473
OP Qualifier*                       1790
OP MDL (mg/L)                       2651
pH                                  8139
pH Qualifier*                        433
Temperature (°C)                    8155
Temperature Qualifier*               433
Total Nitrogen (mg/L)               2647
TN Qualifier*                        136
TN MDL (mg/L)                       2647
Total Phosphorus (mg/L)             2746
TP Qualifier*                       1060
TP MDL (mg/L)                       2763
Total Alkalinity (mg/L)              384
Total Alkalinity Qualifier*            4
Total Alkalinity MDL (mg/L)          388
Unnamed: 35                            0
dtype: int64

In [82]:
# Load the file data into the path
file_path_03 = "/Users/linghoang/UCBBootcamp/DataClass/GroupProject/Resources/Lake_Sammamish_0617.csv"

# Load the file_path data into dataframe
WQ0617_df = pd.read_csv(file_path, skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

# Show the WQ dataframe 
WQ0617_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
1,01/06/1994,L2704-19,5.0,NaN,NaN,NaN,104.0,NaN,NaN,8.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-20,10.0,0.02,<MDL,0.02,102.0,NaN,NaN,9.00,...,0.44,NaN,0.05,0.019,NaN,0.005,42.0,NaN,0.2,NaN
3,01/06/1994,L2704-21,15.0,NaN,NaN,NaN,105.0,NaN,NaN,9.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/06/1994,L2704-22,20.0,NaN,NaN,NaN,104.0,NaN,NaN,9.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01/06/1994,L2704-23,22.5,0.02,<MDL,0.02,103.0,NaN,NaN,9.19,...,0.40,NaN,0.05,0.023,NaN,0.005,42.0,NaN,0.2,NaN
6,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
7,02/14/1994,L2938-18,1.0,0.02,<MDL,0.02,102.5,NaN,NaN,10.81,...,0.47,NaN,0.05,0.030,NaN,0.005,NaN,NaN,NaN,NaN
8,02/14/1994,L2938-19,5.0,NaN,NaN,NaN,103.9,NaN,NaN,10.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,02/14/1994,L2938-20,10.0,0.02,<MDL,0.02,105.0,NaN,NaN,10.71,...,0.53,NaN,0.05,0.049,NaN,0.005,NaN,NaN,NaN,NaN

In [83]:
WQ0617_df.count()

CollectDate                        10033
SampleNum                          10033
Depth (m)                          10010
Ammmonia Nitrogen (mg/L)            2538
Ammmonia Nitrogen Qualifier*        2199
AN MDL (mg/L)                       2653
Conductivity (µmhos/cm)             8133
Cond Qualifier*                      445
Cond MDL (µmhos/cm)                 6020
Dissolved Oxygen (mg/L)             8052
DO Qualifier*                        809
DO MDL (mg/L)                       6014
Ecoli                                170
Ecoli Qualifier*                       5
Fecal Coliform (CFU/100ml)           316
Fecal Coliform Qualifier*              3
Nitrate Nitrite (mg/L)              2566
Nitrate Nitrite Qualifier*           575
Nitrate Nitrite MDL (mg/L)          2654
Orthophosphate Phosphate (mg/L)     2473
OP Qualifier*                       1790
OP MDL (mg/L)                       2651
pH                                  8139
pH Qualifier*                        433
Temperature (°C)                    8155
Temperature Qualifier*               433
Total Nitrogen (mg/L)               2647
TN Qualifier*                        136
TN MDL (mg/L)                       2647
Total Phosphorus (mg/L)             2746
TP Qualifier*                       1060
TP MDL (mg/L)                       2763
Total Alkalinity (mg/L)              384
Total Alkalinity Qualifier*            4
Total Alkalinity MDL (mg/L)          388
Unnamed: 35                            0
dtype: int64

In [84]:
# Load the file data into the path
file_path_04 = "/Users/linghoang/UCBBootcamp/DataClass/GroupProject/Resources/Lake_Sammamish_0622.csv"

# Load the file_path data into dataframe
WQ0622_df = pd.read_csv(file_path, skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

# Show the WQ dataframe 
WQ0622_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
1,01/06/1994,L2704-19,5.0,NaN,NaN,NaN,104.0,NaN,NaN,8.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-20,10.0,0.02,<MDL,0.02,102.0,NaN,NaN,9.00,...,0.44,NaN,0.05,0.019,NaN,0.005,42.0,NaN,0.2,NaN
3,01/06/1994,L2704-21,15.0,NaN,NaN,NaN,105.0,NaN,NaN,9.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/06/1994,L2704-22,20.0,NaN,NaN,NaN,104.0,NaN,NaN,9.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01/06/1994,L2704-23,22.5,0.02,<MDL,0.02,103.0,NaN,NaN,9.19,...,0.40,NaN,0.05,0.023,NaN,0.005,42.0,NaN,0.2,NaN
6,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
7,02/14/1994,L2938-18,1.0,0.02,<MDL,0.02,102.5,NaN,NaN,10.81,...,0.47,NaN,0.05,0.030,NaN,0.005,NaN,NaN,NaN,NaN
8,02/14/1994,L2938-19,5.0,NaN,NaN,NaN,103.9,NaN,NaN,10.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,02/14/1994,L2938-20,10.0,0.02,<MDL,0.02,105.0,NaN,NaN,10.71,...,0.53,NaN,0.05,0.049,NaN,0.005,NaN,NaN,NaN,NaN

In [85]:
WQ0622_df.count()

CollectDate                        10033
SampleNum                          10033
Depth (m)                          10010
Ammmonia Nitrogen (mg/L)            2538
Ammmonia Nitrogen Qualifier*        2199
AN MDL (mg/L)                       2653
Conductivity (µmhos/cm)             8133
Cond Qualifier*                      445
Cond MDL (µmhos/cm)                 6020
Dissolved Oxygen (mg/L)             8052
DO Qualifier*                        809
DO MDL (mg/L)                       6014
Ecoli                                170
Ecoli Qualifier*                       5
Fecal Coliform (CFU/100ml)           316
Fecal Coliform Qualifier*              3
Nitrate Nitrite (mg/L)              2566
Nitrate Nitrite Qualifier*           575
Nitrate Nitrite MDL (mg/L)          2654
Orthophosphate Phosphate (mg/L)     2473
OP Qualifier*                       1790
OP MDL (mg/L)                       2651
pH                                  8139
pH Qualifier*                        433
Temperature (°C)                    8155
Temperature Qualifier*               433
Total Nitrogen (mg/L)               2647
TN Qualifier*                        136
TN MDL (mg/L)                       2647
Total Phosphorus (mg/L)             2746
TP Qualifier*                       1060
TP MDL (mg/L)                       2763
Total Alkalinity (mg/L)              384
Total Alkalinity Qualifier*            4
Total Alkalinity MDL (mg/L)          388
Unnamed: 35                            0
dtype: int64

In [28]:
# Load the file data into the path
file_path_04 = "/Users/linghoang/UCBBootcamp/DataClass/GroupProject/Resources/Lake_Sammamish_0625.csv"

# Load the file_path data into dataframe
WQ0625_df = pd.read_csv(file_path, skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

# Show the WQ dataframe 
WQ0625_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
1,01/06/1994,L2704-19,5.0,NaN,NaN,NaN,104.0,NaN,NaN,8.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-20,10.0,0.02,<MDL,0.02,102.0,NaN,NaN,9.00,...,0.44,NaN,0.05,0.019,NaN,0.005,42.0,NaN,0.2,NaN
3,01/06/1994,L2704-21,15.0,NaN,NaN,NaN,105.0,NaN,NaN,9.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/06/1994,L2704-22,20.0,NaN,NaN,NaN,104.0,NaN,NaN,9.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01/06/1994,L2704-23,22.5,0.02,<MDL,0.02,103.0,NaN,NaN,9.19,...,0.40,NaN,0.05,0.023,NaN,0.005,42.0,NaN,0.2,NaN
6,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
7,02/14/1994,L2938-18,1.0,0.02,<MDL,0.02,102.5,NaN,NaN,10.81,...,0.47,NaN,0.05,0.030,NaN,0.005,NaN,NaN,NaN,NaN
8,02/14/1994,L2938-19,5.0,NaN,NaN,NaN,103.9,NaN,NaN,10.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,02/14/1994,L2938-20,10.0,0.02,<MDL,0.02,105.0,NaN,NaN,10.71,...,0.53,NaN,0.05,0.049,NaN,0.005,NaN,NaN,NaN,NaN

In [29]:
# Load the file data into the path
file_path_05 = "/Users/linghoang/UCBBootcamp/DataClass/GroupProject/Resources/Lake_Sammamish_M621.csv"

# Load the file_path data into dataframe
WQM621_df = pd.read_csv(file_path, skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

# Show the WQ dataframe 
WQM621_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
1,01/06/1994,L2704-19,5.0,NaN,NaN,NaN,104.0,NaN,NaN,8.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-20,10.0,0.02,<MDL,0.02,102.0,NaN,NaN,9.00,...,0.44,NaN,0.05,0.019,NaN,0.005,42.0,NaN,0.2,NaN
3,01/06/1994,L2704-21,15.0,NaN,NaN,NaN,105.0,NaN,NaN,9.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/06/1994,L2704-22,20.0,NaN,NaN,NaN,104.0,NaN,NaN,9.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01/06/1994,L2704-23,22.5,0.02,<MDL,0.02,103.0,NaN,NaN,9.19,...,0.40,NaN,0.05,0.023,NaN,0.005,42.0,NaN,0.2,NaN
6,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
7,02/14/1994,L2938-18,1.0,0.02,<MDL,0.02,102.5,NaN,NaN,10.81,...,0.47,NaN,0.05,0.030,NaN,0.005,NaN,NaN,NaN,NaN
8,02/14/1994,L2938-19,5.0,NaN,NaN,NaN,103.9,NaN,NaN,10.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,02/14/1994,L2938-20,10.0,0.02,<MDL,0.02,105.0,NaN,NaN,10.71,...,0.53,NaN,0.05,0.049,NaN,0.005,NaN,NaN,NaN,NaN

In [30]:
# Load the file data into the path
file_path_04 = "/Users/linghoang/UCBBootcamp/DataClass/GroupProject/Resources/Lake_Sammamish_0622.csv"

# Load the file_path data into dataframe
WQ0622_df = pd.read_csv(file_path, skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

# Show the WQ dataframe 
WQ0622_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
1,01/06/1994,L2704-19,5.0,NaN,NaN,NaN,104.0,NaN,NaN,8.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-20,10.0,0.02,<MDL,0.02,102.0,NaN,NaN,9.00,...,0.44,NaN,0.05,0.019,NaN,0.005,42.0,NaN,0.2,NaN
3,01/06/1994,L2704-21,15.0,NaN,NaN,NaN,105.0,NaN,NaN,9.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/06/1994,L2704-22,20.0,NaN,NaN,NaN,104.0,NaN,NaN,9.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01/06/1994,L2704-23,22.5,0.02,<MDL,0.02,103.0,NaN,NaN,9.19,...,0.40,NaN,0.05,0.023,NaN,0.005,42.0,NaN,0.2,NaN
6,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
7,02/14/1994,L2938-18,1.0,0.02,<MDL,0.02,102.5,NaN,NaN,10.81,...,0.47,NaN,0.05,0.030,NaN,0.005,NaN,NaN,NaN,NaN
8,02/14/1994,L2938-19,5.0,NaN,NaN,NaN,103.9,NaN,NaN,10.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,02/14/1994,L2938-20,10.0,0.02,<MDL,0.02,105.0,NaN,NaN,10.71,...,0.53,NaN,0.05,0.049,NaN,0.005,NaN,NaN,NaN,NaN