## Import and Clean 1st set of Data = WQ0611

In [4]:
# Import descrepancies
import pandas as pd 
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [5]:
# Load the file data into the path
file_path = "/Users/linghoang/UCBBootcamp/DataClass/GroupProject/Resources/Lake_Sammamish_0611.csv"

# Load the file_path data into dataframe
WQ0611_df = pd.read_csv(file_path, skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

# Show the WQ dataframe 
WQ0611_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
1,01/06/1994,L2704-19,5.0,NaN,NaN,NaN,104.0,NaN,NaN,8.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-20,10.0,0.02,<MDL,0.02,102.0,NaN,NaN,9.00,...,0.44,NaN,0.05,0.019,NaN,0.005,42.0,NaN,0.2,NaN
3,01/06/1994,L2704-21,15.0,NaN,NaN,NaN,105.0,NaN,NaN,9.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/06/1994,L2704-22,20.0,NaN,NaN,NaN,104.0,NaN,NaN,9.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01/06/1994,L2704-23,22.5,0.02,<MDL,0.02,103.0,NaN,NaN,9.19,...,0.40,NaN,0.05,0.023,NaN,0.005,42.0,NaN,0.2,NaN
6,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
7,02/14/1994,L2938-18,1.0,0.02,<MDL,0.02,102.5,NaN,NaN,10.81,...,0.47,NaN,0.05,0.030,NaN,0.005,NaN,NaN,NaN,NaN
8,02/14/1994,L2938-19,5.0,NaN,NaN,NaN,103.9,NaN,NaN,10.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,02/14/1994,L2938-20,10.0,0.02,<MDL,0.02,105.0,NaN,NaN,10.71,...,0.53,NaN,0.05,0.049,NaN,0.005,NaN,NaN,NaN,NaN

In [6]:
WQ0611_df.count()

CollectDate                        10033
SampleNum                          10033
Depth (m)                          10010
Ammmonia Nitrogen (mg/L)            2538
Ammmonia Nitrogen Qualifier*        2199
AN MDL (mg/L)                       2653
Conductivity (µmhos/cm)             8133
Cond Qualifier*                      445
Cond MDL (µmhos/cm)                 6020
Dissolved Oxygen (mg/L)             8052
DO Qualifier*                        809
DO MDL (mg/L)                       6014
Ecoli                                170
Ecoli Qualifier*                       5
Fecal Coliform (CFU/100ml)           316
Fecal Coliform Qualifier*              3
Nitrate Nitrite (mg/L)              2566
Nitrate Nitrite Qualifier*           575
Nitrate Nitrite MDL (mg/L)          2654
Orthophosphate Phosphate (mg/L)     2473
OP Qualifier*                       1790
OP MDL (mg/L)                       2651
pH                                  8139
pH Qualifier*                        433
Temperature (°C)                    8155
Temperature Qualifier*               433
Total Nitrogen (mg/L)               2647
TN Qualifier*                        136
TN MDL (mg/L)                       2647
Total Phosphorus (mg/L)             2746
TP Qualifier*                       1060
TP MDL (mg/L)                       2763
Total Alkalinity (mg/L)              384
Total Alkalinity Qualifier*            4
Total Alkalinity MDL (mg/L)          388
Unnamed: 35                            0
dtype: int64

In [7]:
WQ0611_df.columns

Index(['CollectDate', 'SampleNum', 'Depth (m)', 'Ammmonia Nitrogen (mg/L)',
       'Ammmonia Nitrogen Qualifier*', 'AN MDL (mg/L)',
       'Conductivity (µmhos/cm)', 'Cond Qualifier*', 'Cond MDL (µmhos/cm)',
       'Dissolved Oxygen (mg/L)', 'DO Qualifier*', 'DO MDL (mg/L)', 'Ecoli',
       'Ecoli Qualifier*', 'Fecal Coliform (CFU/100ml)',
       'Fecal Coliform Qualifier*', 'Nitrate Nitrite (mg/L)',
       'Nitrate Nitrite Qualifier*', 'Nitrate Nitrite MDL (mg/L)',
       'Orthophosphate Phosphate (mg/L)', 'OP Qualifier*', 'OP MDL (mg/L)',
       'pH', 'pH Qualifier*', 'Temperature (°C)', 'Temperature Qualifier*',
       'Total Nitrogen (mg/L)', 'TN Qualifier*', 'TN MDL (mg/L)',
       'Total Phosphorus (mg/L)', 'TP Qualifier*', 'TP MDL (mg/L)',
       'Total Alkalinity (mg/L)', 'Total Alkalinity Qualifier*',
       'Total Alkalinity MDL (mg/L)', 'Unnamed: 35'],
      dtype='object')

In [8]:
# columns = [
#     "CollectDate", "SampleNum", "Depth (m)", "Ammmonia Nitrogen (mg/L)", "Ammmonia Nitrogen Qualifier*",
#     "AN MDL (mg/L)", "Conductivity (µmhos/cm)", "Cond Qualifier*", "Cond MDL (µmhos/cm)",
#     "Dissolved Oxygen (mg/L)", "DO Qualifier*", "DO MDL (mg/L)", "Ecoli", "Ecoli Qualifier*", 
#     "Fecal Coliform (CFU/100ml)", "Fecal Coliform Qualifier*", "Nitrate Nitrite (mg/L)", 
#     "Nitrate Nitrite Qualifier*", "Nitrate Nitrite MDL (mg/L)", "Orthophosphate Phosphate (mg/L)", 
#     "OP Qualifier*", "OP MDL (mg/L)", "pH", "pH Qualifier*", "Temperature (°C)", "Temperature Qualifier*", 
#     "Total Nitrogen (mg/L)", "TN Qualifier*", "TN MDL (mg/L)", "Total Phosphorus (mg/L)", "TP Qualifier*", 
#     "TP MDL (mg/L)", "Total Alkalinity (mg/L)", "Total Alkalinity Qualifier*", "Total Alkalinity MDL (mg/L)", 
#     "Unnamed: 35"
# ]

# columns_qualifier = [
#     "Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
#     "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
#     "pH Qualifier*", "Temperature Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*"
# ]
# columns_MDL = [
#     "AN MDL (mg/L)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)", "OP MDL (mg/L)", 
#     "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)"
# ]

In [9]:
# print(columns)
# print(columns_qualifier)
# print(columns_MDL)

In [10]:
# Drop all the qualidiers 
WQ0611_df = WQ0611_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
    "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
    "pH Qualifier*", "Temperature Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*"])

# Drop all the MDL columns
WQ0611_df = WQ0611_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
"OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)"])

# Drop unnamed columns 
WQ0611_df = WQ0611_df.drop(columns=["Unnamed: 35"])

WQ0611_df = WQ0611_df.drop(columns=["Ecoli", "Total Alkalinity (mg/L)"])

WQ0611_df

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,01/06/1994,L2704-18,0.02,103.0,9.15,1.0,0.27,0.011,7.4,7.4,0.410,0.017
1,01/06/1994,L2704-19,NaN,104.0,8.98,NaN,NaN,NaN,7.4,7.3,NaN,NaN
2,01/06/1994,L2704-20,0.02,102.0,9.00,NaN,0.29,0.012,7.4,7.3,0.440,0.019
3,01/06/1994,L2704-21,NaN,105.0,9.21,NaN,NaN,NaN,7.4,7.3,NaN,NaN
4,01/06/1994,L2704-22,NaN,104.0,9.20,NaN,NaN,NaN,7.4,7.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
10028,09/13/2022,L80241-37,NaN,105.7,3.27,NaN,NaN,NaN,6.6,9.8,NaN,NaN
10029,09/13/2022,L80241-38,NaN,106.3,2.12,NaN,NaN,NaN,6.5,9.4,NaN,NaN
10030,09/13/2022,L80241-39,NaN,107.3,1.02,NaN,NaN,NaN,6.4,9.2,NaN,NaN
10031,09/13/2022,L80241-40,NaN,107.5,0.79,NaN,NaN,NaN,6.4,9.2,NaN,NaN
10032,09/13/2022,L80059-47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.184,NaN

In [11]:
WQ0611_df.count()

CollectDate                        10033
SampleNum                          10033
Ammmonia Nitrogen (mg/L)            2538
Conductivity (µmhos/cm)             8133
Dissolved Oxygen (mg/L)             8052
Fecal Coliform (CFU/100ml)           316
Nitrate Nitrite (mg/L)              2566
Orthophosphate Phosphate (mg/L)     2473
pH                                  8139
Temperature (°C)                    8155
Total Nitrogen (mg/L)               2647
Total Phosphorus (mg/L)             2746
dtype: int64

In [12]:
# Checking unique values for columns. 
print(WQ0611_df["Ammmonia Nitrogen (mg/L)"].unique())
print(WQ0611_df["Nitrate Nitrite (mg/L)"].unique())
print(WQ0611_df["Orthophosphate Phosphate (mg/L)"].unique())
print(WQ0611_df["Total Nitrogen (mg/L)"].unique())
print(WQ0611_df["Total Phosphorus (mg/L)"].unique())
print(WQ0611_df["Ecoli"].unique())
print(WQ0611_df["Fecal Coliform (CFU/100ml)"].unique())

[0.02    nan 0.06  0.054 0.05  0.107 0.144 0.179 0.191 0.238 0.03  0.028
 0.125 0.135 0.033 0.031 0.217 0.232 0.025 0.024 0.023 0.029 0.035 0.027
 0.026 0.022 0.034 0.037 0.063 0.032 0.081 0.101 0.047 0.039 0.042 0.021
 0.077 0.117 0.036 0.013 0.014 0.01  0.016 0.041 0.076 0.123 0.018 0.055
 0.178 0.112 0.2   0.015 0.017 0.045 0.012 0.053 0.044 0.058 0.011 0.061
 0.113 0.019 0.046 0.085 0.084 0.057 0.048 0.052 0.174 0.195 0.202 0.056
 0.321 0.227 0.082 0.067 0.043 0.114 0.088 0.104 0.169 0.04  0.072 0.096
 0.105 0.134 0.066 0.11  0.078 0.129 0.064 0.116 0.143 0.005 0.007 0.006
 0.008 0.038 0.009 0.079 0.093 0.188 0.185 0.068 0.051 0.106 0.002 0.003
 0.07  0.004 0.187 0.201 0.211 0.172 0.182 0.189 0.109 0.204 0.12  0.205
 0.221 0.254 0.294 0.142 0.062 0.049 0.073 0.253 0.148 0.094]
[0.27    nan 0.29  0.28  0.31  0.26  0.32  0.38  0.223 0.276 0.36  0.241
 0.252 0.341 0.251 0.326 0.264 0.312 0.247 0.266 0.214 0.14  0.233 0.221
 0.05  0.129 0.205 0.22  0.199 0.147 0.15  0.151 0.319 0.356 0.375 0.373
 0.449 0.435 0.41  0.484 0.471 0.483 0.536 0.506 0.537 0.411 0.335 0.366
 0.486 0.432 0.285 0.293 0.301 0.42  0.292 0.303 0.371 0.396 0.219 0.299
 0.316 0.362 0.397 0.225 0.218 0.394 0.072 0.357 0.321 0.123 0.192 0.074
 0.118 0.121 0.126 0.122 0.254 0.256 0.255 0.257 0.441 0.444 0.43  0.412
 0.527 0.513 0.516 0.493 0.489 0.595 0.572 0.609 0.587 0.603 0.51  0.508
 0.533 0.545 0.616 0.472 0.481 0.467 0.523 0.576 0.553 0.509 0.542 0.57
 0.571 0.574 0.442 0.446 0.455 0.512 0.519 0.477 0.551 0.578 0.525 0.414
 0.423 0.448 0.534 0.463 0.391 0.378 0.498 0.46  0.44  0.262 0.272 0.387
 0.451 0.367 0.338 0.436 0.524 0.473 0.429 0.207 0.386 0.494 0.419 0.35
 0.176 0.162 0.369 0.165 0.389 0.298 0.09  0.097 0.224 0.505 0.297 0.065
 0.067 0.062 0.474 0.365 0.354 0.091 0.469 0.237 0.194 0.154 0.153 0.164
 0.271 0.306 0.308 0.304 0.3   0.495 0.502 0.476 0.529 0.541 0.52  0.532
 0.563 0.641 0.582 0.632 0.606 0.581 0.548 0.558 0.56  0.566 0.466 0.421
 0.485 0.568 0.596 0.311 0.329 0.552 0.382 0.37  0.34  0.143 0.428 0.092
 0.094 0.325 0.054 0.134 0.128 0.18  0.187 0.203 0.268 0.343 0.309 0.307
 0.286 0.314 0.294 0.344 0.337 0.336 0.333 0.405 0.361 0.372 0.364 0.342
 0.358 0.288 0.291 0.317 0.398 0.404 0.302 0.399 0.4   0.161 0.385 0.454
 0.021 0.026 0.345 0.243 0.02  0.189 0.384 0.049 0.066 0.058 0.06  0.315
 0.406 0.422 0.416 0.538 0.535 0.564 0.561 0.573 0.577 0.491 0.492 0.53
 0.543 0.45  0.459 0.457 0.468 0.488 0.11  0.111 0.377 0.458 0.339 0.106
 0.351 0.318 0.037 0.033 0.425 0.487 0.331 0.048 0.063 0.453 0.051 0.158
 0.159 0.269 0.278 0.413 0.417 0.415 0.452 0.439 0.443 0.475 0.497 0.363
 0.305 0.313 0.465 0.068 0.246 0.368 0.024 0.025 0.323 0.105 0.138 0.029
 0.124 0.125 0.182 0.177 0.179 0.178 0.265 0.267 0.222 0.226 0.229 0.258
 0.253 0.17  0.197 0.248 0.227 0.135 0.173 0.188 0.216 0.21  0.193 0.041
 0.149 0.115 0.103 0.044 0.198 0.346 0.381 0.379 0.374 0.296 0.332 0.273
 0.168 0.163 0.261 0.117 0.235 0.347 0.281 0.274 0.23  0.213 0.245 0.064
 0.061 0.059 0.191 0.183 0.186 0.174 0.234 0.238 0.242 0.244 0.322 0.078
 0.076 0.095 0.119 0.289 0.096 0.181 0.166 0.16  0.327 0.334 0.33  0.324
 0.407 0.349 0.295 0.353 0.348 0.392 0.283 0.461 0.031 0.088 0.056 0.282
 0.104 0.042 0.175 0.259 0.328 0.249 0.209 0.263 0.052 0.12  0.032 0.19
 0.07  0.069 0.277 0.482 0.49  0.383 0.479 0.401 0.156 0.355 0.215 0.108
 0.055 0.053 0.057 0.239 0.232 0.359 0.034 0.208 0.395 0.25  0.217 0.093
 0.047 0.2   0.195 0.196 0.287 0.228 0.284 0.185 0.039 0.04  0.127 0.133
 0.212 0.352 0.167 0.169 0.148 0.077 0.155 0.01  0.015 0.275 0.079 0.083
 0.087 0.086 0.202 0.184 0.201 0.211 0.204 0.1   0.206 0.016 0.036 0.13
 0.014 0.279 0.157 0.131 0.013 0.011 0.03  0.022 0.023 0.171 0.132 0.142
 0.172 0.144 0.099 0.136 0.114 0.113 0.082 0.146 0.102 0.141 0.098 0.018
 0.038 0.101 0.236 0.152 0.046 0.045 0.084 0.116 0.071 0.24  0.231 0.012
 0.08  0.027 0.085 0.109 0.035 0.107 0.145 0.073 0.089 0.139 0.075]
[0.011     nan 0.012  0.013  0.009  0.003  0.002  0.0047 0.0051 0.0031
 0.004  0.0036 0.048  0.0815 0.0115 0.0112 0.01   0.0097 0.0089 0.0095
 0.0111 0.0059 0.0066 0.007  0.0037 0.0032 0.0082 0.0025 0.0043 0.0078
 0.0021 0.0101 0.0034 0.0033 0.0086 0.0023 0.0117 0.017  0.008  0.005
 0.006  0.0065 0.0053 0.0055 0.0143 0.0142 0.0122 0.016  0.0141 0.0135
 0.0125 0.0106 0.0119 0.0105 0.0116 0.0121 0.0127 0.0129 0.0227 0.0229
 0.0231 0.0232 0.0224 0.0236 0.0167 0.015  0.0169 0.0228 0.0175 0.0166
 0.0075 0.0048 0.0179 0.0088 0.0063 0.0079 0.0098 0.0103 0.0083 0.0084
 0.0114 0.0076 0.0056 0.0071 0.0042 0.0038 0.0041 0.0045 0.0067 0.0243
 0.0035 0.0057 0.0233 0.0147 0.0213 0.0309 0.0118 0.0123 0.0151 0.0137
 0.0113 0.0146 0.0172 0.0148 0.0144 0.0099 0.0087 0.0022 0.0029 0.0027
 0.0026 0.0128 0.0046 0.0091 0.0085 0.0081 0.0092 0.0093 0.0094 0.0102
 0.0074 0.0073 0.018  0.0134 0.0096 0.0077 0.0062 0.0028 0.0039 0.0058
 0.0061 0.0443 0.0044 0.0054 0.0171 0.0145 0.0149 0.0109 0.0104 0.0369
 0.0024 0.0108 0.0133 0.0124 0.0152 0.0069 0.0072 0.0154 0.0192 0.0126
 0.0223 0.0177 0.0183 0.0068 0.0138 0.0587 0.0693 0.0282 0.0635 0.056
 0.022  0.0049 0.0545 0.0132 0.0139 0.0064 0.0006 0.0005 0.0007 0.0014
 0.0017 0.0009 0.001  0.0015 0.0013 0.0242 0.0107 0.0012 0.0011 0.0008
 0.0018 0.0176 0.0401 0.0251 0.0219 0.026  0.0302 0.0257 0.0215 0.0606
 0.0767 0.0878 0.112  0.0019 0.0016 0.138  0.0131 0.0052 0.0202 0.0432]
[0.41    nan 0.44  0.4   0.47  0.53  0.5   0.55  0.54  0.439 0.454 0.525
 0.427 0.469 0.527 0.416 0.51  0.428 0.489 0.397 0.348 0.385 0.302 0.441
 0.417 0.275 0.443 0.248 0.272 0.227 0.377 0.304 0.374 0.26  0.283 0.239
 0.391 0.419 0.32  0.361 0.529 0.536 0.528 0.58  0.549 0.577 0.644 0.67
 0.634 0.706 0.593 0.69  0.624 0.596 0.497 0.555 0.559 0.578 0.462 0.563
 0.505 0.517 0.657 0.64  0.506 0.52  0.538 0.68  0.459 0.476 0.564 0.566
 0.551 0.329 0.34  0.558 0.554 0.453 0.413 0.315 0.347 0.495 0.651 0.481
 0.446 0.205 0.121 0.249 0.621 0.652 0.408 0.201 0.256 0.246 0.522 0.451
 0.354 0.376 0.359 0.356 0.405 0.373 0.504 0.463 0.607 0.599 0.583 0.572
 0.571 0.542 0.723 0.697 0.819 0.712 0.683 0.664 0.769 0.764 0.779 0.775
 0.791 0.786 0.754 0.752 0.738 0.758 0.672 0.639 0.736 0.733 0.757 0.603
 0.625 0.638 0.674 0.695 0.641 0.633 0.632 0.671 0.659 0.643 0.649 0.611
 0.661 0.66  0.586 0.616 0.584 0.6   0.654 0.679 0.514 0.511 0.65  0.7
 0.617 0.595 0.415 0.548 0.589 0.545 0.412 0.576 0.613 0.404 0.389 0.475
 0.366 0.622 0.464 0.333 0.392 0.332 0.604 0.531 0.533 0.254 0.219 0.465
 0.379 0.437 0.515 0.541 0.438 0.582 0.592 0.637 0.628 0.788 0.717 0.668
 0.72  0.05  0.719 0.675 0.677 0.708 0.687 0.71  0.709 0.721 0.741 0.751
 0.694 0.726 0.767 0.673 0.561 1.12  0.562 0.552 0.724 0.594 0.35  0.375
 0.588 0.658 0.48  0.273 0.534 0.627 0.537 0.29  0.358 0.28  0.322 0.326
 0.395 0.402 0.421 0.488 0.492 0.429 0.423 0.411 0.499 0.512 0.472 0.46
 0.696 0.526 0.543 0.581 0.606 0.539 0.468 0.493 0.485 0.494 0.519 0.516
 0.546 0.491 0.535 0.521 0.367 0.518 0.229 0.233 0.509 0.484 0.2   0.19
 0.237 0.236 0.258 0.473 0.382 0.455 0.422 0.556 0.575 0.568 0.716 0.665
 0.655 0.76  0.737 0.765 0.74  0.681 0.734 0.704 0.619 0.693 0.612 0.61
 0.365 0.629 0.503 0.334 0.343 0.614 0.483 0.274 0.325 0.653 0.287 0.635
 0.498 0.56  0.314 0.299 0.278 0.39  0.502 0.466 0.532 0.477 0.62  0.587
 0.569 0.656 0.666 0.642 0.645 0.663 0.689 0.508 0.306 0.567 0.301 0.605
 0.277 0.316 0.27  0.378 0.318 0.323 0.371 0.353 0.383 0.37  0.364 0.401
 0.457 0.435 0.43  0.431 0.418 0.352 0.414 0.295 0.312 0.342 0.172 0.202
 0.262 0.355 0.346 0.167 0.206 0.33  0.309 0.351 0.209 0.259 0.187 0.163
 0.137 0.296 0.212 0.224 0.218 0.243 0.425 0.349 0.344 0.487 0.496 0.478
 0.544 0.486 0.479 0.471 0.432 0.319 0.434 0.242 0.282 0.513 0.452 0.213
 0.22  0.23  0.447 0.241 0.293 0.261 0.255 0.338 0.335 0.409 0.42  0.399
 0.467 0.456 0.3   0.49  0.194 0.204 0.345 0.38  0.507 0.215 0.24  0.211
 0.269 0.271 0.276 0.369 0.482 0.565 0.574 0.386 0.207 0.189 0.234 0.341
 0.199 0.216 0.217 0.433 0.388 0.339 0.436 0.406 0.501 0.524 0.448 0.623
 0.381 0.235 0.307 0.523 0.17  0.178 0.284 0.45  0.15  0.166 0.372 0.331
 0.703 0.773 0.701 0.715 0.831 0.699 0.707 0.553 0.601 0.279 0.186 0.281
 0.291 0.442 0.474 0.57  0.547 0.317 0.222 0.198 0.292 0.426 0.298 0.297
 0.303 0.305 0.407 0.444 0.424 0.461 0.396 0.445 0.244 0.214 0.384 0.193
 0.36  0.357 0.449 0.398 0.294 0.264 0.221 0.836 0.191 0.196 0.203 0.18
 0.403 0.321 0.245 0.252 0.25  0.362 0.266 0.285 0.393 0.231 0.21  0.188
 0.181 0.313 0.458 0.225 0.208 0.195 0.265 0.336 0.368 0.394 0.311 0.288
 0.247 0.324 0.251 0.253 0.168 0.232 0.337 0.228 0.185 0.327 0.328 0.263
 0.197 0.257 0.226 0.308 0.615 0.289 0.174 0.182 0.183 0.177 0.165 0.173
 0.31  0.267 0.192 0.268 0.363 0.179 0.148 0.117 0.12  0.387 0.579 0.223
 0.154 0.184 0.238 0.286 0.119 0.16  0.161 0.151 0.144 0.164 0.159 0.131
 0.175 0.155 0.176]
[0.017     nan 0.019  0.023  0.03   0.049  0.029  0.013  0.015  0.016
 0.014  0.009  0.011  0.018  0.008  0.012  0.01   0.032  0.007  0.067
 0.105  0.058  0.037  0.021  0.027  0.022  0.031  0.128  0.14   0.026
 0.036  0.025  0.028  0.0139 0.0215 0.0146 0.0258 0.0306 0.006  0.005
 0.0127 0.0083 0.0282 0.0337 0.0069 0.0062 0.0061 0.0371 0.0055 0.0096
 0.0272 0.0868 0.0169 0.0072 0.0088 0.0848 0.1    0.024  0.057  0.02
 0.059  0.062  0.045  0.039  0.034  0.046  0.044  0.0214 0.0164 0.0154
 0.0134 0.0186 0.0281 0.0319 0.0271 0.0217 0.0193 0.0302 0.0292 0.0346
 0.0269 0.0333 0.0315 0.0377 0.0341 0.0374 0.0343 0.0289 0.0365 0.0296
 0.0195 0.0184 0.0183 0.0152 0.0235 0.0267 0.0278 0.0125 0.0115 0.0254
 0.0097 0.0106 0.0126 0.0173 0.0076 0.0082 0.0077 0.0073 0.0192 0.0866
 0.0091 0.0104 0.0107 0.0123 0.0156 0.0159 0.0131 0.0437 0.0229 0.0148
 0.0322 0.0066 0.0251 0.0392 0.0177 0.0163 0.0194 0.0158 0.0145 0.0234
 0.0176 0.0165 0.0168 0.0178 0.0138 0.0151 0.0167 0.0132 0.0137 0.0058
 0.0064 0.0179 0.0143 0.0081 0.0052 0.0054 0.0161 0.0079 0.0089 0.0071
 0.0207 0.0252 0.0074 0.0116 0.0059 0.0068 0.0063 0.0084 0.0056 0.0191
 0.102  0.0065 0.0474 0.0202 0.0149 0.0155 0.0141 0.0153 0.0114 0.0182
 0.0113 0.0067 0.0101 0.0092 0.0087 0.0078 0.0112 0.123  0.0094 0.0109
 0.0949 0.0181 0.0321 0.0086 0.0057 0.0673 0.0545 0.0432 0.0099 0.0188
 0.0105 0.0232 0.0401 0.0162 0.0237 0.0198 0.0166 0.0172 0.0157 0.0211
 0.0189 0.0122 0.0119 0.0121 0.0075 0.0136 0.0102 0.0093 0.0257 0.0256
 0.0277 0.0246 0.0685 0.0368 0.0196 0.0313 0.0175 0.0144 0.0187 0.0108
 0.0294 0.0098 0.0516 0.0711 0.0585 0.0212 0.0174 0.0185 0.0133 0.0118
 0.0129 0.0053 0.0227 0.0095 0.0085 0.0208 0.0221 0.0135 0.0243 0.0575
 0.0142 0.0147 0.0111 0.0117 0.0199 0.0103 0.0259 0.0231 0.0241 0.0219
 0.0239 0.0244 0.0209 0.0213 0.0205 0.0402 0.0203 0.0128 0.0124 0.043
 0.0216 0.0238 0.0395 0.0508 0.0502 0.038  0.0469 0.0501 0.0399 0.041
 0.0472 0.0597 0.0286 0.0253 0.0245 0.0226 0.0171 0.0523 0.0201 0.0225
 0.0242 0.0247 0.0223 0.0607 0.0204 0.0363 0.0426 0.0834 0.145  0.0291
 0.0236 0.0249 0.0222 0.0334 0.0499 0.0051 0.0462 0.0366 0.0562 0.0623
 0.0311 0.259  0.0228 0.0453 0.0326 0.0266 0.0362 0.0347 0.0812 0.0922
 0.0746 0.0696 0.0506 0.0794 0.0693 0.0436 0.0224 0.0233 0.0206 0.0312
 0.0307 0.0435 0.0275 0.0524 0.0274 0.0262 0.0596 0.0331 0.0452 0.0447
 0.192  0.149  0.226  0.107  0.11   0.0907 0.0408 0.0566 0.0762 0.112
 0.129  0.194  0.228  0.0489 0.0628 0.0303 0.0554 0.0544 0.0387 0.0735
 0.0197 0.0418 0.064  0.0666 0.207  0.0741 0.0691 0.0874 0.0884 0.0909
 0.0284 0.143  0.0361 0.0314 0.0584 0.0351 0.0984 0.0593 0.0318 0.0355
 0.165  0.0276 0.0273 0.0385 0.0419]

KeyError: 'Ecoli'

In [13]:
# convert string to datetime
WQ0611_df["CollectDate"] = pd.to_datetime(WQ0611_df["CollectDate"])

In [14]:
WQ0611_df.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [15]:
df_1 = WQ0611_df

In [31]:
df_2 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_2.head(10)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-18,0.02,103.0,9.15,1.0,0.2700,0.01100,7.4,7.4,0.4100,0.0170
1,1994-01-06,L2704-19,0.02,104.0,8.98,1.0,0.2775,0.01175,7.4,7.3,0.4150,0.0190
2,1994-01-06,L2704-20,0.02,102.0,9.00,1.0,0.2900,0.01200,7.4,7.3,0.4400,0.0190
3,1994-01-06,L2704-21,0.02,105.0,9.21,1.0,0.2775,0.01175,7.4,7.3,0.4150,0.0190
4,1994-01-06,L2704-22,0.02,104.0,9.20,1.0,0.2775,0.01175,7.4,7.3,0.4150,0.0190
5,1994-01-06,L2704-23,0.02,103.0,9.19,1.0,0.2800,0.01300,7.4,7.3,0.4000,0.0230
6,1994-01-06,L2704-18,0.02,103.0,9.15,1.0,0.2700,0.01100,7.4,7.4,0.4100,0.0170
7,1994-02-14,L2938-18,0.02,102.5,10.81,7.0,0.3100,0.00900,7.4,6.5,0.4700,0.0300
8,1994-02-14,L2938-19,0.02,103.9,10.71,7.0,0.3000,0.00900,7.4,6.5,0.4925,0.0345
9,1994-02-14,L2938-20,0.02,105.0,10.71,7.0,0.2600,0.00900,7.4,6.5,0.5300,0.0490

In [32]:
# Removing the SampleNum column
df_2 = df_2.drop(columns=["SampleNum"])

In [33]:
df_2.isnull().sum()

CollectDate                           0
Ammmonia Nitrogen (mg/L)           1491
Conductivity (µmhos/cm)              69
Dissolved Oxygen (mg/L)              81
Fecal Coliform (CFU/100ml)         7009
Nitrate Nitrite (mg/L)             1372
Orthophosphate Phosphate (mg/L)    1469
pH                                   63
Temperature (°C)                     50
Total Nitrogen (mg/L)              1407
Total Phosphorus (mg/L)              93
dtype: int64

In [34]:
df_2.count()

CollectDate                        10033
Ammmonia Nitrogen (mg/L)            8542
Conductivity (µmhos/cm)             9964
Dissolved Oxygen (mg/L)             9952
Fecal Coliform (CFU/100ml)          3024
Nitrate Nitrite (mg/L)              8661
Orthophosphate Phosphate (mg/L)     8564
pH                                  9970
Temperature (°C)                    9983
Total Nitrogen (mg/L)               8626
Total Phosphorus (mg/L)             9940
dtype: int64

In [35]:
# Drop Nan column
df_3 = df_2.dropna()
df_3.count()

CollectDate                        3015
Ammmonia Nitrogen (mg/L)           3015
Conductivity (µmhos/cm)            3015
Dissolved Oxygen (mg/L)            3015
Fecal Coliform (CFU/100ml)         3015
Nitrate Nitrite (mg/L)             3015
Orthophosphate Phosphate (mg/L)    3015
pH                                 3015
Temperature (°C)                   3015
Total Nitrogen (mg/L)              3015
Total Phosphorus (mg/L)            3015
dtype: int64

In [36]:
df_3.columns

Index(['CollectDate', 'Ammmonia Nitrogen (mg/L)', 'Conductivity (µmhos/cm)',
       'Dissolved Oxygen (mg/L)', 'Fecal Coliform (CFU/100ml)',
       'Nitrate Nitrite (mg/L)', 'Orthophosphate Phosphate (mg/L)', 'pH',
       'Temperature (°C)', 'Total Nitrogen (mg/L)', 'Total Phosphorus (mg/L)'],
      dtype='object')

In [20]:
# Pretend calculation

# df_3['WQI'] = (df_3['Ammmonia Nitrogen (mg/L)'] + df_3['Conductivity (µmhos/cm)'] 
# + df_3['Dissolved Oxygen (mg/L)'] + df_3['Fecal Coliform (CFU/100ml)'] 
# + df_3['Nitrate Nitrite (mg/L)'] + df_3['Orthophosphate Phosphate (mg/L)'] 
# + df_3['pH'] + df_3['Temperature (°C)'] + df_3['Total Nitrogen (mg/L)'] 
# + df_3['Total Phosphorus (mg/L)'])

# df_3.head()

In [37]:
# Water Quality Index Calculation 

# Standard deviation for each parameter
amm_Sn = 0.1
cond_Sn = 300
dis_ox_Sn = 5.5
fec_coli_Sn = 135
nit_nit_Sn = 0.1
orth_phos_Sn = 0.5
pH_Sn = 8.5
temp_Sn = 7
tot_nit_Sn = 1.2
tot_phos_Sn = 0.1

# Inverse of Standard values for each parameter/feature, colC
inv_amm = 1/amm_Sn
inv_cond = 1/cond_Sn
inv_dis_ox = 1/dis_ox_Sn
inv_fec_coli_Sn = 1/fec_coli_Sn
inv_nit_nit = 1/nit_nit_Sn
inv_orth_phos = 1/orth_phos_Sn
inv_pH = 1/pH_Sn
inv_temp = 1/temp_Sn
inv_tot_nit = 1/tot_nit_Sn
inv_tot_phos = 1/tot_phos_Sn

# Sum of all inverses of standard values, colD
sum_all_inv = inv_amm + inv_cond + inv_dis_ox + inv_fec_coli_Sn + inv_nit_nit + inv_orth_phos + inv_pH + inv_temp + inv_tot_nit + inv_tot_phos

# K is the inverse of the sum of all inverses, colE
K = 1/sum_all_inv

# Wn is K divided by the standard value for each parameter/feature, colF
amm_Wn = K / amm_Sn
cond_Wn = K / cond_Sn
dis_ox_Wn = K / dis_ox_Sn
fec_coli_Wn = K / fec_coli_Sn
nit_nit_Wn = K / nit_nit_Sn
orth_phos_Wn = K / orth_phos_Sn
pH_Wn = K / pH_Sn
temp_Wn = K / temp_Sn
tot_nit_Wn = K / tot_nit_Sn
tot_phos_Wn = K / tot_phos_Sn

# Water Quality Index
# test = ((((df_3.loc[0]['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3.loc[0]['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3.loc[0]['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3.loc[0]['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3.loc[0]['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3.loc[0]['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3.loc[0]['pH']/pH_Sn)*100)*pH_Wn) + (((df_3.loc[0]['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3.loc[0]['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3.loc[0]['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
# test

df_3['WQI'] = ((((df_3['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3['pH']/pH_Sn)*100)*pH_Wn) + (((df_3['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
df_3.head()

/Users/linghoang/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1994-01-06,0.02,103.0,9.15,1.0,0.2700,0.01100,7.4,7.4,0.410,0.017,94.891147
1,1994-01-06,0.02,104.0,8.98,1.0,0.2775,0.01175,7.4,7.3,0.415,0.019,97.741629
2,1994-01-06,0.02,102.0,9.00,1.0,0.2900,0.01200,7.4,7.3,0.440,0.019,101.553997
3,1994-01-06,0.02,105.0,9.21,1.0,0.2775,0.01175,7.4,7.3,0.415,0.019,97.764504
4,1994-01-06,0.02,104.0,9.20,1.0,0.2775,0.01175,7.4,7.3,0.415,0.019,97.763478

In [38]:
import numpy as np

In [39]:
WQI_Conditions = [
    (df_3['WQI'] <= 25),
    (df_3['WQI'] >= 26) & (df_3['WQI'] <= 50),
    (df_3['WQI'] >= 51) & (df_3['WQI'] <= 75),
    (df_3['WQI'] >= 76) & (df_3['WQI'] <= 90),
    (df_3['WQI'] >= 91) & (df_3['WQI'] <= 100)
]

WQI_Categories = ['0', '1', '2', '3', '4']

df_3['WQ'] = np.select(WQI_Conditions, WQI_Categories) 

df_3.head(50)

/Users/linghoang/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI,WQ
0,1994-01-06,0.02,103.0,9.15,1.0,0.270000,0.01100,7.4,7.4,0.41000,0.017000,94.891147,4
1,1994-01-06,0.02,104.0,8.98,1.0,0.277500,0.01175,7.4,7.3,0.41500,0.019000,97.741629,4
2,1994-01-06,0.02,102.0,9.00,1.0,0.290000,0.01200,7.4,7.3,0.44000,0.019000,101.553997,0
3,1994-01-06,0.02,105.0,9.21,1.0,0.277500,0.01175,7.4,7.3,0.41500,0.019000,97.764504,4
4,1994-01-06,0.02,104.0,9.20,1.0,0.277500,0.01175,7.4,7.3,0.41500,0.019000,97.763478,4
5,1994-01-06,0.02,103.0,9.19,1.0,0.280000,0.01300,7.4,7.3,0.40000,0.023000,99.698928,4
6,1994-01-06,0.02,103.0,9.15,1.0,0.270000,0.01100,7.4,7.4,0.41000,0.017000,94.891147,4
7,1994-02-14,0.02,102.5,10.81,7.0,0.310000,0.00900,7.4,6.5,0.47000,0.030000,111.025363,0
8,1994-02-14,0.02,103.9,10.71,7.0,0.300000,0.00900,7.4,6.5,0.49250,0.034500,109.410093,0
9,1994-02-14,0.02,105.0,10.71,7.0,0.260000,0.00900,7.4,6.5,0.53000,0.049000,101.827577,0
10,1994-02-14,0.02,105.2,10.65,7.0,0.300000,0.00900,7.4,6.5,0.49250,0.034500,109.404177,0
11,1994-02-14,0.02,105.2,10.62,7.0,0.300000,0.00900,7.4,6.5,0.49250,0.034500,109.401198,0
12,1994-02-14,0.02,105.5,10.62,7.0,0.320000,0.00900,7.4,6.5,0.50000,0.029000,113.772989,0
13,1994-02-14,0.02,102.5,10.81,7.0,0.310000,0.00900,7.4,6.5,0.47000,0.030000,111.025363,0
14,1994-03-08,0.02,103.4,11.50,0.0,0.280000,0.00300,7.8,7.5,0.53000,0.013000,97.103901,4
15,1994-03-08,0.02,104.0,11.06,0.0,0.315000,0.00450,7.6,7.1,0.53750,0.013500,107.726072,0
16,1994-03-08,0.02,105.1,10.97,0.0,0.380000,0.00300,7.6,7.1,0.55000,0.013000,127.102509,0
17,1994-03-08,0.02,105.3,10.80,0.0,0.315000,0.00450,7.5,6.9,0.53750,0.013500,107.683874,0
18,1994-03-08,0.02,105.9,10.14,0.0,0.315000,0.00450,7.4,6.7,0.53750,0.013500,107.601927,0
19,1994-03-08,0.02,105.3,9.69,0.0,0.320000,0.00900,7.3,6.5,0.54000,0.015000,109.552837,0
20,1994-03-08,0.02,103.4,11.50,0.0,0.280000,0.00300,7.8,7.5,0.53000,0.013000,97.103901,4
21,1994-03-22,0.02,104.0,12.63,0.0,0.290000,0.00200,8.7,8.0,0.50000,0.016000,101.115118,0
22,1994-03-22,0.02,105.3,12.24,0.0,0.296667,0.00200,8.3,7.6,0.51000,0.015333,102.858673,0
23,1994-03-22,0.02,105.9,11.91,0.0,0.310000,0.00200,8.1,7.6,0.53000,0.014000,106.464405,0
24,1994-03-22,0.02,106.2,11.76,0.0,0.296667,0.00200,8.1,7.5,0.51000,0.015333,102.796585,0
25,1994-03-22,0.02,106.3,11.71,0.0,0.296667,0.00200,8.1,7.5,0.51000,0.015333,102.791623,0
26,1994-03-22,0.02,106.5,11.70,0.0,0.296667,0.00200,8.1,7.5,0.51000,0.015333,102.790637,0
27,1994-03-22,0.02,104.0,12.63,0.0,0.290000,0.00200,8.7,8.0,0.50000,0.016000,101.115118,0
28,1994-04-05,0.02,103.7,15.04,4.0,0.223000,0.00470,9.4,10.3,0.43900,0.009000,79.199113,3
29,1994-04-05,0.02,104.2,15.01,4.0,0.270500,0.00470,9.3,10.0,0.46425,0.010000,93.796794,4
30,1994-04-05,0.02,103.3,13.28,4.0,0.276000,0.00470,8.7,7.9,0.45400,0.009000,94.801770,4
31,1994-04-05,0.02,103.3,11.83,4.0,0.270500,0.00470,7.9,7.4,0.46425,0.010000,93.263326,4
32,1994-04-05,0.02,103.7,11.13,4.0,0.270500,0.00470,7.7,7.2,0.46425,0.010000,93.173242,4
33,1994-04-05,0.02,103.9,9.59,4.0,0.360000,0.00470,7.4,7.1,0.52500,0.013000,120.917571,0
34,1994-04-05,0.02,103.7,15.04,4.0,0.223000,0.00470,9.4,10.3,0.43900,0.009000,79.199113,3
35,1994-04-19,0.02,104.5,12.89,0.0,0.241000,0.00200,9.2,12.6,0.42700,0.011000,85.068635,3
36,1994-04-19,0.02,105.0,12.89,0.0,0.268750,0.00200,9.2,12.5,0.46250,0.013250,94.149274,4
37,1994-04-19,0.02,103.9,13.65,0.0,0.252000,0.00200,9.2,9.5,0.46900,0.018000,90.449267,0
38,1994-04-19,0.02,103.6,12.52,0.0,0.268750,0.00200,8.7,8.7,0.46250,0.013250,93.858710,4
39,1994-04-19,0.02,104.1,11.35,0.0,0.268750,0.00200,8.0,8.0,0.46250,0.013250,93.670505,4
40,1994-04-19,0.02,104.1,9.31,0.0,0.341000,0.00200,7.5,7.5,0.52700,0.013000,115.181483,0
41,1994-04-19,0.02,104.5,12.89,0.0,0.241000,0.00200,9.2,12.6,0.42700,0.011000,85.068635,3
42,1994-05-03,0.02,108.3,10.84,0.0,0.251000,0.00200,8.8,13.8,0.41600,0.008000,87.002122,3
43,1994-05-03,0.02,108.5,10.53,0.0,0.276000,0.00200,8.8,13.4,0.44900,0.009000,94.826663,4
44,1994-05-03,0.02,107.0,12.69,0.0,0.276000,0.00200,8.7,9.4,0.45400,0.008000,94.501737,4
45,1994-05-03,0.02,106.6,11.29,0.0,0.276000,0.00200,7.9,8.2,0.44900,0.009000,94.545839,4
46,1994-05-03,0.02,106.3,8.51,0.0,0.276000,0.00200,7.2,7.7,0.44900,0.009000,94.209975,4
47,1994-05-03,0.02,106.4,8.31,0.0,0.326000,0.00200,7.1,7.6,0.51000,0.012000,110.229510,0
48,1994-05-03,0.02,108.3,10.84,0.0,0.251000,0.00200,8.8,13.8,0.41600,0.008000,87.002122,3
49,1994-05-24,0.02,114.1,10.21,0.0,0.264000,0.00200,8.4,17.7,0.42800,0.015000,93.195724,4

In [40]:
# Export csv file 

path = "/Users/linghoang/UCBBootcamp/DataClass/GroupProject/Resources/Output/Lake_Sammamish_0611_clean.csv"
df_3.to_csv(path, index=False)

## Set Up Logistic Regression Model

In [47]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [48]:
# Seperate the Features (X) from the Target (y)
y = df_3['WQ']
X = df_3.drop(['WQ', 'CollectDate'], axis='columns')

In [49]:
# Split our data into training and testing 
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=42)
                                                    
                                                    
X_train.shape

(2261, 11)

In [50]:
y_train

3476    0
2784    2
100     1
315     0
892     0
       ..
2224    0
1323    0
1358    4
1619    0
927     0
Name: WQ, Length: 2261, dtype: object

In [51]:
y_test

63      4
3842    3
102     1
3850    3
416     0
       ..
698     0
3810    2
924     0
238     0
2148    0
Name: WQ, Length: 754, dtype: object

In [53]:
# Create a Logistic Regression Model 

classifier = LogisticRegression(solver='lbfgs', random_state=0)
classifier

LogisticRegression(random_state=0)

In [54]:
classifier.fit(X_train, y_train)

/Users/linghoang/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(random_state=0)

In [55]:
from sklearn import preprocessing
from sklearn import utils

In [56]:
# convert y values to categorical values
lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

In [57]:
#view transformed values (1)
print(y_transformed)

[4 4 0 ... 2 2 0]

In [58]:
# Fit (train) or model using the training data 
classifier.fit(X, y_transformed)

/Users/linghoang/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(random_state=0)

In [59]:
# Prediction outcomes for test data set 
predictions = classifier.predict(X_test)

results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction Actual
0            0      4
1            0      3
2            2      1
3            0      3
4            0      0
5            1      1
6            2      2
7            2      2
8            0      0
9            0      0
10           2      4
11           0      0
12           1      1
13           2      0
14           0      0
15           2      0
16           0      0
17           2      0
18           0      4
19           0      4

In [61]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, predictions))

0.0

## Set up Random Forest Model to make Classification

In [62]:
# Initials imports
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [77]:
# Loading data
file_path = Path("/Users/linghoang/UCBBootcamp/DataClass/GroupProject/Resources/OutPut/Lake_Sammamish_0611_clean.csv")
WQ0611_clean_df = pd.read_csv(file_path)
WQ0611_clean_df.head()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI,WQ
0,1994-01-06,0.02,103.0,9.15,1.0,0.2700,0.01100,7.4,7.4,0.410,0.017,94.891147,4
1,1994-01-06,0.02,104.0,8.98,1.0,0.2775,0.01175,7.4,7.3,0.415,0.019,97.741629,4
2,1994-01-06,0.02,102.0,9.00,1.0,0.2900,0.01200,7.4,7.3,0.440,0.019,101.553997,0
3,1994-01-06,0.02,105.0,9.21,1.0,0.2775,0.01175,7.4,7.3,0.415,0.019,97.764504,4
4,1994-01-06,0.02,104.0,9.20,1.0,0.2775,0.01175,7.4,7.3,0.415,0.019,97.763478,4

In [78]:
## Preprocess the Data

In [75]:
# Define the features set
X = WQ0611_clean_df.copy()
X = X.drop(['WQ','CollectDate'], axis='columns')
X.head()

,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,0.02,103.0,9.15,1.0,0.2700,0.01100,7.4,7.4,0.410,0.017,94.891147
1,0.02,104.0,8.98,1.0,0.2775,0.01175,7.4,7.3,0.415,0.019,97.741629
2,0.02,102.0,9.00,1.0,0.2900,0.01200,7.4,7.3,0.440,0.019,101.553997
3,0.02,105.0,9.21,1.0,0.2775,0.01175,7.4,7.3,0.415,0.019,97.764504
4,0.02,104.0,9.20,1.0,0.2775,0.01175,7.4,7.3,0.415,0.019,97.763478

In [79]:
# Define the target set.
y = WQ0611_clean_df["WQ"].ravel()
y[:5]

array([4, 4, 0, 4, 4])

In [80]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [81]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [86]:
X_train_scaled

array([[-0.54063912, -0.27153495,  0.48439841, ...,  1.1135104 ,
        -0.1157638 ,  1.2299974 ],
       [-0.05300265,  0.27976825,  0.04246591, ...,  0.0579495 ,
        -0.69461786,  0.19489828],
       [ 0.19081559, -0.10447338,  0.01530805, ...,  0.01362148,
         0.79919908,  0.11915783],
       ...,
       [-0.52438457, -0.10447338, -0.84880578, ..., -0.44489644,
         0.22501319, -0.60680288],
       [ 0.53912736, -0.87295663, -1.15001117, ..., -0.00141838,
        -0.16111181,  0.11312837],
       [-0.54063912, -1.15696131,  0.9287998 , ...,  0.34054061,
        -0.34606058,  0.14707248]])

In [87]:
X_test_scaled

array([[ 0.19081559, -2.15933078,  0.05481039, ..., -0.57372474,
        -0.09709109, -0.752157  ],
       [-0.54063912,  0.65287244,  0.44489606, ..., -0.74826631,
        -0.8346632 , -0.43431322],
       [-0.54063912,  0.83107146,  0.30416895, ...,  1.05532988,
         0.16432688,  1.32598619],
       ...,
       [-0.05300265, -0.30494727,  0.55846531, ...,  0.63619265,
        -0.80131907,  0.28808147],
       [-0.29682088,  1.34339363, -1.05886773, ..., -0.88956186,
        -0.27448185, -1.49594302],
       [-0.05300265,  1.86685323,  0.39798703, ..., -0.59658137,
        -0.34450452, -0.50401694]])

In [88]:
y_train

array([0, 4, 4, ..., 2, 4, 4])

In [89]:
y_test

array([2, 2, 0, 0, 4, 4, 0, 0, 2, 1, 3, 0, 2, 0, 0, 2, 2, 0, 2, 2, 2, 0,
       4, 2, 2, 0, 0, 3, 4, 2, 0, 4, 0, 1, 2, 2, 1, 0, 2, 3, 1, 4, 3, 0,
       0, 2, 3, 4, 2, 1, 4, 2, 0, 0, 2, 0, 0, 3, 3, 2, 1, 0, 2, 2, 2, 3,
       3, 0, 0, 0, 2, 0, 1, 3, 3, 3, 0, 0, 2, 0, 0, 2, 0, 3, 2, 3, 2, 3,
       0, 3, 2, 0, 0, 2, 0, 0, 2, 0, 1, 0, 2, 0, 2, 0, 0, 0, 2, 4, 0, 2,
       0, 1, 0, 0, 0, 2, 0, 3, 2, 0, 0, 0, 0, 0, 2, 0, 2, 2, 0, 1, 0, 2,
       3, 0, 0, 4, 0, 2, 0, 0, 0, 0, 0, 2, 0, 1, 3, 3, 0, 0, 2, 4, 0, 0,
       0, 0, 2, 1, 0, 0, 1, 2, 1, 0, 0, 0, 1, 0, 2, 1, 1, 0, 0, 2, 0, 2,
       3, 2, 0, 0, 2, 2, 0, 0, 3, 1, 3, 0, 4, 0, 0, 3, 3, 0, 0, 2, 0, 1,
       4, 0, 0, 0, 2, 0, 3, 0, 3, 0, 0, 0, 0, 0, 3, 2, 3, 2, 3, 2, 2, 0,
       4, 0, 2, 0, 1, 0, 2, 4, 0, 1, 3, 2, 0, 0, 2, 2, 0, 4, 2, 0, 0, 0,
       2, 0, 0, 3, 3, 1, 2, 1, 2, 0, 0, 2, 2, 0, 3, 1, 0, 0, 0, 3, 2, 2,
       0, 0, 3, 2, 2, 0, 3, 0, 2, 1, 0, 3, 0, 1, 0, 3, 0, 0, 0, 1, 0, 4,
       0, 3, 4, 0, 0, 0, 3, 4, 0, 2, 4, 4, 2, 4, 2, 2, 2, 0, 0, 2, 2, 3,
       0, 0, 0, 0, 0, 2, 3, 2, 0, 2, 0, 1, 3, 0, 2, 2, 0, 2, 0, 0, 0, 3,
       0, 0, 0, 2, 0, 2, 4, 2, 0, 4, 1, 4, 2, 0, 2, 2, 0, 1, 2, 0, 0, 0,
       2, 0, 0, 1, 0, 2, 3, 2, 0, 2, 0, 4, 3, 0, 0, 2, 0, 0, 3, 0, 4, 0,
       2, 0, 2, 0, 0, 3, 3, 4, 2, 2, 0, 0, 0, 1, 0, 2, 3, 2, 2, 1, 0, 4,
       1, 0, 3, 2, 0, 0, 0, 3, 3, 0, 0, 2, 2, 1, 2, 4, 0, 0, 0, 3, 0, 0,
       0, 2, 4, 2, 2, 3, 0, 1, 0, 2, 0, 2, 0, 2, 2, 0, 2, 0, 2, 4, 0, 1,
       1, 1, 2, 0, 2, 2, 3, 0, 3, 2, 3, 3, 0, 4, 0, 0, 2, 3, 3, 3, 2, 3,
       2, 2, 0, 0, 1, 2, 0, 2, 2, 0, 0, 0, 0, 0, 1, 2, 2, 0, 1, 0, 0, 0,
       2, 0, 2, 1, 0, 3, 0, 4, 0, 2, 0, 3, 3, 1, 0, 0, 2, 1, 0, 0, 2, 1,
       0, 1, 2, 1, 0, 2, 3, 1, 0, 2, 3, 0, 4, 2, 0, 4, 0, 0, 2, 3, 2, 0,
       2, 2, 0, 3, 4, 0, 0, 2, 0, 0, 2, 0, 0, 2, 0, 0, 2, 2, 0, 3, 3, 1,
       0, 4, 3, 0, 0, 0, 3, 0, 0, 0, 4, 4, 0, 4, 2, 0, 4, 1, 1, 4, 3, 1,
       0, 0, 3, 0, 1, 2, 2, 1, 4, 2, 2, 2, 3, 0, 0, 0, 0, 1, 0, 0, 4, 0,
       0, 3, 2, 2, 4, 2, 2, 0, 4, 0, 0, 1, 1, 0, 2, 0, 0, 0, 2, 2, 2, 2,
       0, 3, 0, 0, 3, 2, 2, 4, 0, 0, 0, 2, 2, 0, 2, 2, 0, 0, 2, 0, 2, 3,
       2, 0, 3, 2, 0, 2, 0, 2, 4, 2, 2, 0, 3, 0, 0, 2, 3, 3, 2, 4, 0, 4,
       1, 4, 4, 2, 0, 4, 4, 0, 2, 2, 0, 0, 1, 2, 2, 0, 2, 3, 1, 2, 2, 4,
       0, 2, 3, 0, 1, 2, 0, 2, 0, 1, 2, 4, 4, 0, 0, 3, 2, 0, 2, 2, 2, 0,
       0, 3, 2, 4, 2, 0, 2, 4, 0, 2, 2, 2, 0, 3, 0, 2, 0, 0, 2, 0, 0, 0,
       0, 4, 4, 2, 4, 2, 2, 4, 1, 2, 2, 0, 2, 0, 0, 3, 2, 2, 0, 0, 0, 2,
       0, 1, 4, 4, 1, 2])

In [90]:
# Fit the random forest classidier
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [91]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [92]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [93]:
predictions

array([2, 2, 0, 0, 4, 4, 0, 0, 2, 1, 3, 0, 2, 0, 0, 2, 2, 0, 2, 2, 2, 0,
       4, 2, 2, 0, 0, 3, 4, 2, 0, 4, 0, 1, 2, 2, 1, 0, 2, 3, 1, 4, 3, 0,
       0, 2, 3, 4, 2, 1, 4, 2, 0, 0, 2, 0, 0, 3, 3, 2, 1, 0, 2, 2, 2, 3,
       3, 0, 0, 0, 2, 0, 1, 3, 3, 3, 0, 0, 2, 0, 0, 2, 0, 3, 2, 3, 2, 3,
       0, 3, 2, 0, 0, 2, 0, 0, 2, 0, 1, 0, 2, 0, 2, 0, 0, 0, 2, 4, 0, 2,
       0, 1, 0, 0, 0, 2, 0, 3, 2, 0, 0, 0, 0, 0, 2, 0, 2, 2, 0, 1, 0, 2,
       3, 0, 0, 4, 0, 2, 0, 0, 0, 0, 0, 2, 0, 1, 3, 3, 0, 0, 2, 4, 0, 0,
       0, 0, 2, 1, 0, 0, 1, 2, 1, 0, 0, 0, 1, 0, 2, 1, 1, 0, 0, 2, 0, 2,
       3, 2, 0, 0, 2, 2, 0, 0, 3, 1, 3, 0, 4, 0, 0, 3, 3, 0, 0, 2, 0, 1,
       4, 0, 0, 0, 2, 0, 3, 0, 3, 0, 0, 4, 0, 0, 3, 2, 3, 2, 3, 2, 2, 0,
       4, 0, 2, 0, 1, 0, 2, 4, 0, 1, 3, 2, 0, 0, 2, 2, 0, 4, 2, 0, 0, 0,
       2, 0, 0, 3, 3, 1, 2, 1, 2, 0, 0, 2, 2, 0, 3, 1, 0, 0, 0, 3, 2, 2,
       0, 0, 3, 2, 2, 0, 3, 0, 2, 1, 0, 3, 0, 1, 0, 3, 0, 0, 0, 1, 0, 4,
       0, 3, 4, 0, 0, 0, 3, 4, 0, 2, 4, 4, 2, 4, 2, 2, 2, 0, 0, 2, 2, 3,
       0, 0, 0, 0, 0, 2, 3, 2, 3, 2, 0, 1, 3, 0, 2, 2, 0, 2, 0, 0, 0, 3,
       0, 0, 0, 2, 0, 2, 4, 2, 0, 4, 1, 4, 2, 0, 2, 2, 0, 1, 2, 0, 0, 0,
       2, 0, 0, 1, 0, 2, 3, 2, 0, 2, 0, 4, 3, 0, 0, 2, 0, 0, 3, 0, 4, 0,
       2, 0, 2, 0, 0, 3, 3, 4, 2, 2, 0, 0, 0, 1, 0, 2, 3, 2, 2, 1, 0, 4,
       1, 0, 3, 2, 0, 0, 0, 3, 3, 0, 0, 2, 2, 1, 2, 4, 0, 0, 0, 3, 0, 0,
       0, 2, 4, 2, 2, 3, 0, 1, 0, 2, 0, 2, 0, 2, 2, 0, 2, 0, 2, 4, 0, 1,
       1, 1, 2, 0, 2, 2, 3, 0, 3, 2, 3, 3, 0, 4, 0, 0, 2, 3, 3, 3, 2, 3,
       2, 2, 0, 0, 1, 2, 0, 2, 2, 1, 0, 0, 0, 0, 1, 2, 2, 0, 1, 0, 0, 0,
       2, 0, 2, 1, 0, 3, 0, 4, 0, 2, 0, 3, 3, 1, 0, 0, 2, 1, 0, 0, 2, 1,
       0, 1, 2, 1, 0, 2, 3, 1, 0, 2, 3, 0, 4, 2, 4, 4, 0, 0, 2, 3, 2, 0,
       2, 2, 0, 3, 4, 0, 0, 2, 0, 0, 2, 0, 0, 2, 0, 0, 2, 2, 0, 3, 3, 1,
       0, 4, 3, 0, 0, 0, 3, 0, 0, 0, 4, 4, 0, 4, 2, 0, 4, 1, 1, 4, 3, 1,
       0, 0, 3, 0, 1, 2, 2, 1, 4, 2, 2, 2, 3, 0, 0, 0, 0, 1, 0, 0, 4, 0,
       0, 3, 2, 2, 4, 2, 2, 0, 4, 0, 0, 1, 1, 0, 2, 0, 0, 0, 2, 2, 2, 2,
       0, 3, 0, 0, 3, 2, 2, 4, 0, 0, 0, 2, 2, 0, 2, 2, 0, 0, 2, 0, 2, 3,
       2, 0, 3, 2, 0, 2, 0, 2, 4, 2, 2, 0, 3, 0, 0, 2, 3, 3, 2, 4, 0, 4,
       1, 4, 4, 2, 0, 4, 4, 0, 2, 2, 0, 0, 1, 2, 2, 0, 2, 3, 1, 2, 2, 4,
       0, 2, 3, 0, 1, 2, 0, 2, 0, 1, 2, 4, 4, 0, 0, 3, 2, 0, 2, 2, 2, 0,
       0, 3, 2, 4, 2, 0, 2, 4, 0, 2, 2, 2, 0, 3, 0, 2, 0, 0, 2, 0, 0, 0,
       0, 4, 4, 2, 4, 2, 2, 4, 1, 2, 2, 0, 2, 0, 0, 3, 2, 2, 0, 0, 0, 2,
       0, 1, 4, 4, 1, 2])

In [100]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual"], columns=["Predicted"])

cm_df

ValueError: Shape of passed values is (5, 5), indices imply (1, 1)

In [101]:
print(cm)

[[311   1   0   1   2]
 [  0  66   0   0   0]
 [  0   0 215   0   0]
 [  0   0   0  92   0]
 [  0   0   0   0  66]]

In [102]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)# Displaying results
print("Confusion Matrix")
# display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix
Accuracy Score : 0.9946949602122016
Classification Report
              precision    recall  f1-score   support

           0       1.00      0.99      0.99       315
           1       0.99      1.00      0.99        66
           2       1.00      1.00      1.00       215
           3       0.99      1.00      0.99        92
           4       0.97      1.00      0.99        66

    accuracy                           0.99       754
   macro avg       0.99      1.00      0.99       754
weighted avg       0.99      0.99      0.99       754

In [98]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.03072824, 0.01638334, 0.0207656 , 0.00820667, 0.25924087,
       0.02094566, 0.00917108, 0.02604531, 0.13115642, 0.02674242,
       0.45061439])

In [99]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.4506143947348024, 'WQI'),
 (0.2592408725805396, 'Nitrate Nitrite (mg/L)'),
 (0.1311564249927204, 'Total Nitrogen (mg/L)'),
 (0.030728241100141895, 'Ammmonia Nitrogen (mg/L)'),
 (0.02674241825562615, 'Total Phosphorus (mg/L)'),
 (0.026045306144348992, 'Temperature (°C)'),
 (0.02094565595260851, 'Orthophosphate Phosphate (mg/L)'),
 (0.020765598455236175, 'Dissolved Oxygen (mg/L)'),
 (0.016383335740950255, 'Conductivity (µmhos/cm)'),
 (0.009171080441464047, 'pH'),
 (0.00820667160156146, 'Fecal Coliform (CFU/100ml)')]