In [1]:
# Initial imports
import pandas as pd
from datetime import datetime

# Import the data

In [2]:

# Load the water_quality_data.csv dataset for monitoring station 0612.


file_path_2 = "../Raw_Water_Quality_Data/Lake Sammamish-0625_1_1_1994_to_9_30_2022.csv"
#df = pd.read_csv(file_path, skiprows=1)[:-2]
WQ_df = pd.read_csv(file_path_2,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

WQ_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,02/08/1995,L5381-21,1.0,0.02,<MDL,0.02,108.6,NaN,NaN,11.03,...,0.558,NaN,0.05,0.0280,NaN,0.005,NaN,NaN,NaN,NaN
1,03/07/1995,L5577-21,1.0,0.02,<MDL,0.02,101.6,NaN,NaN,11.77,...,0.534,NaN,0.05,0.0200,NaN,0.005,NaN,NaN,NaN,NaN
2,04/04/1995,L5782-27,1.0,0.02,<MDL,0.02,101.4,NaN,NaN,12.61,...,0.615,NaN,0.05,0.0140,NaN,0.005,41.0,NaN,0.2,NaN
3,04/18/1995,L5918-27,1.0,0.02,<MDL,0.02,101.3,NaN,NaN,13.04,...,0.526,NaN,0.05,0.0120,NaN,0.005,NaN,NaN,NaN,NaN
4,05/02/1995,L5989-27,1.0,0.02,<MDL,0.02,101.2,NaN,NaN,11.48,...,0.499,NaN,0.05,0.0220,NaN,0.005,NaN,NaN,NaN,NaN
5,05/16/1995,L6106-27,1.0,0.02,<MDL,0.02,107.1,NaN,NaN,10.99,...,0.503,NaN,0.05,0.0090,<RDL,0.005,NaN,NaN,NaN,NaN
6,06/05/1995,L6259-27,1.0,0.02,<MDL,0.02,103.2,NaN,NaN,9.95,...,0.436,NaN,0.05,0.0090,<RDL,0.005,NaN,NaN,NaN,NaN
7,07/10/1995,L6454-27,1.0,0.02,<MDL,0.02,108.2,NaN,NaN,9.66,...,0.396,NaN,0.05,0.0192,NaN,0.005,42.0,NaN,0.2,NaN
8,08/01/1995,L6632-27,1.0,0.02,<MDL,0.02,104.5,NaN,NaN,8.72,...,0.413,NaN,0.05,0.0220,NaN,0.005,NaN,NaN,NaN,NaN
9,09/12/1995,L6887-27,1.0,0.02,<MDL,0.02,112.2,NaN,NaN,7.33,...,0.223,NaN,0.05,0.0069,<RDL,0.005,NaN,NaN,NaN,NaN

In [3]:
WQ_df.shape

(416, 36)

In [4]:
WQ_df.count()

CollectDate                        416
SampleNum                          416
Depth (m)                          416
Ammmonia Nitrogen (mg/L)           177
Ammmonia Nitrogen Qualifier*       172
AN MDL (mg/L)                      180
Conductivity (µmhos/cm)            256
Cond Qualifier*                      1
Cond MDL (µmhos/cm)                100
Dissolved Oxygen (mg/L)            256
DO Qualifier*                        2
DO MDL (mg/L)                      100
Ecoli                              122
Ecoli Qualifier*                     3
Fecal Coliform (CFU/100ml)         175
Fecal Coliform Qualifier*            3
Nitrate Nitrite (mg/L)             176
Nitrate Nitrite Qualifier*          52
Nitrate Nitrite MDL (mg/L)         179
Orthophosphate Phosphate (mg/L)    175
OP Qualifier*                      129
OP MDL (mg/L)                      177
pH                                 260
pH Qualifier*                        1
Temperature (°C)                   273
Temperature Qualifier*               1
Total Nitrogen (mg/L)              178
TN Qualifier*                        0
TN MDL (mg/L)                      178
Total Phosphorus (mg/L)            273
TP Qualifier*                       97
TP MDL (mg/L)                      273
Total Alkalinity (mg/L)             58
Total Alkalinity Qualifier*          0
Total Alkalinity MDL (mg/L)         58
Unnamed: 35                          0
dtype: int64

In [5]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_df = WQ_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_df= WQ_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)" ])

print(WQ_df.shape)
WQ_df.head()

(416, 15)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L),Unnamed: 35
0,02/08/1995,L5381-21,0.02,108.6,11.03,NaN,0.0,0.356,0.0104,7.7,7.0,0.558,0.028,NaN,NaN
1,03/07/1995,L5577-21,0.02,101.6,11.77,NaN,1.0,0.360,0.0049,7.9,7.4,0.534,0.020,NaN,NaN
2,04/04/1995,L5782-27,0.02,101.4,12.61,NaN,3.0,0.387,0.0020,8.7,12.2,0.615,0.014,41.0,NaN
3,04/18/1995,L5918-27,0.02,101.3,13.04,NaN,13.0,0.348,0.0020,9.1,11.3,0.526,0.012,NaN,NaN
4,05/02/1995,L5989-27,0.02,101.2,11.48,NaN,NaN,0.269,0.0020,8.9,15.1,0.499,0.022,NaN,NaN

In [6]:
WQ_df.count()

CollectDate                        416
SampleNum                          416
Ammmonia Nitrogen (mg/L)           177
Conductivity (µmhos/cm)            256
Dissolved Oxygen (mg/L)            256
Ecoli                              122
Fecal Coliform (CFU/100ml)         175
Nitrate Nitrite (mg/L)             176
Orthophosphate Phosphate (mg/L)    175
pH                                 260
Temperature (°C)                   273
Total Nitrogen (mg/L)              178
Total Phosphorus (mg/L)            273
Total Alkalinity (mg/L)             58
Unnamed: 35                          0
dtype: int64

In [7]:
WQ_df.isnull().sum()

CollectDate                          0
SampleNum                            0
Ammmonia Nitrogen (mg/L)           239
Conductivity (µmhos/cm)            160
Dissolved Oxygen (mg/L)            160
Ecoli                              294
Fecal Coliform (CFU/100ml)         241
Nitrate Nitrite (mg/L)             240
Orthophosphate Phosphate (mg/L)    241
pH                                 156
Temperature (°C)                   143
Total Nitrogen (mg/L)              238
Total Phosphorus (mg/L)            143
Total Alkalinity (mg/L)            358
Unnamed: 35                        416
dtype: int64

In [8]:
#WQ_0612_df_1= WQ_0611_df.drop(columns=["Ecoli","Fecal Coliform (CFU/100ml)", "Total Alkalinity (mg/L)"])
WQ_df_1= WQ_df.drop(columns=["Ecoli", "Total Alkalinity (mg/L)", "Unnamed: 35"])
print(WQ_df_1.shape)
WQ_df_1.head()

(416, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,02/08/1995,L5381-21,0.02,108.6,11.03,0.0,0.356,0.0104,7.7,7.0,0.558,0.028
1,03/07/1995,L5577-21,0.02,101.6,11.77,1.0,0.360,0.0049,7.9,7.4,0.534,0.020
2,04/04/1995,L5782-27,0.02,101.4,12.61,3.0,0.387,0.0020,8.7,12.2,0.615,0.014
3,04/18/1995,L5918-27,0.02,101.3,13.04,13.0,0.348,0.0020,9.1,11.3,0.526,0.012
4,05/02/1995,L5989-27,0.02,101.2,11.48,NaN,0.269,0.0020,8.9,15.1,0.499,0.022

In [9]:
WQ_df_1.dtypes

CollectDate                         object
SampleNum                           object
Ammmonia Nitrogen (mg/L)           float64
Conductivity (µmhos/cm)            float64
Dissolved Oxygen (mg/L)            float64
Fecal Coliform (CFU/100ml)         float64
Nitrate Nitrite (mg/L)             float64
Orthophosphate Phosphate (mg/L)    float64
pH                                 float64
Temperature (°C)                   float64
Total Nitrogen (mg/L)              float64
Total Phosphorus (mg/L)            float64
dtype: object

In [10]:
# convert string to datetime
WQ_df_1["CollectDate"] = pd.to_datetime(WQ_df_1["CollectDate"])

# convert string to float/numeric
WQ_df_1["pH"] = pd.to_numeric(WQ_df_1["pH"],errors='coerce')

WQ_df_1.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [11]:
# Dropping the duplicate Sample in the column "SampleNum"
df_1 = WQ_df_1 .drop_duplicates(subset=['SampleNum'])
print(df_1.shape)
df_1.head(50)

(416, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1995-02-08,L5381-21,0.020,108.6,11.03,0.0,0.356,0.0104,7.7,7.0,0.558,0.0280
1,1995-03-07,L5577-21,0.020,101.6,11.77,1.0,0.360,0.0049,7.9,7.4,0.534,0.0200
2,1995-04-04,L5782-27,0.020,101.4,12.61,3.0,0.387,0.0020,8.7,12.2,0.615,0.0140
3,1995-04-18,L5918-27,0.020,101.3,13.04,13.0,0.348,0.0020,9.1,11.3,0.526,0.0120
4,1995-05-02,L5989-27,0.020,101.2,11.48,NaN,0.269,0.0020,8.9,15.1,0.499,0.0220
5,1995-05-16,L6106-27,0.020,107.1,10.99,7.0,0.279,0.0020,8.7,14.9,0.503,0.0090
6,1995-06-05,L6259-27,0.020,103.2,9.95,50.0,0.213,0.0020,8.5,19.5,0.436,0.0090
7,1995-07-10,L6454-27,0.020,108.2,9.66,67.0,0.057,0.0020,8.7,20.3,0.396,0.0192
8,1995-08-01,L6632-27,0.020,104.5,8.72,2.0,0.050,0.0020,9.0,22.6,0.413,0.0220
9,1995-09-12,L6887-27,0.020,112.2,7.33,17.0,0.050,0.0034,7.6,20.3,0.223,0.0069
10,1995-10-02,L7001-27,0.020,150.0,9.15,51.0,0.050,0.0020,8.1,17.4,0.246,0.0123
11,1995-11-09,L7258-27,0.026,104.6,9.66,NaN,0.139,0.0070,7.2,11.1,0.431,0.0193
12,1995-12-05,L7449-27,0.020,106.1,9.50,8.0,0.236,0.0120,7.1,9.7,0.504,0.0160
13,1996-01-03,L7590-27,0.020,102.6,10.37,4.0,0.389,0.0080,7.2,8.4,0.605,0.0300
14,1996-02-07,L7780-27,0.020,100.6,11.14,5.0,0.481,0.0030,7.2,6.1,0.654,0.0280
15,1996-03-06,L7909-27,0.020,100.3,12.54,3.0,0.547,0.0090,7.9,6.6,0.752,0.0230
16,1996-03-21,L8055-27,0.020,99.0,12.97,0.0,0.465,0.0070,8.8,9.2,0.683,0.0180
17,1996-04-10,L8215-27,0.020,101.4,12.22,2.0,0.472,0.0030,8.5,12.8,0.670,0.0290
18,1996-04-30,L8301-27,0.028,86.9,10.83,2.0,0.489,0.0050,8.2,10.6,0.593,0.0110
19,1996-05-08,L8464-27,0.022,99.7,10.03,1.0,0.445,0.0030,8.1,12.2,0.611,0.0080
20,1996-05-21,L8635-27,0.024,99.0,10.49,1.0,0.430,0.0020,7.8,14.0,0.634,0.0160
21,1996-06-04,L8715-27,0.031,101.2,9.98,5.0,0.377,0.0020,7.9,17.6,0.562,0.0050
22,1996-06-18,L8834-27,0.020,102.6,10.75,2.0,0.373,0.0020,8.5,17.7,0.602,0.0160
23,1996-07-02,L8920-27,0.020,104.2,9.57,0.0,0.238,0.0050,8.8,20.0,0.594,0.0210
24,1996-08-06,L9192-27,0.020,107.9,9.81,5.0,0.166,0.0090,8.7,22.1,0.411,0.0140
25,1996-08-21,L9282-27,0.020,107.6,9.40,3.0,0.133,0.0030,8.1,21.0,0.401,0.0110
26,1996-09-05,L9384-27,0.020,104.6,9.57,43.0,0.059,0.0020,8.8,19.5,0.330,0.0210
27,1996-09-17,L9476-27,0.020,103.5,9.77,0.0,0.050,0.0090,9.1,18.8,0.321,0.0180
28,1996-10-01,L9573-27,0.020,109.0,9.73,15.0,0.050,0.0020,8.6,17.5,0.272,0.0180
29,1996-11-06,L9809-27,0.022,90.6,9.25,15.0,NaN,0.0049,7.6,11.6,0.328,0.0158
30,1996-12-04,L9965-27,0.020,104.2,9.40,8.0,0.245,0.0110,7.2,7.9,0.378,0.0183
31,1997-01-22,L10150-27,0.021,NaN,NaN,8.0,0.489,0.0115,NaN,NaN,0.592,0.0301
32,1997-02-05,L10310-27,0.026,85.8,12.30,2.0,0.503,0.0121,7.4,5.8,0.630,0.0336
33,1997-03-20,L10657-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0.0239
34,1997-04-02,L10750-26,0.024,93.3,11.80,0.0,0.525,0.0149,7.9,9.8,0.741,0.0188
35,1997-04-23,L10868-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.2,NaN,0.0177
36,1997-05-07,L11019-25,0.020,90.5,11.90,3.0,0.430,0.0077,8.8,13.6,0.648,0.0161
37,1997-05-21,L11182-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.9,NaN,0.0151
38,1997-06-02,L11223-26,0.025,96.1,10.20,1.0,0.302,0.0064,9.1,19.6,0.515,0.0147
39,1997-06-18,L11342-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.8,NaN,0.0050
40,1997-07-02,L11372-26,0.032,87.9,10.50,2.0,0.237,0.0059,8.5,21.0,0.473,0.0118
41,1997-07-23,L11514-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.3,NaN,0.0124
42,1997-08-06,L11570-26,0.027,98.2,10.40,0.0,0.117,0.0056,9.1,23.4,0.360,0.0217
43,1997-08-20,L11654-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0109
44,1997-09-02,L11762-26,0.030,98.0,9.30,2.0,0.050,0.0073,8.5,23.1,0.276,0.0192
45,1997-09-23,L11851-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.3,0.248,0.0086
46,1997-10-01,L11961-11,0.038,97.4,9.40,NaN,0.050,0.0027,8.4,18.3,0.317,0.0185
47,1997-10-08,L11949-26,0.026,93.2,8.90,79.0,0.115,0.0086,7.6,14.2,0.271,0.0155
48,1997-11-05,L12166-26,0.022,96.6,10.40,6.0,0.140,0.0097,7.9,13.5,0.386,0.0145
49,1997-12-03,L12373-26,0.037,91.4,9.50,7.0,0.260,0.0097,7.5,9.3,0.429,0.0226

In [12]:
# Finding out the null values in the remaining columns
print(df_1.shape)
df_1.isnull().sum()

(416, 12)

CollectDate                          0
SampleNum                            0
Ammmonia Nitrogen (mg/L)           239
Conductivity (µmhos/cm)            160
Dissolved Oxygen (mg/L)            160
Fecal Coliform (CFU/100ml)         241
Nitrate Nitrite (mg/L)             240
Orthophosphate Phosphate (mg/L)    241
pH                                 156
Temperature (°C)                   143
Total Nitrogen (mg/L)              238
Total Phosphorus (mg/L)            143
dtype: int64

In [13]:
# Since we have lots of null values we are replacing the null values in each month with the mean of the remaining values in that month.
# Replacing the NaN values:

df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_3.head(5)

C:\Users\gothw\AppData\Local\Temp\ipykernel_49828\1647429865.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
C:\Users\gothw\AppData\Local\Temp\ipykernel_49828\1647429865.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1995-02-08,L5381-21,0.02,108.6,11.03,0.0,0.356,0.0104,7.7,7.0,0.558,0.028
1,1995-03-07,L5577-21,0.02,101.6,11.77,1.0,0.360,0.0049,7.9,7.4,0.534,0.020
2,1995-04-04,L5782-27,0.02,101.4,12.61,3.0,0.387,0.0020,8.7,12.2,0.615,0.014
3,1995-04-18,L5918-27,0.02,101.3,13.04,13.0,0.348,0.0020,9.1,11.3,0.526,0.012
4,1995-05-02,L5989-27,0.02,101.2,11.48,NaN,0.269,0.0020,8.9,15.1,0.499,0.022

In [14]:
# Removing the SampleNum Column

df_3= df_3.drop(columns=["SampleNum"])

In [15]:
df_3.isnull().sum()

CollectDate                          0
Ammmonia Nitrogen (mg/L)           182
Conductivity (µmhos/cm)             26
Dissolved Oxygen (mg/L)             26
Fecal Coliform (CFU/100ml)         183
Nitrate Nitrite (mg/L)             183
Orthophosphate Phosphate (mg/L)    184
pH                                  22
Temperature (°C)                     9
Total Nitrogen (mg/L)              180
Total Phosphorus (mg/L)              6
dtype: int64

In [16]:
# Real Water Quality Index Calculation

# Standard values for each parameter/feature, colB
amm_Sn = 0.1
cond_Sn = 300
dis_ox_Sn = 5.5
fec_coli_Sn = 135
nit_nit_Sn = 0.1
orth_phos_Sn = 0.5
pH_Sn = 8.5
temp_Sn = 7
tot_nit_Sn = 1.2
tot_phos_Sn = 0.1

# Inverse of Standard values for each parameter/feature, colC
inv_amm = 1/amm_Sn
inv_cond = 1/cond_Sn
inv_dis_ox = 1/dis_ox_Sn
inv_fec_coli_Sn = 1/fec_coli_Sn
inv_nit_nit = 1/nit_nit_Sn
inv_orth_phos = 1/orth_phos_Sn
inv_pH = 1/pH_Sn
inv_temp = 1/temp_Sn
inv_tot_nit = 1/tot_nit_Sn
inv_tot_phos = 1/tot_phos_Sn

# Sum of all inverses of standard values, colD
sum_all_inv = inv_amm + inv_cond + inv_dis_ox + inv_fec_coli_Sn + inv_nit_nit + inv_orth_phos + inv_pH + inv_temp + inv_tot_nit + inv_tot_phos

# K is the inverse of the sum of all inverses, colE
K = 1/sum_all_inv

# Wn is K divided by the standard value for each parameter/feature, colF
amm_Wn = K / amm_Sn
cond_Wn = K / cond_Sn
dis_ox_Wn = K / dis_ox_Sn
fec_coli_Wn = K / fec_coli_Sn
nit_nit_Wn = K / nit_nit_Sn
orth_phos_Wn = K / orth_phos_Sn
pH_Wn = K / pH_Sn
temp_Wn = K / temp_Sn
tot_nit_Wn = K / tot_nit_Sn
tot_phos_Wn = K / tot_phos_Sn

# Water Quality Index
#test = ((((df_3.loc[0]['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3.loc[0]['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3.loc[0]['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3.loc[0]['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3.loc[0]['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3.loc[0]['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3.loc[0]['pH']/pH_Sn)*100)*pH_Wn) + (((df_3.loc[0]['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3.loc[0]['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3.loc[0]['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
#test

df_3['WQI'] = ((((df_3['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3['pH']/pH_Sn)*100)*pH_Wn) + (((df_3['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
df_3.head()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1995-02-08,0.02,108.6,11.03,0.0,0.356,0.0104,7.7,7.0,0.558,0.028,124.508420
1,1995-03-07,0.02,101.6,11.77,1.0,0.360,0.0049,7.9,7.4,0.534,0.020,123.296828
2,1995-04-04,0.02,101.4,12.61,3.0,0.387,0.0020,8.7,12.2,0.615,0.014,130.151153
3,1995-04-18,0.02,101.3,13.04,13.0,0.348,0.0020,9.1,11.3,0.526,0.012,117.653934
4,1995-05-02,0.02,101.2,11.48,NaN,0.269,0.0020,8.9,15.1,0.499,0.022,NaN

In [17]:
df_3 = df_3.dropna()
print(df_3.shape)
df_3.count()

(225, 12)

CollectDate                        225
Ammmonia Nitrogen (mg/L)           225
Conductivity (µmhos/cm)            225
Dissolved Oxygen (mg/L)            225
Fecal Coliform (CFU/100ml)         225
Nitrate Nitrite (mg/L)             225
Orthophosphate Phosphate (mg/L)    225
pH                                 225
Temperature (°C)                   225
Total Nitrogen (mg/L)              225
Total Phosphorus (mg/L)            225
WQI                                225
dtype: int64

In [18]:
# Create the output file (CSV)

output_data_file = "../Ritu_Gothwal/Resources/0625_lake_Sammamish.csv"

# Export the clean water quality data 

df_3.to_csv(output_data_file, index="CollectDate")

In [19]:
print(df_3['CollectDate'].unique().size)

167