In [1]:
# Initial imports
import pandas as pd
from datetime import datetime

# Import the data

In [2]:

# Load the water_quality_data.csv dataset for monitoring station 0612.


file_path_2 = "../Raw_Water_Quality_Data/Lake Sammamish-SAMMBUOY_1_1_1994_to_9_30_2022.csv"
#df = pd.read_csv(file_path, skiprows=1)[:-2]
WQ_df = pd.read_csv(file_path_2,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

WQ_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,05/15/2018,L70133-1,1.0,NaN,NaN,NaN,101.0,NaN,0.5,10.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,05/15/2018,L70133-2,2.0,NaN,NaN,NaN,101.0,NaN,0.5,10.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,05/15/2018,L70133-3,3.1,NaN,NaN,NaN,101.0,NaN,0.5,10.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,05/15/2018,L70133-4,4.0,NaN,NaN,NaN,101.0,NaN,0.5,11.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,05/15/2018,L70133-5,5.0,NaN,NaN,NaN,100.0,NaN,0.5,11.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,05/15/2018,L70133-6,6.0,NaN,NaN,NaN,99.1,NaN,0.5,11.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,05/15/2018,L70133-7,7.0,NaN,NaN,NaN,98.5,NaN,0.5,11.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,05/15/2018,L70133-8,8.0,NaN,NaN,NaN,98.5,NaN,0.5,11.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,05/15/2018,L70133-9,9.0,NaN,NaN,NaN,98.5,NaN,0.5,11.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,05/15/2018,L70133-10,10.0,NaN,NaN,NaN,98.6,NaN,0.5,11.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
WQ_df.shape

(1245, 36)

In [4]:
WQ_df.count()

CollectDate                        1245
SampleNum                          1245
Depth (m)                          1245
Ammmonia Nitrogen (mg/L)              0
Ammmonia Nitrogen Qualifier*          0
AN MDL (mg/L)                         0
Conductivity (µmhos/cm)            1245
Cond Qualifier*                       0
Cond MDL (µmhos/cm)                1245
Dissolved Oxygen (mg/L)            1120
DO Qualifier*                       160
DO MDL (mg/L)                      1245
Ecoli                                 0
Ecoli Qualifier*                      0
Fecal Coliform (CFU/100ml)            0
Fecal Coliform Qualifier*             0
Nitrate Nitrite (mg/L)                0
Nitrate Nitrite Qualifier*            0
Nitrate Nitrite MDL (mg/L)            0
Orthophosphate Phosphate (mg/L)       0
OP Qualifier*                         0
OP MDL (mg/L)                         0
pH                                 1245
pH Qualifier*                         0
Temperature (°C)                   1245
Temperature Qualifier*                0
Total Nitrogen (mg/L)                 0
TN Qualifier*                         0
TN MDL (mg/L)                         0
Total Phosphorus (mg/L)               0
TP Qualifier*                         0
TP MDL (mg/L)                         0
Total Alkalinity (mg/L)               0
Total Alkalinity Qualifier*           0
Total Alkalinity MDL (mg/L)           0
Unnamed: 35                           0
dtype: int64

In [5]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_df = WQ_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_df= WQ_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)" ])

print(WQ_df.shape)
WQ_df.head()

(1245, 15)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L),Unnamed: 35
0,05/15/2018,L70133-1,NaN,101.0,10.3,NaN,NaN,NaN,NaN,7.9,18.8,NaN,NaN,NaN,NaN
1,05/15/2018,L70133-2,NaN,101.0,10.7,NaN,NaN,NaN,NaN,8.0,18.3,NaN,NaN,NaN,NaN
2,05/15/2018,L70133-3,NaN,101.0,10.8,NaN,NaN,NaN,NaN,8.0,17.2,NaN,NaN,NaN,NaN
3,05/15/2018,L70133-4,NaN,101.0,11.3,NaN,NaN,NaN,NaN,8.1,15.0,NaN,NaN,NaN,NaN
4,05/15/2018,L70133-5,NaN,100.0,11.3,NaN,NaN,NaN,NaN,8.1,14.2,NaN,NaN,NaN,NaN

In [6]:
WQ_df.count()

CollectDate                        1245
SampleNum                          1245
Ammmonia Nitrogen (mg/L)              0
Conductivity (µmhos/cm)            1245
Dissolved Oxygen (mg/L)            1120
Ecoli                                 0
Fecal Coliform (CFU/100ml)            0
Nitrate Nitrite (mg/L)                0
Orthophosphate Phosphate (mg/L)       0
pH                                 1245
Temperature (°C)                   1245
Total Nitrogen (mg/L)                 0
Total Phosphorus (mg/L)               0
Total Alkalinity (mg/L)               0
Unnamed: 35                           0
dtype: int64

In [7]:
WQ_df.isnull().sum()

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)           1245
Conductivity (µmhos/cm)               0
Dissolved Oxygen (mg/L)             125
Ecoli                              1245
Fecal Coliform (CFU/100ml)         1245
Nitrate Nitrite (mg/L)             1245
Orthophosphate Phosphate (mg/L)    1245
pH                                    0
Temperature (°C)                      0
Total Nitrogen (mg/L)              1245
Total Phosphorus (mg/L)            1245
Total Alkalinity (mg/L)            1245
Unnamed: 35                        1245
dtype: int64

In [8]:
#WQ_0612_df_1= WQ_0611_df.drop(columns=["Ecoli","Fecal Coliform (CFU/100ml)", "Total Alkalinity (mg/L)"])
WQ_df_1= WQ_df.drop(columns=["Ecoli", "Total Alkalinity (mg/L)", "Unnamed: 35"])
print(WQ_df_1.shape)
WQ_df_1.head()

(1245, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,05/15/2018,L70133-1,NaN,101.0,10.3,NaN,NaN,NaN,7.9,18.8,NaN,NaN
1,05/15/2018,L70133-2,NaN,101.0,10.7,NaN,NaN,NaN,8.0,18.3,NaN,NaN
2,05/15/2018,L70133-3,NaN,101.0,10.8,NaN,NaN,NaN,8.0,17.2,NaN,NaN
3,05/15/2018,L70133-4,NaN,101.0,11.3,NaN,NaN,NaN,8.1,15.0,NaN,NaN
4,05/15/2018,L70133-5,NaN,100.0,11.3,NaN,NaN,NaN,8.1,14.2,NaN,NaN

In [9]:
WQ_df_1.dtypes

CollectDate                         object
SampleNum                           object
Ammmonia Nitrogen (mg/L)           float64
Conductivity (µmhos/cm)            float64
Dissolved Oxygen (mg/L)            float64
Fecal Coliform (CFU/100ml)         float64
Nitrate Nitrite (mg/L)             float64
Orthophosphate Phosphate (mg/L)    float64
pH                                 float64
Temperature (°C)                   float64
Total Nitrogen (mg/L)              float64
Total Phosphorus (mg/L)            float64
dtype: object

In [10]:
# convert string to datetime
WQ_df_1["CollectDate"] = pd.to_datetime(WQ_df_1["CollectDate"])

# convert string to float/numeric
WQ_df_1["pH"] = pd.to_numeric(WQ_df_1["pH"],errors='coerce')

WQ_df_1.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [11]:
# Dropping the duplicate Sample in the column "SampleNum"
df_1 = WQ_df_1 .drop_duplicates(subset=['SampleNum'])
print(df_1.shape)
df_1.head(50)

(1245, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,2018-05-15,L70133-1,NaN,101.0,10.3,NaN,NaN,NaN,7.9,18.8,NaN,NaN
1,2018-05-15,L70133-2,NaN,101.0,10.7,NaN,NaN,NaN,8.0,18.3,NaN,NaN
2,2018-05-15,L70133-3,NaN,101.0,10.8,NaN,NaN,NaN,8.0,17.2,NaN,NaN
3,2018-05-15,L70133-4,NaN,101.0,11.3,NaN,NaN,NaN,8.1,15.0,NaN,NaN
4,2018-05-15,L70133-5,NaN,100.0,11.3,NaN,NaN,NaN,8.1,14.2,NaN,NaN
5,2018-05-15,L70133-6,NaN,99.1,11.3,NaN,NaN,NaN,8.0,12.0,NaN,NaN
6,2018-05-15,L70133-7,NaN,98.5,11.2,NaN,NaN,NaN,7.9,11.1,NaN,NaN
7,2018-05-15,L70133-8,NaN,98.5,11.3,NaN,NaN,NaN,7.9,11.0,NaN,NaN
8,2018-05-15,L70133-9,NaN,98.5,11.2,NaN,NaN,NaN,7.8,10.7,NaN,NaN
9,2018-05-15,L70133-10,NaN,98.6,11.1,NaN,NaN,NaN,7.8,10.3,NaN,NaN
10,2018-05-15,L70133-11,NaN,98.5,11.2,NaN,NaN,NaN,7.8,10.0,NaN,NaN
11,2018-05-15,L70133-12,NaN,98.4,11.1,NaN,NaN,NaN,7.7,9.9,NaN,NaN
12,2018-05-15,L70133-13,NaN,98.7,10.5,NaN,NaN,NaN,7.6,9.6,NaN,NaN
13,2018-05-15,L70133-14,NaN,98.6,9.9,NaN,NaN,NaN,7.5,9.4,NaN,NaN
14,2018-05-15,L70133-15,NaN,98.8,9.5,NaN,NaN,NaN,7.3,9.2,NaN,NaN
15,2018-05-15,L70133-16,NaN,98.7,9.4,NaN,NaN,NaN,7.3,9.0,NaN,NaN
16,2018-05-15,L70133-17,NaN,98.7,9.0,NaN,NaN,NaN,7.2,8.9,NaN,NaN
17,2018-05-15,L70133-18,NaN,98.6,9.5,NaN,NaN,NaN,7.3,8.8,NaN,NaN
18,2018-05-15,L70133-19,NaN,98.6,8.9,NaN,NaN,NaN,7.2,8.8,NaN,NaN
19,2018-05-15,L70133-20,NaN,98.6,9.4,NaN,NaN,NaN,7.2,8.7,NaN,NaN
20,2018-05-15,L70133-21,NaN,98.5,8.9,NaN,NaN,NaN,7.2,8.7,NaN,NaN
21,2018-05-15,L70133-22,NaN,98.5,8.5,NaN,NaN,NaN,7.1,8.6,NaN,NaN
22,2018-05-15,L70133-23,NaN,98.5,7.8,NaN,NaN,NaN,7.1,8.5,NaN,NaN
23,2018-05-15,L70133-24,NaN,98.8,6.6,NaN,NaN,NaN,7.0,8.5,NaN,NaN
24,2018-05-15,L70133-25,NaN,98.8,5.8,NaN,NaN,NaN,6.9,8.4,NaN,NaN
25,2018-06-12,L70318-1,NaN,103.0,10.9,NaN,NaN,NaN,8.8,18.0,NaN,NaN
26,2018-06-12,L70318-2,NaN,103.0,10.9,NaN,NaN,NaN,8.8,18.0,NaN,NaN
27,2018-06-12,L70318-3,NaN,103.0,10.9,NaN,NaN,NaN,8.8,18.0,NaN,NaN
28,2018-06-12,L70318-4,NaN,103.0,11.0,NaN,NaN,NaN,8.8,17.9,NaN,NaN
29,2018-06-12,L70318-5,NaN,103.0,11.0,NaN,NaN,NaN,8.8,17.7,NaN,NaN
30,2018-06-12,L70318-6,NaN,103.0,11.0,NaN,NaN,NaN,8.7,17.6,NaN,NaN
31,2018-06-12,L70318-7,NaN,103.0,11.0,NaN,NaN,NaN,8.7,17.3,NaN,NaN
32,2018-06-12,L70318-8,NaN,102.0,11.5,NaN,NaN,NaN,8.6,16.0,NaN,NaN
33,2018-06-12,L70318-9,NaN,101.0,11.6,NaN,NaN,NaN,8.5,14.9,NaN,NaN
34,2018-06-12,L70318-10,NaN,98.7,11.4,NaN,NaN,NaN,8.3,13.1,NaN,NaN
35,2018-06-12,L70318-11,NaN,98.9,10.7,NaN,NaN,NaN,8.0,11.6,NaN,NaN
36,2018-06-12,L70318-12,NaN,98.9,9.5,NaN,NaN,NaN,7.8,10.9,NaN,NaN
37,2018-06-12,L70318-13,NaN,99.1,9.0,NaN,NaN,NaN,7.7,10.2,NaN,NaN
38,2018-06-12,L70318-14,NaN,99.1,8.5,NaN,NaN,NaN,7.6,9.8,NaN,NaN
39,2018-06-12,L70318-15,NaN,99.0,8.1,NaN,NaN,NaN,7.5,9.5,NaN,NaN
40,2018-06-12,L70318-16,NaN,98.8,8.5,NaN,NaN,NaN,7.5,9.4,NaN,NaN
41,2018-06-12,L70318-17,NaN,98.4,7.0,NaN,NaN,NaN,7.4,9.1,NaN,NaN
42,2018-06-12,L70318-18,NaN,98.1,6.1,NaN,NaN,NaN,7.3,9.1,NaN,NaN
43,2018-06-12,L70318-19,NaN,98.0,5.5,NaN,NaN,NaN,7.2,9.0,NaN,NaN
44,2018-06-12,L70318-20,NaN,98.1,4.8,NaN,NaN,NaN,7.1,8.9,NaN,NaN
45,2018-06-12,L70318-21,NaN,98.2,3.3,NaN,NaN,NaN,7.0,8.7,NaN,NaN
46,2018-06-12,L70318-22,NaN,98.5,2.4,NaN,NaN,NaN,7.0,8.6,NaN,NaN
47,2018-06-12,L70318-23,NaN,98.6,2.2,NaN,NaN,NaN,6.9,8.6,NaN,NaN
48,2018-06-12,L70318-24,NaN,98.7,1.9,NaN,NaN,NaN,6.9,8.6,NaN,NaN
49,2018-06-12,L70318-25,NaN,98.8,1.8,NaN,NaN,NaN,6.8,8.6,NaN,NaN

In [12]:
# Finding out the null values in the remaining columns
print(df_1.shape)
df_1.isnull().sum()

(1245, 12)

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)           1245
Conductivity (µmhos/cm)               0
Dissolved Oxygen (mg/L)             125
Fecal Coliform (CFU/100ml)         1245
Nitrate Nitrite (mg/L)             1245
Orthophosphate Phosphate (mg/L)    1245
pH                                    0
Temperature (°C)                      0
Total Nitrogen (mg/L)              1245
Total Phosphorus (mg/L)            1245
dtype: int64

In [13]:
# Since we have lots of null values we are replacing the null values in each month with the mean of the remaining values in that month.
# Replacing the NaN values:

df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_3.head(5)

C:\Users\gothw\AppData\Local\Temp\ipykernel_47340\1647429865.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
C:\Users\gothw\AppData\Local\Temp\ipykernel_47340\1647429865.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,2018-05-15,L70133-1,NaN,101.0,10.3,NaN,NaN,NaN,7.9,18.8,NaN,NaN
1,2018-05-15,L70133-2,NaN,101.0,10.7,NaN,NaN,NaN,8.0,18.3,NaN,NaN
2,2018-05-15,L70133-3,NaN,101.0,10.8,NaN,NaN,NaN,8.0,17.2,NaN,NaN
3,2018-05-15,L70133-4,NaN,101.0,11.3,NaN,NaN,NaN,8.1,15.0,NaN,NaN
4,2018-05-15,L70133-5,NaN,100.0,11.3,NaN,NaN,NaN,8.1,14.2,NaN,NaN

In [14]:
# Removing the SampleNum Column

df_3= df_3.drop(columns=["SampleNum"])

In [15]:
df_3.isnull().sum()

CollectDate                           0
Ammmonia Nitrogen (mg/L)           1245
Conductivity (µmhos/cm)               0
Dissolved Oxygen (mg/L)               0
Fecal Coliform (CFU/100ml)         1245
Nitrate Nitrite (mg/L)             1245
Orthophosphate Phosphate (mg/L)    1245
pH                                    0
Temperature (°C)                      0
Total Nitrogen (mg/L)              1245
Total Phosphorus (mg/L)            1245
dtype: int64

In [16]:
# Real Water Quality Index Calculation

# Standard values for each parameter/feature, colB
amm_Sn = 0.1
cond_Sn = 300
dis_ox_Sn = 5.5
fec_coli_Sn = 135
nit_nit_Sn = 0.1
orth_phos_Sn = 0.5
pH_Sn = 8.5
temp_Sn = 7
tot_nit_Sn = 1.2
tot_phos_Sn = 0.1

# Inverse of Standard values for each parameter/feature, colC
inv_amm = 1/amm_Sn
inv_cond = 1/cond_Sn
inv_dis_ox = 1/dis_ox_Sn
inv_fec_coli_Sn = 1/fec_coli_Sn
inv_nit_nit = 1/nit_nit_Sn
inv_orth_phos = 1/orth_phos_Sn
inv_pH = 1/pH_Sn
inv_temp = 1/temp_Sn
inv_tot_nit = 1/tot_nit_Sn
inv_tot_phos = 1/tot_phos_Sn

# Sum of all inverses of standard values, colD
sum_all_inv = inv_amm + inv_cond + inv_dis_ox + inv_fec_coli_Sn + inv_nit_nit + inv_orth_phos + inv_pH + inv_temp + inv_tot_nit + inv_tot_phos

# K is the inverse of the sum of all inverses, colE
K = 1/sum_all_inv

# Wn is K divided by the standard value for each parameter/feature, colF
amm_Wn = K / amm_Sn
cond_Wn = K / cond_Sn
dis_ox_Wn = K / dis_ox_Sn
fec_coli_Wn = K / fec_coli_Sn
nit_nit_Wn = K / nit_nit_Sn
orth_phos_Wn = K / orth_phos_Sn
pH_Wn = K / pH_Sn
temp_Wn = K / temp_Sn
tot_nit_Wn = K / tot_nit_Sn
tot_phos_Wn = K / tot_phos_Sn

# Water Quality Index
#test = ((((df_3.loc[0]['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3.loc[0]['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3.loc[0]['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3.loc[0]['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3.loc[0]['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3.loc[0]['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3.loc[0]['pH']/pH_Sn)*100)*pH_Wn) + (((df_3.loc[0]['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3.loc[0]['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3.loc[0]['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
#test

df_3['WQI'] = ((((df_3['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3['pH']/pH_Sn)*100)*pH_Wn) + (((df_3['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
df_3.head()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,2018-05-15,NaN,101.0,10.3,NaN,NaN,NaN,7.9,18.8,NaN,NaN,NaN
1,2018-05-15,NaN,101.0,10.7,NaN,NaN,NaN,8.0,18.3,NaN,NaN,NaN
2,2018-05-15,NaN,101.0,10.8,NaN,NaN,NaN,8.0,17.2,NaN,NaN,NaN
3,2018-05-15,NaN,101.0,11.3,NaN,NaN,NaN,8.1,15.0,NaN,NaN,NaN
4,2018-05-15,NaN,100.0,11.3,NaN,NaN,NaN,8.1,14.2,NaN,NaN,NaN

In [17]:
df_3 = df_3.dropna()
print(df_3.shape)
df_3.count()

(0, 12)

CollectDate                        0
Ammmonia Nitrogen (mg/L)           0
Conductivity (µmhos/cm)            0
Dissolved Oxygen (mg/L)            0
Fecal Coliform (CFU/100ml)         0
Nitrate Nitrite (mg/L)             0
Orthophosphate Phosphate (mg/L)    0
pH                                 0
Temperature (°C)                   0
Total Nitrogen (mg/L)              0
Total Phosphorus (mg/L)            0
WQI                                0
dtype: int64

In [18]:
# Create the output file (CSV)

output_data_file = "../Ritu_Gothwal/Resources/SAMMBUOY_lake_Sammamish.csv"

# Export the clean water quality data 

df_3.to_csv(output_data_file, index="CollectDate")

In [19]:
print(df_3['CollectDate'].unique().size)

0