In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [11]:
#Import data
file_path = './Resources/Lake Sammamish-0611_1_1_1994_to_9_30_2022.csv'
df = pd.read_csv(file_path, skiprows=12, encoding='unicode_escape', on_bad_lines='skip')
df.head()

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Chlorophyll a (µg/L),Chlorophyll a Qualifier*,Chloro MDL (µg/L),Conductivity (µmhos/cm),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 40
0,01/06/1994,L2704-18,1.0,0.02,<MDL,0.02,0.1,NaN,0.01,103.0,...,0.41,NaN,0.05,0.017,NaN,0.005,42.0,NaN,0.2,NaN
1,01/06/1994,L2704-19,5.0,NaN,NaN,NaN,NaN,NaN,NaN,104.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-20,10.0,0.02,<MDL,0.02,NaN,NaN,NaN,102.0,...,0.44,NaN,0.05,0.019,NaN,0.005,42.0,NaN,0.2,NaN
3,01/06/1994,L2704-21,15.0,NaN,NaN,NaN,NaN,NaN,NaN,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/06/1994,L2704-22,20.0,NaN,NaN,NaN,NaN,NaN,NaN,104.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.count()

CollectDate                        10618
SampleNum                          10618
Depth (m)                          10594
Ammmonia Nitrogen (mg/L)            2538
Ammmonia Nitrogen Qualifier*        2199
AN MDL (mg/L)                       2653
Chlorophyll a (µg/L)                 625
Chlorophyll a Qualifier*              67
Chloro MDL (µg/L)                    630
Conductivity (µmhos/cm)             8133
Cond Qualifier*                      445
Cond MDL (µmhos/cm)                 6020
Dissolved Oxygen (mg/L)             8052
DO Qualifier*                        809
DO MDL (mg/L)                       6014
Ecoli                                170
Ecoli Qualifier*                       5
Fecal Coliform (CFU/100ml)           316
Fecal Coliform Qualifier*              3
Nitrate Nitrite (mg/L)              2566
Nitrate Nitrite Qualifier*           575
Nitrate Nitrite MDL (mg/L)          2654
Orthophosphate Phosphate (mg/L)     2473
OP Qualifier*                       1790
OP MDL (mg/L)                       2651
pH                                  8139
pH Qualifier*                        433
Secchi (m)                           693
Secchi Qualifier*                     20
Temperature (°C)                    8155
Temperature Qualifier*               433
Total Nitrogen (mg/L)               2647
TN Qualifier*                        136
TN MDL (mg/L)                       2647
Total Phosphorus (mg/L)             2746
TP Qualifier*                       1060
TP MDL (mg/L)                       2763
Total Alkalinity (mg/L)              384
Total Alkalinity Qualifier*            4
Total Alkalinity MDL (mg/L)          388
Unnamed: 40                            0
dtype: int64

In [13]:
df.dtypes

CollectDate                         object
SampleNum                           object
Depth (m)                           object
Ammmonia Nitrogen (mg/L)           float64
Ammmonia Nitrogen Qualifier*        object
AN MDL (mg/L)                      float64
Chlorophyll a (µg/L)               float64
Chlorophyll a Qualifier*            object
Chloro MDL (µg/L)                  float64
Conductivity (µmhos/cm)            float64
Cond Qualifier*                     object
Cond MDL (µmhos/cm)                float64
Dissolved Oxygen (mg/L)            float64
DO Qualifier*                       object
DO MDL (mg/L)                      float64
Ecoli                              float64
Ecoli Qualifier*                    object
Fecal Coliform (CFU/100ml)         float64
Fecal Coliform Qualifier*           object
Nitrate Nitrite (mg/L)             float64
Nitrate Nitrite Qualifier*          object
Nitrate Nitrite MDL (mg/L)         float64
Orthophosphate Phosphate (mg/L)    float64
OP Qualifier*                       object
OP MDL (mg/L)                      float64
pH                                 float64
pH Qualifier*                       object
Secchi (m)                         float64
Secchi Qualifier*                   object
Temperature (°C)                   float64
Temperature Qualifier*              object
Total Nitrogen (mg/L)              float64
TN Qualifier*                       object
TN MDL (mg/L)                      float64
Total Phosphorus (mg/L)            float64
TP Qualifier*                       object
TP MDL (mg/L)                      float64
Total Alkalinity (mg/L)            float64
Total Alkalinity Qualifier*         object
Total Alkalinity MDL (mg/L)        float64
Unnamed: 40                        float64
dtype: object

In [25]:
df["CollectDate"] = pd.to_datetime(df["CollectDate"])
df.tail()

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Chlorophyll a (µg/L),Chlorophyll a Qualifier*,Chloro MDL (µg/L),Conductivity (µmhos/cm),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 40
10613,2022-09-13,L80241-38,19.0,NaN,NaN,NaN,NaN,NaN,NaN,106.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10614,2022-09-13,L80241-39,20.0,NaN,NaN,NaN,NaN,NaN,NaN,107.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10615,2022-09-13,L80241-40,21.0,NaN,NaN,NaN,NaN,NaN,NaN,107.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10616,2022-09-13,L80059-47,1.0,NaN,<MDL,0.002,NaN,NaN,NaN,NaN,...,0.184,NaN,0.05,NaN,<MDL,0.005,NaN,NaN,NaN,NaN
10617,2022-09-13,L80059-52,Composite,NaN,NaN,NaN,1.7,NaN,0.51,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_clean = df.drop (['Ammmonia Nitrogen Qualifier*', 'Chlorophyll a Qualifier*', 'Temperature Qualifier*', 'TN Qualifier*', 'TP Qualifier*', 'Total Alkalinity Qualifier*', 'Cond Qualifier*', 'pH Qualifier*', 'Secchi Qualifier*', 'DO Qualifier*', 'Ecoli Qualifier*', 'Fecal Coliform Qualifier*', 'Nitrate Nitrite Qualifier*', 'OP Qualifier*', 'Unnamed: 40', 'SampleNum', 'Depth (m)', 'Chlorophyll a (µg/L)', 'Secchi (m)'], axis=1)
df_clean.head(50)

,CollectDate,Ammmonia Nitrogen (mg/L),AN MDL (mg/L),Chloro MDL (µg/L),Conductivity (µmhos/cm),Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),DO MDL (mg/L),Ecoli,Fecal Coliform (CFU/100ml),...,Orthophosphate Phosphate (mg/L),OP MDL (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),TN MDL (mg/L),Total Phosphorus (mg/L),TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity MDL (mg/L)
0,1994-01-06,0.02,0.02,0.01,103.0,NaN,9.15,NaN,NaN,1.0,...,0.0110,0.002,7.4,7.4,0.410,0.05,0.017,0.005,42.0,0.2
1,1994-01-06,NaN,NaN,NaN,104.0,NaN,8.98,NaN,NaN,NaN,...,NaN,NaN,7.4,7.3,NaN,NaN,NaN,NaN,NaN,NaN
2,1994-01-06,0.02,0.02,NaN,102.0,NaN,9.00,NaN,NaN,NaN,...,0.0120,0.002,7.4,7.3,0.440,0.05,0.019,0.005,42.0,0.2
3,1994-01-06,NaN,NaN,NaN,105.0,NaN,9.21,NaN,NaN,NaN,...,NaN,NaN,7.4,7.3,NaN,NaN,NaN,NaN,NaN,NaN
4,1994-01-06,NaN,NaN,NaN,104.0,NaN,9.20,NaN,NaN,NaN,...,NaN,NaN,7.4,7.3,NaN,NaN,NaN,NaN,NaN,NaN
5,1994-01-06,0.02,0.02,NaN,103.0,NaN,9.19,NaN,NaN,NaN,...,0.0130,0.002,7.4,7.3,0.400,0.05,0.023,0.005,42.0,0.2
6,1994-01-06,0.02,0.02,0.01,103.0,NaN,9.15,NaN,NaN,1.0,...,0.0110,0.002,7.4,7.4,0.410,0.05,0.017,0.005,42.0,0.2
7,1994-02-14,0.02,0.02,0.01,102.5,NaN,10.81,NaN,NaN,7.0,...,0.0090,0.002,7.4,6.5,0.470,0.05,0.030,0.005,NaN,NaN
8,1994-02-14,NaN,NaN,NaN,103.9,NaN,10.71,NaN,NaN,NaN,...,NaN,NaN,7.4,6.5,NaN,NaN,NaN,NaN,NaN,NaN
9,1994-02-14,0.02,0.02,NaN,105.0,NaN,10.71,NaN,NaN,NaN,...,0.0090,0.002,7.4,6.5,0.530,0.05,0.049,0.005,NaN,NaN
10,1994-02-14,NaN,NaN,NaN,105.2,NaN,10.65,NaN,NaN,NaN,...,NaN,NaN,7.4,6.5,NaN,NaN,NaN,NaN,NaN,NaN
11,1994-02-14,NaN,NaN,NaN,105.2,NaN,10.62,NaN,NaN,NaN,...,NaN,NaN,7.4,6.5,NaN,NaN,NaN,NaN,NaN,NaN
12,1994-02-14,0.02,0.02,NaN,105.5,NaN,10.62,NaN,NaN,NaN,...,0.0090,0.002,7.4,6.5,0.500,0.05,0.029,0.005,NaN,NaN
13,1994-02-14,0.02,0.02,0.01,102.5,NaN,10.81,NaN,NaN,7.0,...,0.0090,0.002,7.4,6.5,0.470,0.05,0.030,0.005,NaN,NaN
14,1994-03-08,0.02,0.02,0.01,103.4,NaN,11.50,NaN,NaN,0.0,...,0.0030,0.002,7.8,7.5,0.530,0.05,0.013,0.005,NaN,NaN
15,1994-03-08,NaN,NaN,NaN,104.0,NaN,11.06,NaN,NaN,NaN,...,NaN,NaN,7.6,7.1,NaN,NaN,NaN,NaN,NaN,NaN
16,1994-03-08,0.02,0.02,NaN,105.1,NaN,10.97,NaN,NaN,NaN,...,0.0030,0.002,7.6,7.1,0.550,0.05,0.013,0.005,NaN,NaN
17,1994-03-08,NaN,NaN,NaN,105.3,NaN,10.80,NaN,NaN,NaN,...,NaN,NaN,7.5,6.9,NaN,NaN,NaN,NaN,NaN,NaN
18,1994-03-08,NaN,NaN,NaN,105.9,NaN,10.14,NaN,NaN,NaN,...,NaN,NaN,7.4,6.7,NaN,NaN,NaN,NaN,NaN,NaN
19,1994-03-08,0.02,0.02,NaN,105.3,NaN,9.69,NaN,NaN,NaN,...,0.0090,0.002,7.3,6.5,0.540,0.05,0.015,0.005,NaN,NaN
20,1994-03-08,0.02,0.02,0.01,103.4,NaN,11.50,NaN,NaN,0.0,...,0.0030,0.002,7.8,7.5,0.530,0.05,0.013,0.005,NaN,NaN
21,1994-03-22,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1994-03-22,0.02,0.02,0.01,104.0,NaN,12.63,NaN,NaN,0.0,...,0.0020,0.002,8.7,8.0,0.500,0.05,0.016,0.005,NaN,NaN
23,1994-03-22,NaN,NaN,NaN,105.3,NaN,12.24,NaN,NaN,NaN,...,NaN,NaN,8.3,7.6,NaN,NaN,NaN,NaN,NaN,NaN
24,1994-03-22,0.02,0.02,NaN,105.9,NaN,11.91,NaN,NaN,NaN,...,0.0020,0.002,8.1,7.6,0.530,0.05,0.014,0.005,NaN,NaN
25,1994-03-22,NaN,NaN,NaN,106.2,NaN,11.76,NaN,NaN,NaN,...,NaN,NaN,8.1,7.5,NaN,NaN,NaN,NaN,NaN,NaN
26,1994-03-22,NaN,NaN,NaN,106.3,NaN,11.71,NaN,NaN,NaN,...,NaN,NaN,8.1,7.5,NaN,NaN,NaN,NaN,NaN,NaN
27,1994-03-22,NaN,NaN,NaN,106.5,NaN,11.70,NaN,NaN,NaN,...,NaN,NaN,8.1,7.5,NaN,NaN,NaN,NaN,NaN,NaN
28,1994-03-22,0.02,0.02,0.01,104.0,NaN,12.63,NaN,NaN,0.0,...,0.0020,0.002,8.7,8.0,0.500,0.05,0.016,0.005,NaN,NaN
29,1994-04-05,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,1994-04-05,0.02,0.02,0.01,103.7,NaN,15.04,NaN,NaN,4.0,...,0.0047,0.002,9.4,10.3,0.439,0.05,0.009,0.005,NaN,NaN
31,1994-04-05,NaN,NaN,NaN,104.2,NaN,15.01,NaN,NaN,NaN,...,NaN,NaN,9.3,10.0,NaN,NaN,NaN,NaN,NaN,NaN
32,1994-04-05,0.02,0.02,NaN,103.3,NaN,13.28,NaN,NaN,NaN,...,0.0047,0.002,8.7,7.9,0.454,0.05,0.009,0.005,NaN,NaN
33,1994-04-05,NaN,NaN,NaN,103.3,NaN,11.83,NaN,NaN,NaN,...,NaN,NaN,7.9,7.4,NaN,NaN,NaN,NaN,NaN,NaN
34,1994-04-05,NaN,NaN,NaN,103.7,NaN,11.13,NaN,NaN,NaN,...,NaN,NaN,7.7,7.2,NaN,NaN,NaN,NaN,NaN,NaN
35,1994-04-05,0.02,0.02,NaN,103.9,NaN,9.59,NaN,NaN,NaN,...,0.0047,0.002,7.4,7.1,0.525,0.05,0.013,0.005,NaN,NaN
36,1994-04-05,0.02,0.02,0.01,103.7,NaN,15.04,NaN,NaN,4.0,...,0.0047,0.002,9.4,10.3,0.439,0.05,0.009,0.005,NaN,NaN
37,1994-04-19,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,1994-04-19,0.02,0.02,0.01,104.5,NaN,12.89,NaN,NaN,0.0,...,0.0020,0.002,9.2,12.6,0.427,0.05,0.011,0.005,NaN,NaN
39,1994-04-19,NaN,NaN,NaN,105.0,NaN,12.89,NaN,NaN,NaN,...,NaN,NaN,9.2,12.5,NaN,NaN,NaN,NaN,NaN,NaN
40,1994-04-19,0.02,0.02,NaN,103.9,NaN,13.65,NaN,NaN,NaN,...,0.0020,0.002,9.2,9.5,0.469,0.05,0.018,0.005,NaN,NaN
41,1994-04-19,NaN,NaN,NaN,103.6,NaN,12.52,NaN,NaN,NaN,...,NaN,NaN,8.7,8.7,NaN,NaN,NaN,NaN,NaN,NaN
42,1994-04-19,NaN,NaN,NaN,104.1,NaN,11.35,NaN,NaN,NaN,...,NaN,NaN,8.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
43,1994-04-19,0.02,0.02,NaN,104.1,NaN,9.31,NaN,NaN,NaN,...,0.0020,0.002,7.5,7.5,0.527,0.05,0.013,0.005,NaN,NaN
44,1994-04-19,0.02,0.02,0.01,104.5,NaN,12.89,NaN,NaN,0.0,...,0.0020,0.002,9.2,12.6,0.427,0.05,0.011,0.005,NaN,NaN
45,1994-05-03,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,1994-05-03,0.02,0.02,0.01,108.3,NaN,10.84,NaN,NaN,0.0,...,0.0020,0.002,8.8,13.8,0.416,0.05,0.008,0.005,41.0,0.2
47,1994-05-03,NaN,NaN,NaN,108.5,NaN,10.53,NaN,NaN,NaN,...,NaN,NaN,8.8,13.4,NaN,NaN,NaN,NaN,NaN,NaN
48,1994-05-03,0.02,0.02,NaN,107.0,NaN,12.69,NaN,NaN,NaN,...,0.0020,0.002,8.7,9.4,0.454,0.05,0.008,0.005,42.0,0.2
49,1994-05-03,NaN,NaN,NaN,106.6,NaN,11.29,NaN,NaN,NaN,...,NaN,NaN,7.9,8.2,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_clean.dtypes

CollectDate                        datetime64[ns]
Ammmonia Nitrogen (mg/L)                  float64
AN MDL (mg/L)                             float64
Chloro MDL (µg/L)                         float64
Conductivity (µmhos/cm)                   float64
Cond MDL (µmhos/cm)                       float64
Dissolved Oxygen (mg/L)                   float64
DO MDL (mg/L)                             float64
Ecoli                                     float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Nitrate Nitrite MDL (mg/L)                float64
Orthophosphate Phosphate (mg/L)           float64
OP MDL (mg/L)                             float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
TN MDL (mg/L)                             float64
Total Phosphorus (mg/L)                   float64
TP MDL (mg/L)                             float64
Total Alkalinity (mg/L)                   float64
Total Alkalinity MDL (mg/L)               float64
Unnamed: 40                               float64
dtype: object

In [26]:
df_clean.count()

CollectDate                        10618
Ammmonia Nitrogen (mg/L)            2538
AN MDL (mg/L)                       2653
Chloro MDL (µg/L)                    630
Conductivity (µmhos/cm)             8133
Cond MDL (µmhos/cm)                 6020
Dissolved Oxygen (mg/L)             8052
DO MDL (mg/L)                       6014
Ecoli                                170
Fecal Coliform (CFU/100ml)           316
Nitrate Nitrite (mg/L)              2566
Nitrate Nitrite MDL (mg/L)          2654
Orthophosphate Phosphate (mg/L)     2473
OP MDL (mg/L)                       2651
pH                                  8139
Temperature (°C)                    8155
Total Nitrogen (mg/L)               2647
TN MDL (mg/L)                       2647
Total Phosphorus (mg/L)             2746
TP MDL (mg/L)                       2763
Total Alkalinity (mg/L)              384
Total Alkalinity MDL (mg/L)          388
Unnamed: 40                            0
dtype: int64

PH, EC, TDS, TH, calcium, magnesium, iron, fluoride, turbidity