In [2]:
import numpy as np
import pandas as pd

In [4]:
# Data download
# ==============================================================================
url = 'https://raw.githubusercontent.com/JoaquinAmatRodrigo/skforecast/master/data/h2o_exog.csv'
data = pd.read_csv(url, sep=',')

data.head()

        fecha         y    exog_1    exog_2
0  1992-04-01  0.379808  0.958792  1.166029
1  1992-05-01  0.361801  0.951993  1.117859
2  1992-06-01  0.410534  0.952955  1.067942
3  1992-07-01  0.483389  0.958078  1.097376
4  1992-08-01  0.475463  0.956370  1.122199