In [22]:
# Initial imports
import pandas as pd
from datetime import datetime

# Import the data

In [28]:
# Load the water_quality_data.csv dataset for monitoring station 0611.

file_path_1 = "../Ritu_Gothwal/Water_Quality_Data/Lake Sammamish-0611_1_1_1994_to_9_30_2022.csv"
#df = pd.read_csv(file_path, skiprows=1)[:-2]
WQ_0611_df = pd.read_csv(file_path_1,skiprows=12, encoding='unicode_escape')
WQ_0611_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Temperature Qualifier*,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L)
0,1/6/1994,L2704-18,1,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,NaN,0.41,NaN,0.05,0.017,NaN,0.005,42,NaN,0.2
1,1/6/1994,L2704-19,5,NaN,NaN,NaN,104.0,NaN,NaN,8.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/6/1994,L2704-20,10,0.02,<MDL,0.02,102.0,NaN,NaN,9.00,...,NaN,0.44,NaN,0.05,0.019,NaN,0.005,42,NaN,0.2
3,1/6/1994,L2704-21,15,NaN,NaN,NaN,105.0,NaN,NaN,9.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/6/1994,L2704-22,20,NaN,NaN,NaN,104.0,NaN,NaN,9.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1/6/1994,L2704-23,22.5,0.02,<MDL,0.02,103.0,NaN,NaN,9.19,...,NaN,0.40,NaN,0.05,0.023,NaN,0.005,42,NaN,0.2
6,1/6/1994,L2704-18,1,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,NaN,0.41,NaN,0.05,0.017,NaN,0.005,42,NaN,0.2
7,2/14/1994,L2938-18,1,0.02,<MDL,0.02,102.5,NaN,NaN,10.81,...,NaN,0.47,NaN,0.05,0.030,NaN,0.005,NaN,NaN,NaN
8,2/14/1994,L2938-19,5,NaN,NaN,NaN,103.9,NaN,NaN,10.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2/14/1994,L2938-20,10,0.02,<MDL,0.02,105.0,NaN,NaN,10.71,...,NaN,0.53,NaN,0.05,0.049,NaN,0.005,NaN,NaN,NaN

In [29]:
WQ_0611_df.shape

(10039, 35)

In [30]:
WQ_0611_df.count()

CollectDate                        10039
SampleNum                          10039
Depth (m)                          10016
Ammmonia Nitrogen (mg/L)            2544
Ammmonia Nitrogen Qualifier*        2205
AN MDL (mg/L)                       2659
Conductivity (µmhos/cm)             8135
Cond Qualifier*                      445
Cond MDL (µmhos/cm)                 6020
Dissolved Oxygen (mg/L)             8052
DO Qualifier*                        809
DO MDL (mg/L)                       6014
Ecoli                                170
Ecoli Qualifier*                       5
Fecal Coliform (CFU/100ml)           316
Fecal Coliform Qualifier*              3
Nitrate Nitrite (mg/L)              2570
Nitrate Nitrite Qualifier*           581
Nitrate Nitrite MDL (mg/L)          2660
Orthophosphate Phosphate (mg/L)     2479
OP Qualifier*                       1796
OP MDL (mg/L)                       2657
pH                                  8145
pH Qualifier*                        435
Temperature (°C)                    8155
Temperature Qualifier*               433
Total Nitrogen (mg/L)               2647
TN Qualifier*                        140
TN MDL (mg/L)                       2649
Total Phosphorus (mg/L)             2750
TP Qualifier*                       1066
TP MDL (mg/L)                       2769
Total Alkalinity (mg/L)              390
Total Alkalinity Qualifier*            6
Total Alkalinity MDL (mg/L)          388
dtype: int64

In [31]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_0611_df = WQ_0611_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_0611_df= WQ_0611_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)" ])

print(WQ_0611_df.shape)
WQ_0611_df.head()

(10039, 14)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L)
0,1/6/1994,L2704-18,0.02,103.0,9.15,NaN,1.0,0.27,0.011,7.4,7.4,0.41,0.017,42
1,1/6/1994,L2704-19,NaN,104.0,8.98,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN
2,1/6/1994,L2704-20,0.02,102.0,9.00,NaN,NaN,0.29,0.012,7.4,7.3,0.44,0.019,42
3,1/6/1994,L2704-21,NaN,105.0,9.21,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN
4,1/6/1994,L2704-22,NaN,104.0,9.20,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN

In [5]:
WQ_0611_df.count()

CollectDate                        10039
SampleNum                          10039
Ammmonia Nitrogen (mg/L)            2544
Conductivity (µmhos/cm)             8135
Dissolved Oxygen (mg/L)             8052
Ecoli                                170
Fecal Coliform (CFU/100ml)           316
Nitrate Nitrite (mg/L)              2570
Orthophosphate Phosphate (mg/L)     2479
pH                                  8145
Temperature (°C)                    8155
Total Nitrogen (mg/L)               2647
Total Phosphorus (mg/L)             2750
Total Alkalinity (mg/L)              390
dtype: int64

In [6]:
WQ_0611_df.isnull().sum()

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)           7495
Conductivity (µmhos/cm)            1904
Dissolved Oxygen (mg/L)            1987
Ecoli                              9869
Fecal Coliform (CFU/100ml)         9723
Nitrate Nitrite (mg/L)             7469
Orthophosphate Phosphate (mg/L)    7560
pH                                 1894
Temperature (°C)                   1884
Total Nitrogen (mg/L)              7392
Total Phosphorus (mg/L)            7289
Total Alkalinity (mg/L)            9649
dtype: int64

In [7]:
WQ_0611_df_1= WQ_0611_df.drop(columns=["Ecoli","Fecal Coliform (CFU/100ml)", "Total Alkalinity (mg/L)"])

WQ_0611_df_1.head()

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1/6/1994,L2704-18,0.02,103.0,9.15,0.27,0.011,7.4,7.4,0.41,0.017
1,1/6/1994,L2704-19,NaN,104.0,8.98,NaN,NaN,7.4,7.3,NaN,NaN
2,1/6/1994,L2704-20,0.02,102.0,9.00,0.29,0.012,7.4,7.3,0.44,0.019
3,1/6/1994,L2704-21,NaN,105.0,9.21,NaN,NaN,7.4,7.3,NaN,NaN
4,1/6/1994,L2704-22,NaN,104.0,9.20,NaN,NaN,7.4,7.3,NaN,NaN

In [8]:
WQ_0611_df_1.dtypes

CollectDate                         object
SampleNum                           object
Ammmonia Nitrogen (mg/L)           float64
Conductivity (µmhos/cm)            float64
Dissolved Oxygen (mg/L)            float64
Nitrate Nitrite (mg/L)             float64
Orthophosphate Phosphate (mg/L)    float64
pH                                  object
Temperature (°C)                   float64
Total Nitrogen (mg/L)              float64
Total Phosphorus (mg/L)            float64
dtype: object

In [18]:
# convert string to datetime
WQ_0611_df_1["CollectDate"] = pd.to_datetime(WQ_0611_df_1["CollectDate"])
WQ_0611_df_1.head(50)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-18,0.02,103.0,9.15,0.270,0.0110,7.4,7.4,0.410,0.017
1,1994-01-06,L2704-19,NaN,104.0,8.98,NaN,NaN,7.4,7.3,NaN,NaN
2,1994-01-06,L2704-20,0.02,102.0,9.00,0.290,0.0120,7.4,7.3,0.440,0.019
3,1994-01-06,L2704-21,NaN,105.0,9.21,NaN,NaN,7.4,7.3,NaN,NaN
4,1994-01-06,L2704-22,NaN,104.0,9.20,NaN,NaN,7.4,7.3,NaN,NaN
5,1994-01-06,L2704-23,0.02,103.0,9.19,0.280,0.0130,7.4,7.3,0.400,0.023
6,1994-01-06,L2704-18,0.02,103.0,9.15,0.270,0.0110,7.4,7.4,0.410,0.017
7,1994-02-14,L2938-18,0.02,102.5,10.81,0.310,0.0090,7.4,6.5,0.470,0.030
8,1994-02-14,L2938-19,NaN,103.9,10.71,NaN,NaN,7.4,6.5,NaN,NaN
9,1994-02-14,L2938-20,0.02,105.0,10.71,0.260,0.0090,7.4,6.5,0.530,0.049
10,1994-02-14,L2938-21,NaN,105.2,10.65,NaN,NaN,7.4,6.5,NaN,NaN
11,1994-02-14,L2938-22,NaN,105.2,10.62,NaN,NaN,7.4,6.5,NaN,NaN
12,1994-02-14,L2938-23,0.02,105.5,10.62,0.320,0.0090,7.4,6.5,0.500,0.029
13,1994-02-14,L2938-18,0.02,102.5,10.81,0.310,0.0090,7.4,6.5,0.470,0.030
14,1994-03-08,L3136-18,0.02,103.4,11.50,0.280,0.0030,7.8,7.5,0.530,0.013
15,1994-03-08,L3136-19,NaN,104.0,11.06,NaN,NaN,7.6,7.1,NaN,NaN
16,1994-03-08,L3136-20,0.02,105.1,10.97,0.380,0.0030,7.6,7.1,0.550,0.013
17,1994-03-08,L3136-21,NaN,105.3,10.80,NaN,NaN,7.5,6.9,NaN,NaN
18,1994-03-08,L3136-22,NaN,105.9,10.14,NaN,NaN,7.4,6.7,NaN,NaN
19,1994-03-08,L3136-23,0.02,105.3,9.69,0.320,0.0090,7.3,6.5,0.540,0.015
20,1994-03-08,L3136-18,0.02,103.4,11.50,0.280,0.0030,7.8,7.5,0.530,0.013
21,1994-03-22,L3278-18,0.02,104.0,12.63,0.290,0.0020,8.7,8.0,0.500,0.016
22,1994-03-22,L3278-19,NaN,105.3,12.24,NaN,NaN,8.3,7.6,NaN,NaN
23,1994-03-22,L3278-20,0.02,105.9,11.91,0.310,0.0020,8.1,7.6,0.530,0.014
24,1994-03-22,L3278-21,NaN,106.2,11.76,NaN,NaN,8.1,7.5,NaN,NaN
25,1994-03-22,L3278-22,NaN,106.3,11.71,NaN,NaN,8.1,7.5,NaN,NaN
26,1994-03-22,L3278-23,NaN,106.5,11.70,NaN,NaN,8.1,7.5,NaN,NaN
27,1994-03-22,L3278-18,0.02,104.0,12.63,0.290,0.0020,8.7,8.0,0.500,0.016
28,1994-04-05,L3378-18,0.02,103.7,15.04,0.223,0.0047,9.4,10.3,0.439,0.009
29,1994-04-05,L3378-19,NaN,104.2,15.01,NaN,NaN,9.3,10.0,NaN,NaN
30,1994-04-05,L3378-20,0.02,103.3,13.28,0.276,0.0047,8.7,7.9,0.454,0.009
31,1994-04-05,L3378-21,NaN,103.3,11.83,NaN,NaN,7.9,7.4,NaN,NaN
32,1994-04-05,L3378-22,NaN,103.7,11.13,NaN,NaN,7.7,7.2,NaN,NaN
33,1994-04-05,L3378-23,0.02,103.9,9.59,0.360,0.0047,7.4,7.1,0.525,0.013
34,1994-04-05,L3378-18,0.02,103.7,15.04,0.223,0.0047,9.4,10.3,0.439,0.009
35,1994-04-19,L3514-18,0.02,104.5,12.89,0.241,0.0020,9.2,12.6,0.427,0.011
36,1994-04-19,L3514-19,NaN,105.0,12.89,NaN,NaN,9.2,12.5,NaN,NaN
37,1994-04-19,L3514-20,0.02,103.9,13.65,0.252,0.0020,9.2,9.5,0.469,0.018
38,1994-04-19,L3514-21,NaN,103.6,12.52,NaN,NaN,8.7,8.7,NaN,NaN
39,1994-04-19,L3514-22,NaN,104.1,11.35,NaN,NaN,8,8.0,NaN,NaN
40,1994-04-19,L3514-23,0.02,104.1,9.31,0.341,0.0020,7.5,7.5,0.527,0.013
41,1994-04-19,L3514-18,0.02,104.5,12.89,0.241,0.0020,9.2,12.6,0.427,0.011
42,1994-05-03,L3610-18,0.02,108.3,10.84,0.251,0.0020,8.8,13.8,0.416,0.008
43,1994-05-03,L3610-19,NaN,108.5,10.53,NaN,NaN,8.8,13.4,NaN,NaN
44,1994-05-03,L3610-20,0.02,107.0,12.69,0.276,0.0020,8.7,9.4,0.454,0.008
45,1994-05-03,L3610-21,NaN,106.6,11.29,NaN,NaN,7.9,8.2,NaN,NaN
46,1994-05-03,L3610-22,NaN,106.3,8.51,NaN,NaN,7.2,7.7,NaN,NaN
47,1994-05-03,L3610-23,0.02,106.4,8.31,0.326,0.0020,7.1,7.6,0.510,0.012
48,1994-05-03,L3610-18,0.02,108.3,10.84,0.251,0.0020,8.8,13.8,0.416,0.008
49,1994-05-24,L3772-18,0.02,114.1,10.21,0.264,0.0020,8.4,17.7,0.428,0.015

In [12]:
WQ_0611_df_1.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                         object
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [16]:
df_1 = WQ_0611_df_1 
df_1.head()

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-18,0.02,103.0,9.15,0.27,0.011,7.4,7.4,0.41,0.017
1,1994-01-06,L2704-19,NaN,104.0,8.98,NaN,NaN,7.4,7.3,NaN,NaN
2,1994-01-06,L2704-20,0.02,102.0,9.00,0.29,0.012,7.4,7.3,0.44,0.019
3,1994-01-06,L2704-21,NaN,105.0,9.21,NaN,NaN,7.4,7.3,NaN,NaN
4,1994-01-06,L2704-22,NaN,104.0,9.20,NaN,NaN,7.4,7.3,NaN,NaN

In [17]:
# Replacing the NaN values:

#df_3 = df_1.groupby(["CollectDate", "Ammmonia Nitrogen (mg/L)"]).apply(lambda x:x.fillna(x.mean()))
df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_3.head(50)

C:\Users\gothw\AppData\Local\Temp\ipykernel_45108\4010031181.py:5: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
C:\Users\gothw\AppData\Local\Temp\ipykernel_45108\4010031181.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-18,0.02,103.0,9.15,0.270000,0.01100,7.4,7.4,0.41000,0.017000
1,1994-01-06,L2704-19,0.02,104.0,8.98,0.277500,0.01175,7.4,7.3,0.41500,0.019000
2,1994-01-06,L2704-20,0.02,102.0,9.00,0.290000,0.01200,7.4,7.3,0.44000,0.019000
3,1994-01-06,L2704-21,0.02,105.0,9.21,0.277500,0.01175,7.4,7.3,0.41500,0.019000
4,1994-01-06,L2704-22,0.02,104.0,9.20,0.277500,0.01175,7.4,7.3,0.41500,0.019000
5,1994-01-06,L2704-23,0.02,103.0,9.19,0.280000,0.01300,7.4,7.3,0.40000,0.023000
6,1994-01-06,L2704-18,0.02,103.0,9.15,0.270000,0.01100,7.4,7.4,0.41000,0.017000
7,1994-02-14,L2938-18,0.02,102.5,10.81,0.310000,0.00900,7.4,6.5,0.47000,0.030000
8,1994-02-14,L2938-19,0.02,103.9,10.71,0.300000,0.00900,7.4,6.5,0.49250,0.034500
9,1994-02-14,L2938-20,0.02,105.0,10.71,0.260000,0.00900,7.4,6.5,0.53000,0.049000
10,1994-02-14,L2938-21,0.02,105.2,10.65,0.300000,0.00900,7.4,6.5,0.49250,0.034500
11,1994-02-14,L2938-22,0.02,105.2,10.62,0.300000,0.00900,7.4,6.5,0.49250,0.034500
12,1994-02-14,L2938-23,0.02,105.5,10.62,0.320000,0.00900,7.4,6.5,0.50000,0.029000
13,1994-02-14,L2938-18,0.02,102.5,10.81,0.310000,0.00900,7.4,6.5,0.47000,0.030000
14,1994-03-08,L3136-18,0.02,103.4,11.50,0.280000,0.00300,7.8,7.5,0.53000,0.013000
15,1994-03-08,L3136-19,0.02,104.0,11.06,0.315000,0.00450,7.6,7.1,0.53750,0.013500
16,1994-03-08,L3136-20,0.02,105.1,10.97,0.380000,0.00300,7.6,7.1,0.55000,0.013000
17,1994-03-08,L3136-21,0.02,105.3,10.80,0.315000,0.00450,7.5,6.9,0.53750,0.013500
18,1994-03-08,L3136-22,0.02,105.9,10.14,0.315000,0.00450,7.4,6.7,0.53750,0.013500
19,1994-03-08,L3136-23,0.02,105.3,9.69,0.320000,0.00900,7.3,6.5,0.54000,0.015000
20,1994-03-08,L3136-18,0.02,103.4,11.50,0.280000,0.00300,7.8,7.5,0.53000,0.013000
21,1994-03-22,L3278-18,0.02,104.0,12.63,0.290000,0.00200,8.7,8.0,0.50000,0.016000
22,1994-03-22,L3278-19,0.02,105.3,12.24,0.296667,0.00200,8.3,7.6,0.51000,0.015333
23,1994-03-22,L3278-20,0.02,105.9,11.91,0.310000,0.00200,8.1,7.6,0.53000,0.014000
24,1994-03-22,L3278-21,0.02,106.2,11.76,0.296667,0.00200,8.1,7.5,0.51000,0.015333
25,1994-03-22,L3278-22,0.02,106.3,11.71,0.296667,0.00200,8.1,7.5,0.51000,0.015333
26,1994-03-22,L3278-23,0.02,106.5,11.70,0.296667,0.00200,8.1,7.5,0.51000,0.015333
27,1994-03-22,L3278-18,0.02,104.0,12.63,0.290000,0.00200,8.7,8.0,0.50000,0.016000
28,1994-04-05,L3378-18,0.02,103.7,15.04,0.223000,0.00470,9.4,10.3,0.43900,0.009000
29,1994-04-05,L3378-19,0.02,104.2,15.01,0.270500,0.00470,9.3,10.0,0.46425,0.010000
30,1994-04-05,L3378-20,0.02,103.3,13.28,0.276000,0.00470,8.7,7.9,0.45400,0.009000
31,1994-04-05,L3378-21,0.02,103.3,11.83,0.270500,0.00470,7.9,7.4,0.46425,0.010000
32,1994-04-05,L3378-22,0.02,103.7,11.13,0.270500,0.00470,7.7,7.2,0.46425,0.010000
33,1994-04-05,L3378-23,0.02,103.9,9.59,0.360000,0.00470,7.4,7.1,0.52500,0.013000
34,1994-04-05,L3378-18,0.02,103.7,15.04,0.223000,0.00470,9.4,10.3,0.43900,0.009000
35,1994-04-19,L3514-18,0.02,104.5,12.89,0.241000,0.00200,9.2,12.6,0.42700,0.011000
36,1994-04-19,L3514-19,0.02,105.0,12.89,0.268750,0.00200,9.2,12.5,0.46250,0.013250
37,1994-04-19,L3514-20,0.02,103.9,13.65,0.252000,0.00200,9.2,9.5,0.46900,0.018000
38,1994-04-19,L3514-21,0.02,103.6,12.52,0.268750,0.00200,8.7,8.7,0.46250,0.013250
39,1994-04-19,L3514-22,0.02,104.1,11.35,0.268750,0.00200,8,8.0,0.46250,0.013250
40,1994-04-19,L3514-23,0.02,104.1,9.31,0.341000,0.00200,7.5,7.5,0.52700,0.013000
41,1994-04-19,L3514-18,0.02,104.5,12.89,0.241000,0.00200,9.2,12.6,0.42700,0.011000
42,1994-05-03,L3610-18,0.02,108.3,10.84,0.251000,0.00200,8.8,13.8,0.41600,0.008000
43,1994-05-03,L3610-19,0.02,108.5,10.53,0.276000,0.00200,8.8,13.4,0.44900,0.009000
44,1994-05-03,L3610-20,0.02,107.0,12.69,0.276000,0.00200,8.7,9.4,0.45400,0.008000
45,1994-05-03,L3610-21,0.02,106.6,11.29,0.276000,0.00200,7.9,8.2,0.44900,0.009000
46,1994-05-03,L3610-22,0.02,106.3,8.51,0.276000,0.00200,7.2,7.7,0.44900,0.009000
47,1994-05-03,L3610-23,0.02,106.4,8.31,0.326000,0.00200,7.1,7.6,0.51000,0.012000
48,1994-05-03,L3610-18,0.02,108.3,10.84,0.251000,0.00200,8.8,13.8,0.41600,0.008000
49,1994-05-24,L3772-18,0.02,114.1,10.21,0.264000,0.00200,8.4,17.7,0.42800,0.015000

In [ ]:
WQ_0611_df_1.count()

In [ ]:
WQ_0611_df_1 = WQ_0611_df.dropna()
WQ_0611_df_1.count()

# Importing another csv file for monitoring station 0612

In [ ]:
# Load the water_quality_data.csv dataset for monitoring station 0612.


file_path_2 = "../Ritu_Gothwal/Water_Quality_Data/Lake Sammamish-0612_1_1_1994_to_9_30_2022.csv"
#df = pd.read_csv(file_path, skiprows=1)[:-2]
WQ_0612_df = pd.read_csv(file_path_2,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

WQ_0612_df.head(10)

In [ ]:
WQ_0612_df.count()

In [ ]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_0612_df = WQ_0612_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_0612_df= WQ_0612_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)","Unnamed: 35" ])


WQ_0612_df.head()

In [ ]:
WQ_0612_df.count()