In [121]:
# Initial imports
import pandas as pd

# Import the data

In [130]:
# Load the water_quality_data.csv dataset for monitoring station 0611.

file_path_1 = "../Project/Water_Quality_Data/Lake Sammamish-0611_1_1_1994_to_9_30_2022.csv"
#df = pd.read_csv(file_path, skiprows=1)[:-2]
WQ_0611_df = pd.read_csv(file_path_1,skiprows=12, encoding='unicode_escape')
WQD_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Temperature Qualifier*,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L)
0,1/6/1994,L2704-18,1,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,NaN,0.41,NaN,0.05,0.017,NaN,0.005,42,NaN,0.2
1,1/6/1994,L2704-19,5,NaN,NaN,NaN,104.0,NaN,NaN,8.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/6/1994,L2704-20,10,0.02,<MDL,0.02,102.0,NaN,NaN,9.00,...,NaN,0.44,NaN,0.05,0.019,NaN,0.005,42,NaN,0.2
3,1/6/1994,L2704-21,15,NaN,NaN,NaN,105.0,NaN,NaN,9.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/6/1994,L2704-22,20,NaN,NaN,NaN,104.0,NaN,NaN,9.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1/6/1994,L2704-23,22.5,0.02,<MDL,0.02,103.0,NaN,NaN,9.19,...,NaN,0.40,NaN,0.05,0.023,NaN,0.005,42,NaN,0.2
6,1/6/1994,L2704-18,1,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,NaN,0.41,NaN,0.05,0.017,NaN,0.005,42,NaN,0.2
7,2/14/1994,L2938-18,1,0.02,<MDL,0.02,102.5,NaN,NaN,10.81,...,NaN,0.47,NaN,0.05,0.030,NaN,0.005,NaN,NaN,NaN
8,2/14/1994,L2938-19,5,NaN,NaN,NaN,103.9,NaN,NaN,10.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2/14/1994,L2938-20,10,0.02,<MDL,0.02,105.0,NaN,NaN,10.71,...,NaN,0.53,NaN,0.05,0.049,NaN,0.005,NaN,NaN,NaN

In [131]:
WQ_0611_df.count()

CollectDate                        10039
SampleNum                          10039
Depth (m)                          10016
Ammmonia Nitrogen (mg/L)            2544
Ammmonia Nitrogen Qualifier*        2205
AN MDL (mg/L)                       2659
Conductivity (µmhos/cm)             8135
Cond Qualifier*                      445
Cond MDL (µmhos/cm)                 6020
Dissolved Oxygen (mg/L)             8052
DO Qualifier*                        809
DO MDL (mg/L)                       6014
Ecoli                                170
Ecoli Qualifier*                       5
Fecal Coliform (CFU/100ml)           316
Fecal Coliform Qualifier*              3
Nitrate Nitrite (mg/L)              2570
Nitrate Nitrite Qualifier*           581
Nitrate Nitrite MDL (mg/L)          2660
Orthophosphate Phosphate (mg/L)     2479
OP Qualifier*                       1796
OP MDL (mg/L)                       2657
pH                                  8145
pH Qualifier*                        435
Temperature (°C)                    8155
Temperature Qualifier*               433
Total Nitrogen (mg/L)               2647
TN Qualifier*                        140
TN MDL (mg/L)                       2649
Total Phosphorus (mg/L)             2750
TP Qualifier*                       1066
TP MDL (mg/L)                       2769
Total Alkalinity (mg/L)              390
Total Alkalinity Qualifier*            6
Total Alkalinity MDL (mg/L)          388
dtype: int64

In [132]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_0611_df = WQ_0611_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_0611_df= WQ_0611_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)" ])


WQ_0611_df.head()

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L)
0,1/6/1994,L2704-18,0.02,103.0,9.15,NaN,1.0,0.27,0.011,7.4,7.4,0.41,0.017,42
1,1/6/1994,L2704-19,NaN,104.0,8.98,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN
2,1/6/1994,L2704-20,0.02,102.0,9.00,NaN,NaN,0.29,0.012,7.4,7.3,0.44,0.019,42
3,1/6/1994,L2704-21,NaN,105.0,9.21,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN
4,1/6/1994,L2704-22,NaN,104.0,9.20,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN

In [133]:
WQ_0611_df.count()

CollectDate                        10039
SampleNum                          10039
Ammmonia Nitrogen (mg/L)            2544
Conductivity (µmhos/cm)             8135
Dissolved Oxygen (mg/L)             8052
Ecoli                                170
Fecal Coliform (CFU/100ml)           316
Nitrate Nitrite (mg/L)              2570
Orthophosphate Phosphate (mg/L)     2479
pH                                  8145
Temperature (°C)                    8155
Total Nitrogen (mg/L)               2647
Total Phosphorus (mg/L)             2750
Total Alkalinity (mg/L)              390
dtype: int64

In [134]:
WQ_0611_df.isnull().sum()

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)           7495
Conductivity (µmhos/cm)            1904
Dissolved Oxygen (mg/L)            1987
Ecoli                              9869
Fecal Coliform (CFU/100ml)         9723
Nitrate Nitrite (mg/L)             7469
Orthophosphate Phosphate (mg/L)    7560
pH                                 1894
Temperature (°C)                   1884
Total Nitrogen (mg/L)              7392
Total Phosphorus (mg/L)            7289
Total Alkalinity (mg/L)            9649
dtype: int64

In [140]:
WQ_0611_df_1= WQ_0611_df.drop(columns=["Ecoli","Fecal Coliform (CFU/100ml)", "Total Alkalinity (mg/L)"])

WQ_0611_df_1.head(50)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1/6/1994,L2704-18,0.02,103.0,9.15,0.270,0.0110,7.4,7.4,0.410,0.017
1,1/6/1994,L2704-19,NaN,104.0,8.98,NaN,NaN,7.4,7.3,NaN,NaN
2,1/6/1994,L2704-20,0.02,102.0,9.00,0.290,0.0120,7.4,7.3,0.440,0.019
3,1/6/1994,L2704-21,NaN,105.0,9.21,NaN,NaN,7.4,7.3,NaN,NaN
4,1/6/1994,L2704-22,NaN,104.0,9.20,NaN,NaN,7.4,7.3,NaN,NaN
5,1/6/1994,L2704-23,0.02,103.0,9.19,0.280,0.0130,7.4,7.3,0.400,0.023
6,1/6/1994,L2704-18,0.02,103.0,9.15,0.270,0.0110,7.4,7.4,0.410,0.017
7,2/14/1994,L2938-18,0.02,102.5,10.81,0.310,0.0090,7.4,6.5,0.470,0.030
8,2/14/1994,L2938-19,NaN,103.9,10.71,NaN,NaN,7.4,6.5,NaN,NaN
9,2/14/1994,L2938-20,0.02,105.0,10.71,0.260,0.0090,7.4,6.5,0.530,0.049
10,2/14/1994,L2938-21,NaN,105.2,10.65,NaN,NaN,7.4,6.5,NaN,NaN
11,2/14/1994,L2938-22,NaN,105.2,10.62,NaN,NaN,7.4,6.5,NaN,NaN
12,2/14/1994,L2938-23,0.02,105.5,10.62,0.320,0.0090,7.4,6.5,0.500,0.029
13,2/14/1994,L2938-18,0.02,102.5,10.81,0.310,0.0090,7.4,6.5,0.470,0.030
14,3/8/1994,L3136-18,0.02,103.4,11.50,0.280,0.0030,7.8,7.5,0.530,0.013
15,3/8/1994,L3136-19,NaN,104.0,11.06,NaN,NaN,7.6,7.1,NaN,NaN
16,3/8/1994,L3136-20,0.02,105.1,10.97,0.380,0.0030,7.6,7.1,0.550,0.013
17,3/8/1994,L3136-21,NaN,105.3,10.80,NaN,NaN,7.5,6.9,NaN,NaN
18,3/8/1994,L3136-22,NaN,105.9,10.14,NaN,NaN,7.4,6.7,NaN,NaN
19,3/8/1994,L3136-23,0.02,105.3,9.69,0.320,0.0090,7.3,6.5,0.540,0.015
20,3/8/1994,L3136-18,0.02,103.4,11.50,0.280,0.0030,7.8,7.5,0.530,0.013
21,3/22/1994,L3278-18,0.02,104.0,12.63,0.290,0.0020,8.7,8.0,0.500,0.016
22,3/22/1994,L3278-19,NaN,105.3,12.24,NaN,NaN,8.3,7.6,NaN,NaN
23,3/22/1994,L3278-20,0.02,105.9,11.91,0.310,0.0020,8.1,7.6,0.530,0.014
24,3/22/1994,L3278-21,NaN,106.2,11.76,NaN,NaN,8.1,7.5,NaN,NaN
25,3/22/1994,L3278-22,NaN,106.3,11.71,NaN,NaN,8.1,7.5,NaN,NaN
26,3/22/1994,L3278-23,NaN,106.5,11.70,NaN,NaN,8.1,7.5,NaN,NaN
27,3/22/1994,L3278-18,0.02,104.0,12.63,0.290,0.0020,8.7,8.0,0.500,0.016
28,4/5/1994,L3378-18,0.02,103.7,15.04,0.223,0.0047,9.4,10.3,0.439,0.009
29,4/5/1994,L3378-19,NaN,104.2,15.01,NaN,NaN,9.3,10.0,NaN,NaN
30,4/5/1994,L3378-20,0.02,103.3,13.28,0.276,0.0047,8.7,7.9,0.454,0.009
31,4/5/1994,L3378-21,NaN,103.3,11.83,NaN,NaN,7.9,7.4,NaN,NaN
32,4/5/1994,L3378-22,NaN,103.7,11.13,NaN,NaN,7.7,7.2,NaN,NaN
33,4/5/1994,L3378-23,0.02,103.9,9.59,0.360,0.0047,7.4,7.1,0.525,0.013
34,4/5/1994,L3378-18,0.02,103.7,15.04,0.223,0.0047,9.4,10.3,0.439,0.009
35,4/19/1994,L3514-18,0.02,104.5,12.89,0.241,0.0020,9.2,12.6,0.427,0.011
36,4/19/1994,L3514-19,NaN,105.0,12.89,NaN,NaN,9.2,12.5,NaN,NaN
37,4/19/1994,L3514-20,0.02,103.9,13.65,0.252,0.0020,9.2,9.5,0.469,0.018
38,4/19/1994,L3514-21,NaN,103.6,12.52,NaN,NaN,8.7,8.7,NaN,NaN
39,4/19/1994,L3514-22,NaN,104.1,11.35,NaN,NaN,8,8.0,NaN,NaN
40,4/19/1994,L3514-23,0.02,104.1,9.31,0.341,0.0020,7.5,7.5,0.527,0.013
41,4/19/1994,L3514-18,0.02,104.5,12.89,0.241,0.0020,9.2,12.6,0.427,0.011
42,5/3/1994,L3610-18,0.02,108.3,10.84,0.251,0.0020,8.8,13.8,0.416,0.008
43,5/3/1994,L3610-19,NaN,108.5,10.53,NaN,NaN,8.8,13.4,NaN,NaN
44,5/3/1994,L3610-20,0.02,107.0,12.69,0.276,0.0020,8.7,9.4,0.454,0.008
45,5/3/1994,L3610-21,NaN,106.6,11.29,NaN,NaN,7.9,8.2,NaN,NaN
46,5/3/1994,L3610-22,NaN,106.3,8.51,NaN,NaN,7.2,7.7,NaN,NaN
47,5/3/1994,L3610-23,0.02,106.4,8.31,0.326,0.0020,7.1,7.6,0.510,0.012
48,5/3/1994,L3610-18,0.02,108.3,10.84,0.251,0.0020,8.8,13.8,0.416,0.008
49,5/24/1994,L3772-18,0.02,114.1,10.21,0.264,0.0020,8.4,17.7,0.428,0.015

In [ ]:
WQ_0611_df_1.count()

In [138]:
WQ_0611_df_1 = WQ_0611_df.dropna()
WQ_0611_df_1.count()

CollectDate                        39
SampleNum                          39
Ammmonia Nitrogen (mg/L)           39
Conductivity (µmhos/cm)            39
Dissolved Oxygen (mg/L)            39
Ecoli                              39
Fecal Coliform (CFU/100ml)         39
Nitrate Nitrite (mg/L)             39
Orthophosphate Phosphate (mg/L)    39
pH                                 39
Temperature (°C)                   39
Total Nitrogen (mg/L)              39
Total Phosphorus (mg/L)            39
Total Alkalinity (mg/L)            39
dtype: int64

# Importing another csv file for monitoring station 0612

In [147]:
# Load the water_quality_data.csv dataset for monitoring station 0612.


file_path_2 = "../Project/Water_Quality_Data/Lake Sammamish-0612_1_1_1994_to_9_30_2022.csv"
#df = pd.read_csv(file_path, skiprows=1)[:-2]
WQ_0612_df = pd.read_csv(file_path_2,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

WQD_df.head(10)

C:\Users\gothw\AppData\Local\Temp\ipykernel_61104\2042564184.py:6: DtypeWarning: Columns (2,7,13,15,23,25,33) have mixed types. Specify dtype option on import or set low_memory=False.
  WQ_0612_df = pd.read_csv(file_path_2,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Temperature Qualifier*,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L)
0,1/6/1994,L2704-18,1,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,NaN,0.41,NaN,0.05,0.017,NaN,0.005,42,NaN,0.2
1,1/6/1994,L2704-19,5,NaN,NaN,NaN,104.0,NaN,NaN,8.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/6/1994,L2704-20,10,0.02,<MDL,0.02,102.0,NaN,NaN,9.00,...,NaN,0.44,NaN,0.05,0.019,NaN,0.005,42,NaN,0.2
3,1/6/1994,L2704-21,15,NaN,NaN,NaN,105.0,NaN,NaN,9.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/6/1994,L2704-22,20,NaN,NaN,NaN,104.0,NaN,NaN,9.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1/6/1994,L2704-23,22.5,0.02,<MDL,0.02,103.0,NaN,NaN,9.19,...,NaN,0.40,NaN,0.05,0.023,NaN,0.005,42,NaN,0.2
6,1/6/1994,L2704-18,1,0.02,<MDL,0.02,103.0,NaN,NaN,9.15,...,NaN,0.41,NaN,0.05,0.017,NaN,0.005,42,NaN,0.2
7,2/14/1994,L2938-18,1,0.02,<MDL,0.02,102.5,NaN,NaN,10.81,...,NaN,0.47,NaN,0.05,0.030,NaN,0.005,NaN,NaN,NaN
8,2/14/1994,L2938-19,5,NaN,NaN,NaN,103.9,NaN,NaN,10.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2/14/1994,L2938-20,10,0.02,<MDL,0.02,105.0,NaN,NaN,10.71,...,NaN,0.53,NaN,0.05,0.049,NaN,0.005,NaN,NaN,NaN

In [148]:
WQ_0612_df.count()

CollectDate                        19896
SampleNum                          19896
Depth (m)                          19875
Ammmonia Nitrogen (mg/L)            2717
Ammmonia Nitrogen Qualifier*        2357
AN MDL (mg/L)                       2866
Conductivity (µmhos/cm)            17764
Cond Qualifier*                      993
Cond MDL (µmhos/cm)                15546
Dissolved Oxygen (mg/L)            17473
DO Qualifier*                       2576
DO MDL (mg/L)                      15532
Ecoli                                172
Ecoli Qualifier*                       4
Fecal Coliform (CFU/100ml)           317
Fecal Coliform Qualifier*              2
Nitrate Nitrite (mg/L)              2780
Nitrate Nitrite Qualifier*           558
Nitrate Nitrite MDL (mg/L)          2866
Orthophosphate Phosphate (mg/L)     2708
OP Qualifier*                       1859
OP MDL (mg/L)                       2863
pH                                 17768
pH Qualifier*                        982
Temperature (°C)                   17783
Temperature Qualifier*               982
Total Nitrogen (mg/L)               2862
TN Qualifier*                        136
TN MDL (mg/L)                       2862
Total Phosphorus (mg/L)             2971
TP Qualifier*                       1140
TP MDL (mg/L)                       2987
Total Alkalinity (mg/L)             1997
Total Alkalinity Qualifier*           22
Total Alkalinity MDL (mg/L)         2001
Unnamed: 35                            0
dtype: int64

In [149]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_0612_df = WQ_0612_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_0612_df= WQ_0612_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)","Unnamed: 35" ])


WQ_0612_df.head()

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L)
0,01/06/1994,L2704-5,0.02,102.0,9.17,NaN,2.0,0.29,0.011,7.4,7.4,0.39,0.020,42.0
1,01/06/1994,L2704-6,NaN,105.0,8.88,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN
2,01/06/1994,L2704-7,0.02,104.0,9.25,NaN,NaN,0.26,0.009,7.4,7.3,0.47,0.026,42.0
3,01/06/1994,L2704-8,NaN,104.0,9.22,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN
4,01/06/1994,L2704-9,NaN,103.0,9.21,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN

In [150]:
WQ_0612_df.count()

CollectDate                        19896
SampleNum                          19896
Ammmonia Nitrogen (mg/L)            2717
Conductivity (µmhos/cm)            17764
Dissolved Oxygen (mg/L)            17473
Ecoli                                172
Fecal Coliform (CFU/100ml)           317
Nitrate Nitrite (mg/L)              2780
Orthophosphate Phosphate (mg/L)     2708
pH                                 17768
Temperature (°C)                   17783
Total Nitrogen (mg/L)               2862
Total Phosphorus (mg/L)             2971
Total Alkalinity (mg/L)             1997
dtype: int64