In [1]:
# Initial imports
import pandas as pd
from datetime import datetime

# Import the data

In [2]:

# Load the water_quality_data.csv dataset for monitoring station 0612.


file_path_2 = "../Raw_Water_Quality_Data/Lake Sammamish-0612_1_1_1994_to_9_30_2022.csv"
#df = pd.read_csv(file_path, skiprows=1)[:-2]
WQ_df = pd.read_csv(file_path_2,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

WQ_df.head(10)

C:\Users\gothw\AppData\Local\Temp\ipykernel_37908\3602530046.py:6: DtypeWarning: Columns (2,7,13,15,23,25,33) have mixed types. Specify dtype option on import or set low_memory=False.
  WQ_df = pd.read_csv(file_path_2,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/06/1994,L2704-5,1.0,0.02,<MDL,0.02,102.0,NaN,NaN,9.17,...,0.39,NaN,0.05,0.020,NaN,0.005,42.0,NaN,0.2,NaN
1,01/06/1994,L2704-6,5.0,NaN,NaN,NaN,105.0,NaN,NaN,8.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-7,10.0,0.02,<MDL,0.02,104.0,NaN,NaN,9.25,...,0.47,NaN,0.05,0.026,NaN,0.005,42.0,NaN,0.2,NaN
3,01/06/1994,L2704-8,15.0,NaN,NaN,NaN,104.0,NaN,NaN,9.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/06/1994,L2704-9,20.0,NaN,NaN,NaN,103.0,NaN,NaN,9.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01/06/1994,L2704-10,25.0,0.02,<MDL,0.02,105.0,NaN,NaN,9.08,...,0.46,NaN,0.05,0.023,NaN,0.005,38.0,NaN,0.2,NaN
6,01/06/1994,L2704-5,1.0,0.02,<MDL,0.02,102.0,NaN,NaN,9.17,...,0.39,NaN,0.05,0.020,NaN,0.005,42.0,NaN,0.2,NaN
7,02/14/1994,L2938-5,1.0,0.02,<MDL,0.02,102.4,NaN,NaN,10.77,...,0.50,NaN,0.05,0.027,NaN,0.005,NaN,NaN,NaN,NaN
8,02/14/1994,L2938-6,5.0,NaN,NaN,NaN,103.9,NaN,NaN,10.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,02/14/1994,L2938-7,10.0,0.02,<MDL,0.02,105.1,NaN,NaN,10.58,...,0.50,NaN,0.05,0.041,NaN,0.005,NaN,NaN,NaN,NaN

In [3]:
WQ_df.shape

(19896, 36)

In [4]:
WQ_df.count()

CollectDate                        19896
SampleNum                          19896
Depth (m)                          19875
Ammmonia Nitrogen (mg/L)            2717
Ammmonia Nitrogen Qualifier*        2357
AN MDL (mg/L)                       2866
Conductivity (µmhos/cm)            17764
Cond Qualifier*                      993
Cond MDL (µmhos/cm)                15546
Dissolved Oxygen (mg/L)            17473
DO Qualifier*                       2576
DO MDL (mg/L)                      15532
Ecoli                                172
Ecoli Qualifier*                       4
Fecal Coliform (CFU/100ml)           317
Fecal Coliform Qualifier*              2
Nitrate Nitrite (mg/L)              2780
Nitrate Nitrite Qualifier*           558
Nitrate Nitrite MDL (mg/L)          2866
Orthophosphate Phosphate (mg/L)     2708
OP Qualifier*                       1859
OP MDL (mg/L)                       2863
pH                                 17768
pH Qualifier*                        982
Temperature (°C)                   17783
Temperature Qualifier*               982
Total Nitrogen (mg/L)               2862
TN Qualifier*                        136
TN MDL (mg/L)                       2862
Total Phosphorus (mg/L)             2971
TP Qualifier*                       1140
TP MDL (mg/L)                       2987
Total Alkalinity (mg/L)             1997
Total Alkalinity Qualifier*           22
Total Alkalinity MDL (mg/L)         2001
Unnamed: 35                            0
dtype: int64

In [5]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_df = WQ_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_df= WQ_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)" ])

print(WQ_df.shape)
WQ_df.head()

(19896, 15)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L),Unnamed: 35
0,01/06/1994,L2704-5,0.02,102.0,9.17,NaN,2.0,0.29,0.011,7.4,7.4,0.39,0.020,42.0,NaN
1,01/06/1994,L2704-6,NaN,105.0,8.88,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN,NaN
2,01/06/1994,L2704-7,0.02,104.0,9.25,NaN,NaN,0.26,0.009,7.4,7.3,0.47,0.026,42.0,NaN
3,01/06/1994,L2704-8,NaN,104.0,9.22,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN,NaN
4,01/06/1994,L2704-9,NaN,103.0,9.21,NaN,NaN,NaN,NaN,7.4,7.3,NaN,NaN,NaN,NaN

In [6]:
WQ_df.count()

CollectDate                        19896
SampleNum                          19896
Ammmonia Nitrogen (mg/L)            2717
Conductivity (µmhos/cm)            17764
Dissolved Oxygen (mg/L)            17473
Ecoli                                172
Fecal Coliform (CFU/100ml)           317
Nitrate Nitrite (mg/L)              2780
Orthophosphate Phosphate (mg/L)     2708
pH                                 17768
Temperature (°C)                   17783
Total Nitrogen (mg/L)               2862
Total Phosphorus (mg/L)             2971
Total Alkalinity (mg/L)             1997
Unnamed: 35                            0
dtype: int64

In [7]:
WQ_df.isnull().sum()

CollectDate                            0
SampleNum                              0
Ammmonia Nitrogen (mg/L)           17179
Conductivity (µmhos/cm)             2132
Dissolved Oxygen (mg/L)             2423
Ecoli                              19724
Fecal Coliform (CFU/100ml)         19579
Nitrate Nitrite (mg/L)             17116
Orthophosphate Phosphate (mg/L)    17188
pH                                  2128
Temperature (°C)                    2113
Total Nitrogen (mg/L)              17034
Total Phosphorus (mg/L)            16925
Total Alkalinity (mg/L)            17899
Unnamed: 35                        19896
dtype: int64

In [8]:
#WQ_0612_df_1= WQ_0611_df.drop(columns=["Ecoli","Fecal Coliform (CFU/100ml)", "Total Alkalinity (mg/L)"])
WQ_df_1= WQ_df.drop(columns=["Ecoli", "Total Alkalinity (mg/L)", "Unnamed: 35"])
print(WQ_df_1.shape)
WQ_df_1.head()

(19896, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,01/06/1994,L2704-5,0.02,102.0,9.17,2.0,0.29,0.011,7.4,7.4,0.39,0.020
1,01/06/1994,L2704-6,NaN,105.0,8.88,NaN,NaN,NaN,7.4,7.3,NaN,NaN
2,01/06/1994,L2704-7,0.02,104.0,9.25,NaN,0.26,0.009,7.4,7.3,0.47,0.026
3,01/06/1994,L2704-8,NaN,104.0,9.22,NaN,NaN,NaN,7.4,7.3,NaN,NaN
4,01/06/1994,L2704-9,NaN,103.0,9.21,NaN,NaN,NaN,7.4,7.3,NaN,NaN

In [9]:
WQ_df_1.dtypes

CollectDate                         object
SampleNum                           object
Ammmonia Nitrogen (mg/L)           float64
Conductivity (µmhos/cm)            float64
Dissolved Oxygen (mg/L)            float64
Fecal Coliform (CFU/100ml)         float64
Nitrate Nitrite (mg/L)             float64
Orthophosphate Phosphate (mg/L)    float64
pH                                 float64
Temperature (°C)                   float64
Total Nitrogen (mg/L)              float64
Total Phosphorus (mg/L)            float64
dtype: object

In [10]:
# convert string to datetime
WQ_df_1["CollectDate"] = pd.to_datetime(WQ_df_1["CollectDate"])

# convert string to float/numeric
WQ_df_1["pH"] = pd.to_numeric(WQ_df_1["pH"],errors='coerce')

WQ_df_1.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [11]:
# Dropping the duplicate Sample in the column "SampleNum"
df_1 = WQ_df_1 .drop_duplicates(subset=['SampleNum'])
print(df_1.shape)
df_1.head(50)

(13680, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-5,0.02,102.0,9.17,2.0,0.290,0.0110,7.4,7.4,0.390,0.020
1,1994-01-06,L2704-6,NaN,105.0,8.88,NaN,NaN,NaN,7.4,7.3,NaN,NaN
2,1994-01-06,L2704-7,0.02,104.0,9.25,NaN,0.260,0.0090,7.4,7.3,0.470,0.026
3,1994-01-06,L2704-8,NaN,104.0,9.22,NaN,NaN,NaN,7.4,7.3,NaN,NaN
4,1994-01-06,L2704-9,NaN,103.0,9.21,NaN,NaN,NaN,7.4,7.3,NaN,NaN
5,1994-01-06,L2704-10,0.02,105.0,9.08,NaN,0.320,0.0100,7.4,7.2,0.460,0.023
7,1994-02-14,L2938-5,0.02,102.4,10.77,0.0,0.300,0.0090,7.4,6.5,0.500,0.027
8,1994-02-14,L2938-6,NaN,103.9,10.61,NaN,NaN,NaN,7.4,6.4,NaN,NaN
9,1994-02-14,L2938-7,0.02,105.1,10.58,NaN,0.360,0.0100,7.4,6.4,0.500,0.041
10,1994-02-14,L2938-8,NaN,105.2,10.52,NaN,NaN,NaN,7.4,6.4,NaN,NaN
11,1994-02-14,L2938-9,NaN,105.5,10.53,NaN,NaN,NaN,7.4,6.4,NaN,NaN
12,1994-02-14,L2938-10,0.02,105.5,10.47,NaN,0.290,0.0090,7.4,6.4,0.520,0.018
14,1994-03-08,L3136-5,0.02,103.1,11.42,0.0,0.340,0.0040,7.7,7.7,0.560,0.016
15,1994-03-08,L3136-6,NaN,104.0,11.35,NaN,NaN,NaN,7.6,7.1,NaN,NaN
16,1994-03-08,L3136-7,0.02,105.0,10.96,NaN,0.300,0.0040,7.6,7.0,0.520,0.017
17,1994-03-08,L3136-8,NaN,105.2,10.49,NaN,NaN,NaN,7.4,6.8,NaN,NaN
18,1994-03-08,L3136-9,NaN,105.2,10.34,NaN,NaN,NaN,7.4,6.7,NaN,NaN
19,1994-03-08,L3136-10,0.02,105.5,10.19,NaN,0.440,0.0090,7.4,6.6,0.580,0.022
21,1994-03-22,L3278-5,0.02,103.9,12.45,0.0,0.310,0.0020,8.3,7.9,0.530,0.015
22,1994-03-22,L3278-6,NaN,105.2,11.69,NaN,NaN,NaN,7.8,7.2,NaN,NaN
23,1994-03-22,L3278-7,0.02,105.7,11.48,NaN,0.350,0.0030,7.7,7.1,0.550,0.014
24,1994-03-22,L3278-8,NaN,105.9,11.25,NaN,NaN,NaN,7.7,7.1,NaN,NaN
25,1994-03-22,L3278-9,NaN,105.9,11.10,NaN,NaN,NaN,7.6,7.0,NaN,NaN
26,1994-03-22,L3278-10,0.02,106.1,11.23,NaN,0.360,0.0030,7.6,7.0,0.590,0.024
28,1994-04-05,L3378-5,0.02,102.2,13.73,2.0,0.274,0.0047,8.9,8.4,0.466,0.012
29,1994-04-05,L3378-6,NaN,103.1,13.65,NaN,NaN,NaN,8.9,8.4,NaN,NaN
30,1994-04-05,L3378-7,0.02,103.3,13.00,NaN,0.308,0.0049,8.6,8.1,0.522,0.012
31,1994-04-05,L3378-8,NaN,103.3,11.85,NaN,NaN,NaN,7.9,7.4,NaN,NaN
32,1994-04-05,L3378-9,NaN,103.2,11.52,NaN,NaN,NaN,7.7,7.3,NaN,NaN
33,1994-04-05,L3378-10,0.02,103.1,9.52,NaN,0.390,0.0047,7.4,7.0,0.591,0.011
35,1994-04-19,L3514-5,0.02,104.2,12.42,0.0,0.269,0.0020,9.1,13.1,0.450,0.023
36,1994-04-19,L3514-6,NaN,103.4,14.11,NaN,NaN,NaN,9.2,9.6,NaN,NaN
37,1994-04-19,L3514-7,0.02,103.3,14.14,NaN,0.275,0.0020,9.2,9.6,0.491,0.015
38,1994-04-19,L3514-8,NaN,103.0,11.78,NaN,NaN,NaN,8.4,8.3,NaN,NaN
39,1994-04-19,L3514-9,NaN,103.6,10.20,NaN,NaN,NaN,7.6,7.6,NaN,NaN
40,1994-04-19,L3514-10,0.02,103.5,9.71,NaN,0.352,0.0020,7.3,7.4,0.527,0.013
42,1994-05-03,L3610-5,0.02,109.3,11.69,0.0,0.268,0.0020,8.8,13.5,0.445,0.015
43,1994-05-03,L3610-6,NaN,110.1,11.57,NaN,NaN,NaN,8.8,13.3,NaN,NaN
44,1994-05-03,L3610-7,0.02,108.0,12.76,NaN,0.281,0.0020,8.7,10.1,0.464,0.010
45,1994-05-03,L3610-8,NaN,107.6,11.83,NaN,NaN,NaN,8.2,8.6,NaN,NaN
46,1994-05-03,L3610-9,NaN,107.2,10.84,NaN,NaN,NaN,7.8,8.2,NaN,NaN
47,1994-05-03,L3610-10,0.02,107.1,8.89,NaN,0.338,0.0020,7.3,7.6,0.523,0.012
49,1994-05-24,L3772-5,0.02,114.4,10.14,0.0,0.263,0.0020,8.5,17.8,0.412,0.013
50,1994-05-24,L3772-6,NaN,114.7,10.20,NaN,NaN,NaN,8.5,17.0,NaN,NaN
51,1994-05-24,L3772-43,NaN,114.5,10.05,NaN,NaN,NaN,8.4,16.7,NaN,NaN
52,1994-05-24,L3772-44,NaN,114.3,10.28,NaN,NaN,NaN,8.5,16.1,NaN,NaN
53,1994-05-24,L3772-45,NaN,114.3,10.51,NaN,NaN,NaN,8.5,15.5,NaN,NaN
54,1994-05-24,L3772-46,NaN,114.1,10.69,NaN,NaN,NaN,8.5,15.1,NaN,NaN
55,1994-05-24,L3772-47,NaN,114.0,10.85,NaN,NaN,NaN,8.5,14.5,NaN,NaN
56,1994-05-24,L3772-48,NaN,112.3,11.43,NaN,NaN,NaN,8.5,12.7,NaN,NaN

In [21]:
# Finding out the null values in the remaining columns
print(df_1.shape)
df_1.isnull().sum()

(13680, 12)

CollectDate                            0
SampleNum                              0
Ammmonia Nitrogen (mg/L)           11095
Conductivity (µmhos/cm)             2102
Dissolved Oxygen (mg/L)             2386
Fecal Coliform (CFU/100ml)         13483
Nitrate Nitrite (mg/L)             11032
Orthophosphate Phosphate (mg/L)    11104
pH                                  2098
Temperature (°C)                    2083
Total Nitrogen (mg/L)              10950
Total Phosphorus (mg/L)            10841
dtype: int64

In [22]:
# Since we have lots of null values we are replacing the null values in each month with the mean of the remaining values in that month.
# Replacing the NaN values:

df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_3.head(5)

C:\Users\gothw\AppData\Local\Temp\ipykernel_37908\1647429865.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
C:\Users\gothw\AppData\Local\Temp\ipykernel_37908\1647429865.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-06,L2704-5,0.02,102.0,9.17,2.0,0.29,0.011,7.4,7.4,0.39,0.020
1,1994-01-06,L2704-6,0.02,105.0,8.88,2.0,0.29,0.010,7.4,7.3,0.44,0.023
2,1994-01-06,L2704-7,0.02,104.0,9.25,2.0,0.26,0.009,7.4,7.3,0.47,0.026
3,1994-01-06,L2704-8,0.02,104.0,9.22,2.0,0.29,0.010,7.4,7.3,0.44,0.023
4,1994-01-06,L2704-9,0.02,103.0,9.21,2.0,0.29,0.010,7.4,7.3,0.44,0.023

In [23]:
# Removing the SampleNum Column

df_3= df_3.drop(columns=["SampleNum"])

In [24]:
df_3.isnull().sum()

CollectDate                            0
Ammmonia Nitrogen (mg/L)            1631
Conductivity (µmhos/cm)               94
Dissolved Oxygen (mg/L)              107
Fecal Coliform (CFU/100ml)         10608
Nitrate Nitrite (mg/L)              1537
Orthophosphate Phosphate (mg/L)     1540
pH                                    89
Temperature (°C)                      78
Total Nitrogen (mg/L)               1601
Total Phosphorus (mg/L)              169
dtype: int64

In [25]:
# Real Water Quality Index Calculation

# Standard values for each parameter/feature, colB
amm_Sn = 0.1
cond_Sn = 300
dis_ox_Sn = 5.5
fec_coli_Sn = 135
nit_nit_Sn = 0.1
orth_phos_Sn = 0.5
pH_Sn = 8.5
temp_Sn = 7
tot_nit_Sn = 1.2
tot_phos_Sn = 0.1

# Inverse of Standard values for each parameter/feature, colC
inv_amm = 1/amm_Sn
inv_cond = 1/cond_Sn
inv_dis_ox = 1/dis_ox_Sn
inv_fec_coli_Sn = 1/fec_coli_Sn
inv_nit_nit = 1/nit_nit_Sn
inv_orth_phos = 1/orth_phos_Sn
inv_pH = 1/pH_Sn
inv_temp = 1/temp_Sn
inv_tot_nit = 1/tot_nit_Sn
inv_tot_phos = 1/tot_phos_Sn

# Sum of all inverses of standard values, colD
sum_all_inv = inv_amm + inv_cond + inv_dis_ox + inv_fec_coli_Sn + inv_nit_nit + inv_orth_phos + inv_pH + inv_temp + inv_tot_nit + inv_tot_phos

# K is the inverse of the sum of all inverses, colE
K = 1/sum_all_inv

# Wn is K divided by the standard value for each parameter/feature, colF
amm_Wn = K / amm_Sn
cond_Wn = K / cond_Sn
dis_ox_Wn = K / dis_ox_Sn
fec_coli_Wn = K / fec_coli_Sn
nit_nit_Wn = K / nit_nit_Sn
orth_phos_Wn = K / orth_phos_Sn
pH_Wn = K / pH_Sn
temp_Wn = K / temp_Sn
tot_nit_Wn = K / tot_nit_Sn
tot_phos_Wn = K / tot_phos_Sn

# Water Quality Index
#test = ((((df_3.loc[0]['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3.loc[0]['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3.loc[0]['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3.loc[0]['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3.loc[0]['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3.loc[0]['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3.loc[0]['pH']/pH_Sn)*100)*pH_Wn) + (((df_3.loc[0]['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3.loc[0]['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3.loc[0]['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
#test

df_3['WQI'] = ((((df_3['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3['pH']/pH_Sn)*100)*pH_Wn) + (((df_3['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
df_3.head()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1994-01-06,0.02,102.0,9.17,2.0,0.29,0.011,7.4,7.4,0.39,0.020,101.761269
1,1994-01-06,0.02,105.0,8.88,2.0,0.29,0.010,7.4,7.3,0.44,0.023,102.720003
2,1994-01-06,0.02,104.0,9.25,2.0,0.26,0.009,7.4,7.3,0.47,0.026,94.695865
3,1994-01-06,0.02,104.0,9.22,2.0,0.29,0.010,7.4,7.3,0.44,0.023,102.753736
4,1994-01-06,0.02,103.0,9.21,2.0,0.29,0.010,7.4,7.3,0.44,0.023,102.752710

In [26]:
df_3 = df_3.dropna()
print(df_3.shape)
df_3.count()

(3070, 12)

CollectDate                        3070
Ammmonia Nitrogen (mg/L)           3070
Conductivity (µmhos/cm)            3070
Dissolved Oxygen (mg/L)            3070
Fecal Coliform (CFU/100ml)         3070
Nitrate Nitrite (mg/L)             3070
Orthophosphate Phosphate (mg/L)    3070
pH                                 3070
Temperature (°C)                   3070
Total Nitrogen (mg/L)              3070
Total Phosphorus (mg/L)            3070
WQI                                3070
dtype: int64

In [27]:
# Create the output file (CSV)

output_data_file = "../Resources/0612_lake_Sammamish.csv"

# Export the clean water quality data 

df_3.to_csv(output_data_file, index="CollectDate")

In [28]:
print(df_3['CollectDate'].unique().size)

191